<div class="container">
  
  <div class="col-sm-12 manager_contaioner">
    <h5><i class="fas fa-book-open"></i> 依頼業者詳細</h5>
  </div>
  
  <div class="table-responsive">
    <table class="table text-nowrap table-bordered">
      <% @companies.each do |company| %>
      <tr>
        <th>請負業者</th>
        <td><%= company.company %></td>
      </tr>
      <tr>
        <th>管理者</th>
        <td><% manage_authority(Manager.find(company.id)) %><%= @name %></td>
      </tr>
      <tr>
        <th>連絡先</th>
        <td><% manage_authority(Manager.find(company.id)) %><%= @telephone %></td>
      </tr>
      <% end %>
    </table>
  </div>
  
  <div class="col-sm-12 matter_task_pc_container">
    <h5><i class="fas fa-tasks"></i> 進捗状況</h5>
    <div class="mt-1e">
      <% @matter_complete_tasks.each do |complete_task| %>
        <div class="user_task_layout">
          <%= complete_task.title %>
        </div>
        <div style="display: inline;">
          <span class="ml-1e mr-1e"><i class="fas fa-angle-double-right"></i></span>
        </div>
      <% end %>
      
      <% @matter_progress_tasks.each do |progress_task| %>
        <div class="user_task_progress_layout">
          <%= progress_task.title %>
        </div>
        <div style="display: inline;">
          <span class="ml-1e mr-1e"><i class="fas fa-angle-double-right"></i></span>
        </div>
      <% end %>
      
      <% @matter_tasks.each do |matter_task| %>
        <div class="user_task_layout">
          <%= matter_task.title %>
        </div>
        <div style="display: inline;">
          <span class="ml-1e mr-1e"><i class="fas fa-angle-double-right"></i></span>
        </div>
      <% end %>
      
      <div class="user_task_layout">
        完了      
      </div>
    </div>
    
  </div>
  
  <div class="col-sm-12 matter_task_mobile_container">
    <h5>進捗状況</h5>
    <div class="mt-1e">
      <% @matter_complete_tasks.each do |complete_task| %>
        <div class="user_task_layout">
          <%= complete_task.title %>
        </div>
        <div class="ml-2e mt-05e mb-05e">
          <i class="fas fa-angle-double-down"></i>
        </div>
      <% end %>
      
      <% @matter_progress_tasks.each do |progress_task| %>
        <div class="user_task_progress_layout">
          <%= progress_task.title %>
        </div>
        <div class="ml-2e mt-05e mb-05e">
          <i class="fas fa-angle-double-down"></i>
        </div>
      <% end %>
      
      <% @matter_tasks.each do |matter_task| %>
        <div class="user_task_layout">
          <%= matter_task.title %>
        </div>
        <div class="ml-2e mt-05e mb-05e">
          <i class="fas fa-angle-double-down"></i>
        </div>
      <% end %>
      
      <div class="user_task_layout">
        完了      
      </div>
    </div>
    
  </div>
  
</div>