<% employee_staff.each do |staff| %>
  <tr>
    <td>従業員</td>
    <td><%= staff.name %></td>
    <td><%= staff.phone %></td>
    <td><%= staff.email %></td>
    <td>
      <% if manager_signed_in? %>
        <%= link_to "編集", edit_manager_staff_path(current_manager, staff), class: "btn btn-dark btn-sm" %>
        <%= link_to "削除", manager_staff_path(current_manager, staff), data: {confirm: "#{staff.name}を削除しますか？"}, method: :delete, class: "btn btn-destroy btn-sm" %>
      <% elsif submanager_signed_in? %>
        <%= link_to "編集", edit_submanager_staff_path(dependent_manager, current_submanager, staff), class: "btn btn-dark btn-sm" %>
        <%= link_to "削除", submanager_staff_path(dependent_manager, current_submanager, staff), data: {confirm: "#{staff.name}を削除しますか？"}, method: :delete, class: "btn btn-destroy btn-sm" %>
      <% end %>
    </td>
  </tr>
<% end %>
<% outsourcing_staff.each do |staff| %>
  <tr>
    <td>外部スタッフ</td>
    <td><%= staff.name %></td>
    <td><%= staff.phone %></td>
    <td><%= staff.email %></td>
  </tr>
<% end %>