<%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @target_construction_schedules) do |date, schedules| %>
  <span class="pl-10"><%= date.day %></span>
  
  <% schedules.each do |schedule| %>
    <% ganttchart_for_constrcution(schedule) %>
    <div class="ganttchart-construction mt-5 <%= schedule.id %>">
      <div class="status-<%= schedule.status %>"></div>
    </div>
  <% end %>
<% end %>

<script>
  <% @target_construction_schedules.each do |schedule| %>
    $('.<%= schedule.id %>').on('click', function(){
      var day = $(this).parent().attr('id');
      $.ajax({
        type: "GET",
        url: "<%= supplier_managers_construction_schedule_path(id: schedule.id) %>",
        data: {day: day}
      });
    });
  <% end %>
</script>