<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header">素材編集</h5>
        <div class="card-body">
          <%= form_with(model: estimate_detail, url: detail_object_update_employees_estimate_matter_estimate_detail_path(estimate_matter, estimate_detail), method: :patch, remote: true) do |f| %>
            <div class="estimate-material-update-errors"></div>
            
            <% if estimate_detail.material_id.present? %>
              <%= f.label :material_name %>
              <%= f.text_field :material_name, required: true, maxlength: 30, class: "form-control" %>
            <% elsif estimate_detail.construction_id.present? %>
              <%= f.label :construction_name %>
              <%= f.text_field :construction_name, required: true, maxlength: 30, class: "form-control" %>
            <% end %>

            <%= f.label :service_life %>
            <%= f.text_field :service_life, maxlength: 30, class: "form-control" %>

            <%= f.label :price %>
            <%= f.number_field :price, required: true, class: "form-control" %>

            <%= f.label :amount %><span class="ml-05e">(<%= estimate_detail.unit %>)</span></%>
            <%= f.number_field :amount, class: "form-control" %>

            <div class="btn-area">
              <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
              <%= link_to "削除", employees_estimate_matter_estimate_detail_path(estimate_matter, estimate_detail), method: :delete,
                                     data: { confirm: "この素材を削除してよろしいですか？" }, remote: true, class: "btn btn-danger" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>
