<div class="pa-2e">
  <h2>診断書項目一覧
    <%= link_to new_employees_settings_certificate_path, remote: true, class: "btn btn-dark float-r" do %>
      <i class="fas fa-plus"></i> 新規項目追加
    <% end %>
  </h2>

  <div class="table-responsive">
    <table class="table table-bordered text-nowrap common-table">
      <tr>
        <th>項目名</th>
        <th>内容</th>
        <th></th>
      </tr>
      <% @certificates.group("certificates.title").each do |certificate| %>
        <tr>
          <td><%= certificate.title %></td>
          <td><%= content_display(certificate.content, 30) %></td>
          <td>
            <%= link_to "編集", edit_employees_settings_certificate_path(certificate), remote: true, class: "btn btn-sm btn-dark" %>
            <%= link_to "削除", employees_settings_certificate_path(certificate), method: :delete, data: { confirm: "この診断書を削除してよろしいですか？" }, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>