<% if table_type == "three_month" %>
  <%= link_to prev_progress_table_employees_estimate_matters_path(date: first_day.prev_month, table_type: "three_month"), remote: true do %>
    <i class="fas fa-angle-double-left"></i><span class="ml-05e">前３ヶ月分</span>
  <% end %>
  <span class="ml-05e" style="font-size: 25px;"><%= first_day.strftime('%y/%m') %>月 - <%= last_day.strftime('%y/%m') %>月</span>
        
  <%= link_to next_progress_table_employees_estimate_matters_path(date: last_day.since(3.month), table_type: "three_month"), remote: true do %>
    <span class="mr-05e ml-1e">次３ヶ月分</span><i class="fas fa-angle-double-right"></i>
  <% end %>

<% elsif table_type == "six_month" %>
  <%= link_to prev_progress_table_employees_estimate_matters_path(date: first_day.prev_month, table_type: "six_month"), remote: true do %>
    <i class="fas fa-angle-double-left"></i><span class="ml-05e">前６ヶ月分</span>
  <% end %>
  <span class="ml-05e" style="font-size: 25px;"><%= first_day.strftime('%y/%m') %>月 - <%= last_day.strftime('%y/%m') %>月</span>
        
  <%= link_to next_progress_table_employees_estimate_matters_path(date: last_day.since(6.month), table_type: "six_month"), remote: true do %>
    <span class="mr-05e ml-1e">次６ヶ月分</span><i class="fas fa-angle-double-right"></i>
  <% end %>
<% end %>
  
<button id="six_month", class="btn btn-dark float-r mr-1e mb-05e">６ヶ月表示</button>
<button id="three_month", class="btn btn-dark float-r mr-1e mb-05e" style="display: none;">３ヶ月表示</button>


<!--6月表示に切り替え-->
<script>
  $('#six_month').on('click', function(){
    $('#three_month').show();
    $('#six_month').hide();
    $.ajax({
      type: "GET",
      url: "<%= progress_table_for_six_month_employees_estimate_matters_path %>",
      cache: false,
      data: { remote: true }
    })
  })
</script>

<!--３月表示に切り替え-->
<script>
  $('#three_month').on('click', function(){
    $('#six_month').show();
    $('#three_month').hide();
    $.ajax({
      type: "GET",
      url: "<%= progress_table_for_three_month_employees_estimate_matters_path %>",
      cache: false,
      data: { remote: true }
    })
  })
</script>