<% if reports.present? %>
<div class="card">
  <div class="card-body">
    <div class="mt-1e double-line">
      <h4>作業報告</h4>
    </div>
    
    <div class="col-12">
      <% reports.group_by{|report| report.work_date }.each do |date, reports| %>
        
        <h5 class="mt-1e"><i class="fas fa-calendar-alt"></i> <%= date.strftime("%-m月%-d日") %>の報告書</h5>
        
        <div class="table-responsive">
          <table class="table table-bordered text-nowrap common-table">
            <tr>
              <th>確認済</th>
              <th>タイトル</th>
              <th>担当会社</th>
              <th>作業開始</th>
              <th>備考</th>
            </tr>
            <tr>
              <th style="border-bottom: 1px solid black">現況</th>
              <th style="border-bottom: 1px solid black">作業内容</th>
              <th style="border-bottom: 1px solid black">担当者</th>
              <th style="border-bottom: 1px solid black">作業終了</th>
              <th style="border-bottom: 1px solid black">編集</th>
            </tr>
              <% reports.each do |report| %>
              <tr>
                <td class="text-center creation_schedule">
                  <% if @type == "uncheck" %>
                    <input type="checkbox" name="confirmation" value=<%= report.id %> checked="checked">
                  <% elsif report.sm_check == true %>
                    <p>確認済</p>
                  <% else %>
                    <p class="text-danger">未確認</p>
                  <% end %>
                </td>
                <td><%= report.matter_title %></td>
                <td><%= report.construction_schedule.supplier.name %></td>
                <td><%= report.start_time_disp %></td>
                <td class="text-center"><%= report.memo_disp %></td>
              </tr>
              <tr>
                <td style="border-bottom: 1px solid black"><%= report.report_i18n %></td>
                <td style="border-bottom: 1px solid black"><%= report.construction_schedule.title %></td>
                <td style="border-bottom: 1px solid black"><%= report.construction_schedule.person_in_charge %></td>
                <td style="border-bottom: 1px solid black"><%= report.end_time_disp %></td>
                <td style="border-bottom: 1px solid black; vertical-align: middle;" class="text-center">
                  <%= link_to "編集", edit_supplier_managers_construction_report_path(report), remote: true, class: "btn btn-success" %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  
    <% if @type == "uncheck" %>
      <div class="text-center">
        <button class="btn btn-primary col-12" id="confirmation_btn">チェック項目を確認処理</button>  
      </div>
    <% end %>
    
    <% if @type == "uncheck" %>
      <script>
        $('#confirmation_btn').on('click', function(){
          var checked_report_array = [];
          $('#construction_report_index input').each( function(index, element){
            if($(element).prop('checked')){
              var val = $(this).val();
              checked_report_array.push(val);
            }
          });
          $.ajax({
            type: "PATCH",
            url: "<%= confirmation_employees_construction_reports_path %>",
            cache: false,
            data: { report_ids: checked_report_array },
          })
        });
      </script>
    <% end %>
  </div>
</div>
<% end %>