<div class="login-index-container">
  <div class="grid-login">
    <div id="user_login">
      <h2><span class="fontawesome-lock"></span>ログイン</h2>       
      <fieldset>
        <%= form_with(model: @admin, url: admin_session_path(@admin), class: "login-form", local: true) do |f| %>            
            <p><%= f.label :login_id, "従業員ID" %></p>
            <p><%= f.text_field :login_id, autofocus: true, autocomplete: "login_id", maxlength: 10, required: true, id: "login-id" %></p>
            
            <p><%= f.label :password %></p>
            <p><%= f.password_field :password, autocomplete: "current-password", maxlength: 12, required: true, id: "password" %></p>
            
            <%= f.check_box :remember_me, id: "remember-me" %>
            <%= f.label :remember_me, "ログイン状態を維持する" %>
            
            <%= f.submit "ログイン", id: "login" %>
        <% end %>     
      </fieldset>  
    </div>
  </div>
</div>

<script>

  // 入力された従業員IDに合わせてログインフォームを、管理者、マネージャー、スタッフに変更
  $("#login").on("click", function() {
    const form = $(this).parents("form");
    const loginId = $("#login-id");
    const password = $("#password");
    const rememberMe = $("#remember-me");
    const idType = loginId.val().slice(0, 3);

    if(idType == "AD-") {
      form.attr("class", "new_admin");
      form.attr("id", "new_admin");
      form.attr("action", "/admins/sign_in");
      loginId.attr("name", "admin[login_id]");
      password.attr("name", "admin[password]");
      rememberMe.attr("name", "admin[remember_me]");
    } else if(idType == "MN-") {
      form.attr("class", "new_manager");
      form.attr("id", "new_manager");
      form.attr("action", "/managers/sign_in");
      loginId.attr("name", "manager[login_id]");
      password.attr("name", "manager[password]");
      rememberMe.attr("name", "manager[remember_me]");
    } else if(idType == "ST-") {
      form.attr("class", "new_staff");
      form.attr("id", "new_staff");
      form.attr("action", "/staffs/sign_in");
      loginId.attr("name", "staff[login_id]");
      password.attr("name", "staff[password]");
      rememberMe.attr("name", "staff[remember_me]");
    } else {
      $(this).prop('disabled', true);
      $(this).prop('disabled', false);
      return false;
    }
  });
</script>
