<div class="col-12">
  <%= render partial: 'layouts/page_title', locals: { title_1: "アカウント", title_2: "#{current_external_staff.name} の編集", icon: "fa-user-edit"} %>
  
  <div class="avator_container">
    <%= render partial: 'common_layouts/avators/avator', locals:{login_user: current_external_staff, 
                                                                 edit_path: :external_staffs_avator_change_path,
                                                                 destroy_path: :external_staffs_avator_destroy_path} %>
  </div>
  
  <div class="card">
    <div class="card-body">
      <%= form_with(model: @external_staff, url: external_staff_registration_path(@external_staff), local: true) do |f| %>
        <% unless @error_type.present? %>
          <%= render "shared/error_messages", resource: @external_staff %>
        <% end %>
        <%= render 'external_staffs/registrations/partial/form', f: f %>
       
        <div class="btn-area">
          <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="card mt-1e">
    <div class="card-body">
      <% if @error_type.present? %>
        <%= render "shared/error_messages", resource: @external_staff %>
      <% end %>
      <%= render partial: 'common_layouts/registrations/pass_form', 
                 locals: {target: current_external_staff, path: :external_staffs_pass_update_path} %>
    </div>
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>

<% if @external_staff.errors.any? %>
  <script>
    $(document).ready(function() {
      history.pushState("", "", location.href + "/edit")
    });
  </script>
<% end %>
