<div class="row">
  <div class="col-md-6">
    <div class="picture-area">
      <%= image_tag url_for(@image.image.variant(combine_options:{ gravity: :center, resize:"300x300^", crop:"300x300+0+0" })) %>
    </div>
  </div>

  <div class="col-md-6">
    <label>デフォルトから選択</label>    
    <select class="form-control default-title">
      <option value="">選択してください</option>
      <% @reports.each do |report| %>
        <option value="<%= report.title %>"><%= report.title %></option>
      <% end %>
    </select>

    <%= f.label :title %>
    <%= f.text_field :title, maxlength: 30, class: "form-control report-title" %>
    <%= f.hidden_field :image_id, value: @image.id %>
  </div>
</div>

<script>
  $(".default-title").on("change", function(){    
    var defaultTitle = $(this).val();
    $(".report-title").val(defaultTitle);
  });
</script>
