<%= f.label :title %>
<%= f.text_field :title, required: true, class: "form-control", maxlength: 30 %>
   
<%= f.label :member, "担当者" %>
<%= f.select :member, options_for_select(@members.map{ |member|[member[:name], member[:auth] + "#" + member[:id].to_s] }), {include_blank: "選択してください" }, required: true, class: "form-control", id: "member_select" %>
            
<%= f.label :scheduled_date %>
<%= f.date_field :scheduled_date, required: true, class: "form-control" %>
            
<div class="row">
  <div class="col-md-6">
    <%= f.label :scheduled_start_time %>
    <%= f.time_field :scheduled_start_time, required: true, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= f.label :scheduled_end_time %>
    <%= f.time_field :scheduled_end_time, class: "form-control" %>
  </div>
</div>
            
<%= f.label :place %>
<%= f.text_field :place, class: "form-control" %>
            
<%= f.label :note %>
<%= f.text_area :note, class: "form-control" %>

<script>
<% if @member_value.present? %>
  $(document).ready( function(){
    $('select').val("<%= @member_value %>");
  });
<% end %>
</script>