<h5>スケジュール詳細</h5>

<div>
  <span class="calendar_month"><%= @object_day.month %></span>月
  <span class="calendar_month"><%= @object_day.day %></span>日
</div>

<div class="mt-1e">
<% @admin_schedules.each do |key, schedules_arrey| %>
  <span><%= admin_name(key) %></span>
  <%= render partial: 'employees/schedules/partial/schedule_detail_table',
             locals: { schedules_arrey: schedules_arrey } %>
<% end %>

<% @manager_schedules.each do |key, schedules_arrey| %>
  <span><%= manager_name(key) %></span>
  <%= render partial: 'employees/schedules/partial/schedule_detail_table',
             locals: { schedules_arrey: schedules_arrey } %>
<% end %>

<% @staff_schedules.each do |key, schedules_arrey| %>
  <span><%= staff_name(key) %></span>
  <%= render partial: 'employees/schedules/partial/schedule_detail_table',
             locals: { schedules_arrey: schedules_arrey } %>
<% end %>

<% @external_staff_schedules.each do |key, schedules_arrey| %>
  <span><%= external_staff_name(key) %></span>
  <%= render partial: 'employees/schedules/partial/schedule_detail_table',
             locals: { schedules_arrey: schedules_arrey } %>
<% end %>
</div>