<%= form_with(model: [:matter @matter], local: true) do |f| %>
  
  <!--STEP1-->
  <div class="card">
    <h5 class="card-header">
      STEP.1 <span class="ml-1e text-nowrap">タイトル・場所の入力</span>
    </h5>
    <div class="card-body">
      <div class="col-md-7 col-sm-12">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, required: true, class: "form-control" %>
      </div>
      <div class="col-md-10 col-sm-12 mt-1e">
        <%= f.label :actual_spot, "現場住所" %>
        <%= f.text_field :actual_spot, required: true, class: "form-control" %>
      </div>
    </div>
  </div>
    
  <%= f.fields_for :clients, @client do |fi| %>
    <!--STEP2-->
    <div class="card mt-1e">
      <h5 class="card-header">
        STEP.2 <span class="ml-1e">お客様情報の入力</span>
      </h5>
      <div class="card-body">
        <div class="col-md-7 col-sm-12">
          <%= fi.label :name, "名前" %>
          <%= fi.text_field :name, class: "form-control" %>
        </div>
        <div class="col-md-7 col-sm-12 mt-1e">
          <%= fi.label :phone, "連絡先" %>
          <%= fi.phone_field :phone, class: "form-control" %>
        </div>
      </div>
    </div>
  <% end %>
    
  <!--STEP3-->
  <div class="card mt-1e">
    <h5 class="card-header">
      STEP.3 <span class="ml-1e text-nowrap">着工予定日・完了予定日の入力</span>
    </h5>
    <div class="card-body">
      <div class="col-md-7 col-sm-12">
        <%= f.label :scheduled_start_at, "着工予定日" %>
        <%= f.date_field :scheduled_start_at, class: "form-control" %>
      </div>
      <div class="col-md-7 col-sm-12 mt-1e">
        <%= f.label :scheduled_finish_at, "完了予定日" %>
        <%= f.date_field :scheduled_finish_at, class: "form-control" %>
      </div>
    </div>
  </div>
    
   <%= f.submit "登録", class: "btn btn-primary mt-1e" %>
  <% end %>