<div class="container">
  <%= form_with(model: @matter, url: matter_matter_path(@manager, current_matter), method: :patch, local: true) do |f| %>
  
  <!--STEP1-->
    <div class="card">
      <h5 class="card-header">
        STEP.1 <span class="ml-1e text-nowrap">タイトル・場所の入力</span>
      </h5>
      <div class="card-body">
        <div class="col-md-7 col-sm-12">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, required: true, class: "form-control" %>
        </div>
        <div class="col-sm-12 mt-1e">
          <%= f.label :actual_spot, "現場住所" %>
          <span class="prefectures_all float-r"><i class="fas fa-clipboard-list"></i> 都道府県一覧から選択</span>
          <%= f.text_field :actual_spot, required: true, class: "form-control" %>
        </div>
      </div>
    </div>
    
    <%= f.fields_for :clients, @client do |fi| %>
    <!--STEP2-->
      <div class="card mt-1e">
        <h5 class="card-header">
          STEP.2 <span class="ml-1e">お客様情報の入力</span>
        </h5>
        <div class="card-body">
          <div class="col-md-7 col-sm-12">
            <%= fi.label :name, "名前" %>
            <%= fi.text_field :name, class: "form-control" %>
          </div>
          <div class="col-md-7 col-sm-12 mt-1e">
            <%= fi.label :phone, "連絡先" %>
            <%= fi.phone_field :phone, class: "form-control" %>
          </div>
          <div class="col-md-7 col-sm-12 mt-1e">
            <%= fi.label :email, "連絡先" %>
            <%= fi.text_field :email, class: "form-control" %>
          </div>
        </div>
      </div>
    <% end %>
    
    <!--STEP3-->
    <div class="card mt-1e">
      <h5 class="card-header">
        STEP.3 <span class="ml-1e text-nowrap">着工予定日・完了予定日の入力</span>
      </h5>
      <div class="card-body">
        <div class="col-md-7 col-sm-12">
          <%= f.label :scheduled_start_at, "着工予定日" %>
          <%= f.date_field :scheduled_start_at, class: "form-control" %>
        </div>
        <div class="col-md-7 col-sm-12 mt-1e">
          <%= f.label :scheduled_finish_at, "完了予定日" %>
          <%= f.date_field :scheduled_finish_at, class: "form-control" %>
        </div>
      </div>
    </div>
    
    <%= f.submit "登録", class: "btn btn-primary mt-1e" %>
  <% end %>
</div>

<script>
$('.prefectures_all').on('click', function(){
  $.ajax({
    type: "GET",
    url: "<%= prefecture_index_path(dependent_manager) %>",
    cache: false,
    data: {remote: true}
  });
})
</script>