<div class="container">
  <div class= "row">
    <h3 class="col-sm-8 mb-1e">新規案件登録</h3>
    <div class= "col-sm-4">
      <%= link_to "ヘルプ", "#", class: "float-r mb-1e" %>
    </div>
  </div>
  
  <%= form_with(model: @matter, url: matter_matters_path(current_manager), method: :post, local: true) do |f| %>
    <!--STEP1-->
    <div class="card">
      <h5 class="card-header">
        STEP.1 <span class="ml-1e text-nowrap">タイトル・場所の入力</span>
      </h5>
      <div class="card-body">
        <div class="col-md-7 col-sm-12">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, required: true, class: "form-control" %>
        </div>
        <div class="col-sm-12 mt-1e">
          <%= f.label :actual_spot, "現場住所" %>
          <span class="prefectures_all float-r"><i class="fas fa-clipboard-list"></i> 都道府県一覧から選択</span>
          <%= f.text_field :actual_spot, class: "form-control", id: "address_form" %>
        </div>
      </div>
    </div>
    
    <!--STEP2-->
    <div class="card mt-1e">
      <h5 class="card-header">
        STEP.2 <span class="ml-1e">お客様情報の入力</span>
      </h5>
      <div class="card-body">
        <div class="col-md-7 col-sm-12">
          <div class="form-check">
            <input class="user_form-check-input" type="checkbox" id="select_user">
            <label class="user_form-check-label" for="defaultCheck1">
              User一覧から選択する
            </label>
          </div>
          <div class="form-check">
            <input class="user_form-check-input" type="checkbox" id="select_new">
            <label class="user_form-check-label" for="defaultCheck2">
              新規登録する
            </label>
          </div>
        </div>
          
        <!--選択によりform表示-->
        <div class="mt-1e" style="display: none;" id="client_form">
        </div>
        
        <script>
          $("#select_user").on('click', function(){
            var select_user_prop = $('#select_user').prop("checked");
            if(select_user_prop){
              $('#client_form').empty();
              $('#client_form').show();
              $('#client_form').html('<%= escape_javascript(render partial: './matter/matters/client_form/select_user_index', locals: { f: f }) %>');
            };
          });
          
          $('#select_new').on('click', function(){
            var select_new_client_prop = $('#select_new').prop('checked');
            if(select_new_client_prop){
              $('#client_form').empty();
              $('#client_form').show();
              $('#client_form').html('<%= escape_javascript(render partial: './matter/matters/client_form/select_new_client', locals: { f: f }) %>');
            };
          });
        </script>
        
      </div>
    </div>
    
    <!--STEP3-->
    <div class="card mt-1e">
      <h5 class="card-header">
        STEP.3 <span class="ml-1e text-nowrap">着工予定日・完了予定日の入力</span>
      </h5>
      <div class="card-body">
        <div class="col-md-7 col-sm-12">
          <%= f.label :scheduled_start_at, "着工予定日" %>
          <%= f.date_field :scheduled_start_at, class: "form-control" %>
        </div>
        <div class="col-md-7 col-sm-12 mt-1e">
          <%= f.label :scheduled_finish_at, "完了予定日" %>
          <%= f.date_field :scheduled_finish_at, class: "form-control" %>
        </div>
      </div>
    </div>
    
    <!--STEP4-->
    <div class="card mt-1e">
      <h5 class="card-header">
        STEP.4 <span class="ml-1e text-nowrap">担当者の入力</span>
      </h5>
      <div class="card-body">
        <div class="form-check text-left">
          <%= f.collection_check_boxes :submanager_ids, dependent_manager.submanagers, :id, :name, { include_hidden: false}, class: "form-check-input" do |b| %>
            <%= b.label class: "form-check-label mr-2e" do %>
              <%= b.check_box + b.text %>
            <% end %>
          <% end %>
        </div>
        
        <div class="form-check text-left">
          <%= f.collection_check_boxes :staff_ids, dependent_manager.staffs, :id, :name, { include_hidden: false}, class: "form-check-input" do |b| %>
            <%= b.label class: "form-check-label mr-2e" do %>
              <%= b.check_box + b.text %>
            <% end %>
          <% end %>
        </div>
      </div>  
    </div>
    
    <%= f.submit "登録", class: "btn btn-primary mt-1e" %>
  <% end %>
</div>

<!--モーダル枠組み-->
<div class="modal address_modal">
  <div class="modal__bg js-modal-close"></div>
  <div class="address_select">
  </div>
</div>

<!--チェックボックス:複数選択不可-->
<script>
  $(".user_form-check-input").on("click", function(){
    $('.user_form-check-input').prop('checked', false);  //  全部のチェックを外す
    $(this).prop('checked', true);  //  押したやつだけチェックつける
  });
</script>

<script>
$('.prefectures_all').on('click', function(){
  $.ajax({
    type: "GET",
    url: "<%= prefecture_index_path(dependent_manager) %>",
    cache: false,
    data: {remote: true}
  });
})
</script>

