<div class="container">
  
  <%= form_with(model: @matter, url: matter_matters_path(current_manager), method: :post, local: true) do |f| %>
    <!--STEP1-->
    <div class="card">
      <h5 class="card-header">
        STEP.1 <span class="ml-1e text-nowrap">タイトル・場所の入力</span>
      </h5>
      <div class="card-body">
        <div class="col-md-7 col-sm-12">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, required: true, class: "form-control" %>
        </div>
        <div class="col-md-10 col-sm-12 mt-1e">
          <%= f.label :actual_spot, "現場住所" %>
          <%= f.text_field :actual_spot, required: true, class: "form-control" %>
        </div>
      </div>
    </div>
    
    <!--STEP2-->
    <div class="card mt-1e">
      <h5 class="card-header">
        STEP.2 <span class="ml-1e">お客様情報の入力</span>
      </h5>
      <div class="card-body">
        <div class="col-md-7 col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="select_user">
            <label class="form-check-label" for="defaultCheck1">
              User一覧から選択する
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="select_new">
            <label class="form-check-label" for="defaultCheck2">
              新規登録する
            </label>
          </div>
        </div>
          
        <!--選択によりform表示-->
        <div class="mt-1e" style="display: none;" id="client_form">
        </div>
        
        <script>
          $("#select_user").on('click', function(){
            var select_user_prop = $('#select_user').prop("checked");
            if(select_user_prop){
              $('#client_form').empty();
              $('#client_form').show();
              $('#client_form').html('<%= escape_javascript(render partial: './matter/matters/client_form/select_user_index', locals: { f: f }) %>');
            };
          });
          
          $('#select_new').on('click', function(){
            var select_new_client_prop = $('#select_new').prop('checked');
            if(select_new_client_prop){
              $('#client_form').empty();
              $('#client_form').show();
              $('#client_form').html('<%= escape_javascript(render partial: './matter/matters/client_form/select_new_client', locals: { f: f }) %>');
            };
          });
        </script>
        
      </div>
    </div>
    
    <!--STEP3-->
    <div class="card mt-1e">
      <h5 class="card-header">
        STEP.3 <span class="ml-1e text-nowrap">着工予定日・完了予定日の入力</span>
      </h5>
      <div class="card-body">
        <div class="col-md-7 col-sm-12">
          <%= f.label :scheduled_start_at, "着工予定日" %>
          <%= f.date_field :scheduled_start_at, class: "form-control" %>
        </div>
        <div class="col-md-7 col-sm-12 mt-1e">
          <%= f.label :scheduled_finish_at, "完了予定日" %>
          <%= f.date_field :scheduled_finish_at, class: "form-control" %>
        </div>
      </div>
    </div>
    
    <%= f.submit "登録", class: "btn btn-primary mt-1e" %>
  <% end %>
</div>

<!--チェックボックス:複数選択不可-->
<script>
  $(".form-check-input").on("click", function(){
    $('.form-check-input').prop('checked', false);  //  全部のチェックを外す
    $(this).prop('checked', true);  //  押したやつだけチェックつける
  });
</script>


