<% @target_est_matters.each do |month, est_matters| %>
  <tr>
    <td><%= month %>月</td>
    <td>
      <% est_matters.each do |est_matter| %>
        <% if est_matter.sales_statuses.last.status == "appointment" %>
          <%= render partial: 'employees/current_situations/partial/td_layout', locals: {est_matter: est_matter} %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% est_matters.each do |est_matter| %>
        <% if est_matter.sales_statuses.last.status == "inspection" %>
          <%= render partial: 'employees/current_situations/partial/td_layout', locals: {est_matter: est_matter} %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% est_matters.each do |est_matter| %>
        <% if est_matter.sales_statuses.last.status == "calculation" %>
          <%= render partial: 'employees/current_situations/partial/td_layout', locals: {est_matter: est_matter} %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% est_matters.each do |est_matter| %>
        <% if est_matter.sales_statuses.last.status == "waiting_insurance" %>
          <%= render partial: 'employees/current_situations/partial/td_layout', locals: {est_matter: est_matter} %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% est_matters.each do |est_matter| %>
        <% if est_matter.sales_statuses.last.status == "immediately" %>
          <%= render partial: 'employees/current_situations/partial/td_layout', locals: {est_matter: est_matter} %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% est_matters.each do |est_matter| %>
        <% if est_matter.sales_statuses.last.status == "other" %>
          <%= render partial: 'employees/current_situations/partial/td_layout', locals: {est_matter: est_matter} %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% est_matters.each do |est_matter| %>
        <% if est_matter.sales_statuses.last.status == "chasing" %>
          <%= render partial: 'employees/current_situations/partial/td_layout', locals: {est_matter: est_matter} %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% est_matters.each do |est_matter| %>
        <% if est_matter.sales_statuses.last.status == "contract" %>
          <%= render partial: 'employees/current_situations/partial/td_layout', locals: {est_matter: est_matter} %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% est_matters.each do |est_matter| %>
        <% if est_matter.sales_statuses.last.status == "start_of_construction" %>
          <%= render partial: 'employees/current_situations/partial/td_layout', locals: {est_matter: est_matter} %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% est_matters.each do |est_matter| %>
        <% if est_matter.sales_statuses.last.status == "lost" %>
          <%= render partial: 'employees/current_situations/partial/td_layout', locals: {est_matter: est_matter} %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% est_matters.each do |est_matter| %>
        <% if est_matter.sales_statuses.last.status == "lost_by_other" %>
          <%= render partial: 'employees/current_situations/partial/td_layout', locals: {est_matter: est_matter} %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% est_matters.each do |est_matter| %>
        <% if est_matter.sales_statuses.last.status == "other" %>
          <%= render partial: 'employees/current_situations/partial/td_layout', locals: {est_matter: est_matter} %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>