<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header"><%= @adopted_estimate_detail.category_name %>に関する「工事・素材」選択</h5>
        
        <div class="card-body">
          <%= form_with(model: @adopted_estimate_detail, url: employees_matter_adopted_estimate_detail_path(@matter, @adopted_estimate_detail), method: :patch, remote: true, id: "detail_form") do |f| %>
            <div class="adopted-estimate-category-update-errors"></div>

            <%= f.label "工事種類選択" %>
            <% if @constructions.present? %>
              <%= render "employees/matters/adopted_estimate_details/partial/construction_form", f: f %>
            <% else %>
              <p><%= @adopted_estimate_detail.category_name %>に関する工事名称の登録がありません</p>
            <% end %>
            
            <%= f.label "素材種類選択" %>
            <% if @materials.present? %>
              <%= render "employees/matters/adopted_estimate_details/partial/material_form", f: f %>
            <% else %>
             <p><%= @adopted_estimate_detail.category_name %>に関する素材の登録がありません</p>
            <% end %>
            
            <div class="btn-area">
              <button type="submit" class="btn btn-dark" id="submit_<%= @adopted_estimate_detail.id %>">作成</button>
              <%= link_to "カテゴリ削除", employees_matter_adopted_estimate_detail_path(@matter, @adopted_estimate_detail, type: "delete_category"), method: :delete, remote: true,
                                         data: { confirm: "この工事名称を削除してよろしいですか？" }, class: "btn btn-danger" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>

<script>
  // 初期値
  $(function(){
    <% @target_details_include_construction.each.with_index(1) do |detail, index| %>
      $("#construction_<%= index %>").val(<%= detail.construction_id %>);
    <% end %>
    <% @target_details_include_material.each.with_index(1) do |detail, index| %>
      $("#material_<%= index %>").val(<%= detail.material_id %>);
    <% end %>
  });

  // 送信アクション
  $('#submit_<%= @adopted_estimate_detail.id %>').click(function(){
    <% if @materials.present? %>
      material_ids = []
      $('#material_index select').each(function(i, element){
        var value = $(element).val();
        material_ids.push(Number(value));
      });
      $('#material_ids').val(material_ids);
    <% end %>
    
    <% if @constructions.present? %>
      construction_ids = []
      $('#construction_index select').each(function(i, element){
        var value = $(element).val();
        construction_ids.push(Number(value));
      });
      $('#construction_ids').val(construction_ids);
    <% end %>
      
    $('#detail_form').submit;
   
  });
</script>

