<div class="container">
  <h2><%= current_matter.title %><span>の情報</span></h2>
      
  <div class="card text-center matter_index">
    <div class="card-header bg-gray">
      <ul class="nav nav-tabs d-flex flex-column flex-md-row card-header-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#progress_matters" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">概要</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#person_in_charge" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false">担当者</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#user_information" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false">依頼人情報</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#matter_task" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false">作業工程</a>
        </li>
      </ul>
    </div>
        
    <div class="card-body">
      <div class="tab-content" id="myTabContent">
            
        <div class="tab-pane fade show active bg-white" id="progress_matters" role="tabpanel" aria-labelledby="home-tab">
          <h5 class="card-title">概要</h5>
          <%= render 'staff/matters/show_menu/title' %>
        </div>
          
        <div class="tab-pane fade bg-white" id="person_in_charge" role="tabpanel" aria-labelledby="profile-tab">
          <h5 class="card-title">担当者一覧</h5>
          <%= render 'staff/matters/show_menu/person_in_charge' %>
        </div>
          
        <div class="tab-pane fade bg-white" id="user_information" role="tabpanel" aria-labelledby="contact-tab">
          <h5 class="card-title">依頼人情報</h5>
          <%= render 'staff/matters/show_menu/client' %>
        </div>
        
        <div class="tab-pane fade bg-white" id="matter_task" role="tabpanel" aria-labelledby="contact-tab">
          <h5 class="card-title">作業工程</h5>
          <div class="task_index">
            <%= render 'staff/matters/show_menu/matter_task/index' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>