<div class="images-show">
  <%= form_with(model: @image, url: employees_matter_image_path(@image), local: true) do |f| %>
    <div>
      <%= f.label :content, '内容' %>
      <%= f.text_field :content, readonly: true %>
    </div>
    
    <div>
      <%= f.label :shooted_on, '撮影日' %>
      <%= f.text_field :shooted_on, readonly: true %>
    </div>
  
    <% if @image.images.present? %>
      <p>現在登録されている画像（削除するものはチェックしてください）</p>
      <% @image.images.each do |image| %>
        <%= f.check_box :image_ids, {multiple: true}, image.id, false %>
        <%= image_tag image.variant(resize: "400x400") %> <br>
      <% end %>
    <% end %>
  
    <div>
      <%= f.submit '削除する', class: "btn btn-md btn-danger"  %>
    </div>
  <% end %>
</div>