<%= form_with(local: true) do |f| %>
  <% if @image.images.present? %>
    <p>削除するものはチェックしてください</p>
    <% @image.images.each do |image| %>
      <%= f.check_box :image_ids, {multiple: true}, image.id, false %>
      <%= image_tag image.variant(resize: "400x400") %> <br>
    <% end %>
  <% end %>

  <div style="margin-top: 10px;">
    <%= f.submit '削除する', class: "btn btn-md btn-primary" %>
    <%= link_to "戻る", employees_matter_images_path, class: "btn btn-md btn-primary"  %>
  </div>
<% end %>