<div class="table-responsive pc_type">
  <table class="table table-bordered text-nowrap common-table">
    <tr>
      <th>名前</th>
      <td><%= @client.name %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td><%= @client.kana %></td>
    </tr>
    <tr>
      <th>ログインID</th>
      <td><%= @client.login_id %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= postal_code_display(@client.postal_code) %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @client.prefecture_code %><%= @client.address_city %><%= @client.address_street %></td>
    </tr>
    <tr>
      <th>電話番号①</th>
      <td><%= @client.phone_1 %></td>
    </tr>
    <tr>
      <th>電話番号②</th>
      <td><%= @client.phone_2 %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @client.email %></td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td><%= @client.birthed_on %></td>
    </tr>
  </table>
</div>

<div class="mobile_type">
  <div>
    <button type="button" id="tableCollapse" class="navbar-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  
  <div class="responsive_table_wrapper">
    <nav class="responsive_table_sidebar">
      <ul class="components">
        <li>お名前</li>
        <li>フリガナ</li>
        <li>LOGIN-ID</li>
        <li>郵便番号</li>
        <li>ご住所</li>
        <li>TEL①</li>
        <li>TEL②</li>
        <li>生年月日</li>
      </ul>
    </nav>
    
    <div class="table_content text-nowrap">
      <div class="content"><%= @client.name %></div>
      <div class="content"><%= @client.kana %></div>
      <div class="content"><%= @client.login_id %></div>
      <div class="content"><%= postal_code_display(@client.postal_code) %></div>
      <div class="content"><%= @client.prefecture_code %><%= @client.address_city %><%= @client.address_street %></div> 
      <div class="content">
        <a href="tel:<%= @client.phone_1 %>" class=""><%= mobile_phone_display(@client.phone_1) %></a>
      </div>
      <div class="content">
        <a href="tel:<%= @client.phone_2 %>" class=""><%= mobile_phone_display(@client.phone_2) %></a>
      </div>
      <div class="content"><%= @client.email %></div>
      <div class="content"><%= @client.birthed_on %></div>
    </div>
    
  </div>
</div>

<div class="btn-area">
  <%= link_to "編集", edit_employees_client_path(@client), remote: true, class: "btn btn-dark" %>
  <%= link_to "削除", employees_client_path(@client), method: :delete, data: { confirm: "この顧客を削除してよろしいですか？" }, class: "btn btn-danger" %>
</div>
