<% objects.each do |id, clients| %>
  <tr class="tr-link" data-link="<%= employees_client_path(id: id) %>">
    <td><%= clients[0].name %></td>
    <td><%= clients[0].login_id %></td>
    <td><%= phone_formatted(clients[0].phone_1) %></td>
    <td><%= clients[0].email %></td>
    <td><%= clients[0].last_update_for_estimate_matter_or_matter %></td>
  </tr>
<% end %>

<%= javascript_include_tag "tr_link.js" %>
