<div class="col-12">
  <h2><i class="fas fa-clipboard"></i> 見積案件詳細</h2>
  
  <table class="table table-bordered table-column-type">
    <tr>
      <th>タイトル</th>
      <td><%= @estimate_matter.title %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @estimate_matter.postal_code %></td>
    </tr>
    <tr>
      <th>都道府県</th>
      <td><%= @estimate_matter.prefecture_code %></td>
    </tr>
    <tr>
      <th>市区町村</th>
      <td><%= @estimate_matter.address_city %></td>
    </tr>
    <tr>
      <th>町名番地</th>
      <td><%= @estimate_matter.address_street %></td>
    </tr>
    <tr>
      <th>内容</th>
      <td><%= @estimate_matter.content %></td>
    </tr>
  </table>
</div>
