<div class="col-12">
  <h2><i class="fas fa-clipboard"></i> 見積案件詳細</h2>
  
  <table class="table table-bordered table-column-type">
    <tr>
      <th>タイトル</th>
      <td><%= @estimate_matter.title %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @estimate_matter.postal_code %></td>
    </tr>
    <tr>
      <th>都道府県</th>
      <td><%= @estimate_matter.prefecture_code %></td>
    </tr>
    <tr>
      <th>市区町村</th>
      <td><%= @estimate_matter.address_city %></td>
    </tr>
    <tr>
      <th>町名番地</th>
      <td><%= @estimate_matter.address_street %></td>
    </tr>
    <tr>
      <th>内容</th>
      <td><%= @estimate_matter.content %></td>
    </tr>
  </table>

  <div class="accordion mt-1e" id="accordion-estimates">
    <div class="card">
      <div class="card-header bg-dark" id="headingOne">
        <h5 class="text-light">
          見積一覧
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-estimates" aria-expanded="true" aria-controls="collapse-estimates">
            詳細
          </button>
        </h5>
      </div>
  
      <div id="collapse-estimates" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-estimates">
        <div class="card-body">
          <% @estimates.group_by {|estimate| estimate.id }.each do |estimate| %>
            <% total_price = 0 %>
            <div class="flex estimate-table-header mt-1e">
              <div class="estimate-name">見積名</div>
              <div style="width: 80%;" class="flex">
                <div class="category-name">見積カテゴリ名</div>
                <div class="construction-material flex">
                  <div class="construction-material-detail">素材・工事名</div>
                  <div class="construction-material-detail">耐用年数</div>
                  <div class="construction-material-detail">単価</div>
                  <div class="construction-material-detail">単位</div>
                  <div class="construction-material-detail">数量</div>
                  <div class="construction-material-detail-total">合計金額</div>
                </div>
              </div>
            </div>
            <% estimate = estimate[1] %>
            <div class="estimate-table-body flex">
              <!-- 見積のプラン名 -->
              <div class="estimate-name">
                <%= estimate[0].title %>
              </div>

              <div style="width: 80%;">
                <% estimate.group_by { |category| category.category_id }.each_with_index do |category, index| %>
                  <% category = category[1] %>
                  <% if category_id = category[0].category_id %>
                    <% last = "last" if index == estimate.size - 1 %>
                    <div class="flex category-item category-item-<%= last %>">
                      <div class="category-name category-name-<%= last %>">
                        <%= category[0].category_name %>
                      </div>
                      <div class="construction-material construction-material-<%= last %>">              
                        <% if @materials %>
                          <% materials = @materials.where(categories: { id: category_id }) %>
                          <% if materials.size > 0 %>
                            <% material_presence = true %>                
                          <% else %>
                            <% material_presence = false %>
                          <% end %>
                          <% materials.each_with_index do |material, index| %>
                            <% if index == materials.size - 1 %>
                              <% last = "last" %>
                            <% else %>
                              <% last = "" %>
                            <% end %>
                            <div class="flex construction-material-item construction-material-item-<%= last %>">
                              <div class="construction-material-detail"><%= material.name %></div>
                              <div class="construction-material-detail"><%= material.service_life %></div>
                              <div class="construction-material-detail"><%= material.price %></div>
                              <div class="construction-material-detail"><%= material.unit %></div>
                              <div class="construction-material-detail"><%= material.amount %></div>
                              <% total_price = total_price.to_i + material.total.to_i %>
                              <div class="construction-material-detail-total"><%= "#{ material.total }円" if material.total.present? %></div>
                            </div>
                          <% end %>
                        <% end %>
                        <% if @constructions %>
                          <% constructions = @constructions.where(categories: { id: category_id }) %>
                          <% constructions.each_with_index do |construction, index| %>
                            <% if index == 0 && material_presence %>
                              <% with_border_top = "with-border-top" %>
                            <% else %>
                              <% with_border_top = "" %>
                            <% end %>
                            <% if index == constructions.size - 1 %>
                              <% last = "last" %>
                            <% else %>
                              <% last = "" %>
                            <% end %>
                            <div class="flex construction-material-item <%= with_border_top %> construction-material-item-<%= last %>">
                              <div class="construction-material-detail"><%= construction.name %></div>
                              <div class="construction-material-detail"></div>
                              <div class="construction-material-detail"><%= construction.price %></div>
                              <div class="construction-material-detail"><%= construction.unit %></div>
                              <div class="construction-material-detail"><%= construction.amount %></div>
                              <% total_price = total_price.to_i + construction.total.to_i %>
                              <div class="construction-material-detail-total"><%= "#{ construction.total }円" if construction.total.present? %></div>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="estimate-table-footer">合計見積金額 <%= total_price %>円</div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-1e" id="accordion-certificates">
    <div class="card">
      <div class="card-header bg-dark" id="headingOne">
        <h5 class="text-light">
          診断書一覧
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-certificates" aria-expanded="true" aria-controls="collapse-certificates">
            詳細
          </button>
        </h5>
      </div>
  
      <div id="collapse-certificates" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-certificates">
        <div class="card-body">
          <% @certificates.each do |certificate| %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
