<div class="col-12">
  <h2><i class="fas fa-clipboard"></i> 見積案件詳細</h2>
  
  <table class="table table-bordered table-column-type">
    <tr>
      <th>タイトル</th>
      <td><%= @estimate_matter.title %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @estimate_matter.postal_code %></td>
    </tr>
    <tr>
      <th>都道府県</th>
      <td><%= @estimate_matter.prefecture_code %></td>
    </tr>
    <tr>
      <th>市区町村</th>
      <td><%= @estimate_matter.address_city %></td>
    </tr>
    <tr>
      <th>町名番地</th>
      <td><%= @estimate_matter.address_street %></td>
    </tr>
    <tr>
      <th>内容</th>
      <td><%= @estimate_matter.content %></td>
    </tr>
  </table>

  <div class="accordion mt-1e" id="accordion-estimates">
    <div class="card">
      <div class="card-header bg-dark" id="headingOne">
        <h5 class="text-light">
          見積一覧
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-estimates" aria-expanded="true" aria-controls="collapse-sales">
            詳細
          </button>
        </h5>
      </div>
  
      <div id="collapse-estimates" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-estimates">
        <div class="card-body">
          <% @estimates.each do |estimate| %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-1e" id="accordion-certificates">
    <div class="card">
      <div class="card-header bg-dark" id="headingOne">
        <h5 class="text-light">
          見積一覧
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-estimates" aria-expanded="true" aria-controls="collapse-sales">
            詳細
          </button>
        </h5>
      </div>
  
      <div id="collapse-estimates" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-certificates">
        <div class="card-body">
          <% @certificates.each do |certificate| %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
