<div class="table-responsive">
  <table class="table table-sm common-table text-nowrap">
    <tr>
      <th>名前</th>
      <td><%= @client.name %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td><%= @client.kana %></td>
    </tr>
    <tr>
      <th>ログインID</th>
      <td><%= @client.login_id %></td>
    </tr>
    <tr>
      <th>電話番号①</th>
      <td><%= @client.phone_1 %></td>
    </tr>
    <tr>
      <th>電話番号②</th>
      <td><%= @client.phone_2 %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @client.email %></td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td><%= @client.birthed_on %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @client.postal_code %></td>
    </tr>
    <tr>
      <th>都道府県</th>
      <td><%= @client.prefecture_code %></td>
    </tr>
    <tr>
      <th>市区町村</th>
      <td><%= @client.address_city %></td>
    </tr>
    <tr>
      <th>町名番地</th>
      <td><%= @client.address_street %></td>
    </tr>
  </table>
</div>

<div class="btn-area">
  <%= link_to "編集", edit_employees_client_path(@client), remote: true, class: "btn btn-dark" %>
  <%= link_to "削除", employees_client_path(@client), method: :delete, data: { confirm: "この顧客を削除してよろしいですか？" }, class: "btn btn-danger" %>
</div>
