<div class="table-responsive">
  <table class="table table-bordered text-nowrap common-table">
    <tr>
      <th>名前</th>
      <td><%= @client.name %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td><%= @client.kana %></td>
    </tr>
    <tr>
      <th>ログインID</th>
      <td><%= @client.login_id %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @client.postal_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @client.prefecture_code %><%= @client.address_city %><%= @client.address_street %></td>
    </tr>
    <tr>
      <th>電話番号①</th>
      <td><%= @client.phone_1 %></td>
    </tr>
    <tr>
      <th>電話番号②</th>
      <td><%= @client.phone_2 %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @client.email %></td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td><%= @client.birthed_on %></td>
    </tr>
  </table>
</div>

<div class="btn-area">
  <%= link_to "編集", edit_employees_client_path(@client), remote: true, class: "btn btn-dark" %>
</div>
