<<<<<<< HEAD
<div class="table-responsive">
  <table class="table table-sm common-table text-nowrap">
    <tr>
      <th>タイトル</th>
      <th>現場住所</th>
    </tr>
    <% @estimate_matters.each do |estimate_matter| %>
      <tr class="tr-link" data-link="<%=  %>">
        <td><%= estimate_matter.title %></td>
        <td><%= estimate_matter.prefecture_code %></td>
        <td><%= estimate_matter.address_city %></td>
        <td><%= estimate_matter.address_street %></td>
=======
<ul class="nav nav-tabs title_tab_bar">
  <li class="nav-item">
    <span class="nav-link title_tab" style="font-size: 18px">未成約案件</span>
  </li>
</ul>
<div class="table-responsive">
  <table class="table table-bordered text-nowrap common-table">
    <tr>
      <th>タイトル</th>
      <th>現場住所</th>
      <th>状況</th>
    </tr>
    <% @client_estimate_matters.each do |estimate_matter| %>
      <tr class="tr-link" data-link="<%= employees_estimate_matter_path(estimate_matter) %>">
        <td><%= estimate_matter.title %></td>
        <td><%= estimate_matter.prefecture_code %><%= estimate_matter.address_city %><%= estimate_matter.address_street %></td>
        <td><%= estimate_matter.sales_statuses.last.status_i18n %></td>
>>>>>>> b50f3d497bb7f7ea5923827acde827222fb59edd
      </tr>
    <% end %>
  </table>
</div>
<<<<<<< HEAD
=======

<ul class="nav nav-tabs title_tab_bar">
  <li class="nav-item">
    <span class="nav-link title_tab" style="font-size: 18px">成約案件</span>
  </li>
</ul>
<div class="table-responsive">
  <table class="table table-bordered text-nowrap common-table">
    <tr>
      <th>タイトル</th>
      <th>現場住所</th>
    </tr>
    <% @client_matters.each do |matter| %>
      <tr class="tr-link" data-link="<%= employees_matter_path(matter) %>">
        <td><%= matter.title %></td>
        <td><%= matter.prefecture_code %><%= matter.address_city %><%= matter.address_street %></td>
      </tr>
    <% end %>
  </table>
</div>
  
>>>>>>> b50f3d497bb7f7ea5923827acde827222fb59edd
