<div class="boxes">
  
  <% @bands_hash.each_with_index do |band, index| %>
    <input type="checkbox" id="box-<%= index %>" class="checkbox", name="band_connection[band_key]" value="<%= band["band_key"] %>">
    <label for="box-<%= index %>">
      <div class="label-container">
        <%=image_tag band["cover"], :size =>'50x50', id: "cover_box-#{index}" %>
        <div class="name" id="name_box-<%= index %>"><%= band["name"] %></div>
      </div>
    </label>
  <% end %>
</div>

<script>
  $(".checkbox").on("click", function(){
    $('.checkbox').prop('checked', false);
    $(this).prop('checked', true);
    var band_key = $(this).val();
    var index = $(this).attr('id');
    var band_name = $(`#name_${index}`).text();
    var band_cover = $(`#cover_${index}`).attr('src');
    $.ajax({
      type: "GET",
      url: "<%= connect_employees_band_connections_path %>",
      cache: false,
      data: { band_key: band_key,
              band_name: band_name,
              band_cover: band_cover,
              type: "<%= @type %>",
              estimate_matter_id: "<%= current_estimate_matter.id %>",
              remote: true }
    });
  });
</script>