<table class="table table-bordered default_submanager_event_table">
  <% old_event_name = ""%>
  <% default_submanager_event_titles.each do |event_title| %>
    <% new_event_name = event_title.event_name %>
    <% if old_event_name != new_event_name%>
      <tr>
        <td id="default_submanager_event_title_<%= event_title.id %>" class="default_submanager_event_title"><%= event_title.event_name %></td>
      </tr>
      <% old_event_name = new_event_name%>
    <% end %>
  <% end %>
</table>

<script>
<% default_submanager_event_titles.each do |event_title| %>
  $('#default_submanager_event_title_<%= event_title.id %>').on('click', function(){
    $('#default_submanager_event_<%= event_title.id %>_show').show();
    $('.default_submanager_event_show:not(#default_submanager_event_<%= event_title.id %>_show)').hide();
    $('#default_submanager_event_title_<%= event_title.id %>').addClass('active');
    $('.default_submanager_event_title:not(#default_submanager_event_title_<%= event_title.id %>)').removeClass('active');
    $('.default_submanager_event_title_new_form').hide();
  });
<% end %>
</script>