<h5>BAND画像</h5>
<% @photo_arrey.each.with_index(1) do |photo_info, index| %>
  <div class="band_image_container" id="band_album_<%= index %>">
    <span class="box_title">
      <div class="table-responsive">
        <table class="table title_table text-nowrap">
        <tr>
          <th>投稿者</th>
          <td><%= photo_info["author"]%></td>
          <th>タグ</th>
          <td><%= photo_info["content"]%></td>
        </tr>
      </table>
      </div>
    </span>
    
    <div class="container_close album_delete_<%= index %>">
      <i class="fas fa-times-circle"></i>
    </div>
    
    <%= form_with(model: current_estimate_matter, url: save_for_band_image_employees_estimate_matter_images_path(current_estimate_matter), method: :post, remote: true) do |f| %>
      <div class="table-responsive">
        <table class="mt-05e">
          <tr>
            <% photo_info["photo"].each_with_index do |photo_url, index| %> 
              <% if previously_saved_image?(@images, photo_url) %>
                <td>取込済</td>
              <% else %>
                <%= f.fields_for "images[]", current_estimate_matter.images.new do |fi| %>
                  <td>
                    <%= fi.check_box :image, {checked: false}, photo_url, false %>
                  </td>
                <% end %>
                <%= f.hidden_field :author, value: photo_info["author"] %>
                <%= f.hidden_field :content, value: photo_info["content"] %>
                <%= f.hidden_field :shooted_on, value: photo_info["created_at"] %> 
              <% end %>
            <% end %>
          </tr>
          <tr>
            <% photo_info["photo"].each do |photo_url| %>
              <td>
                <%= image_tag photo_url, :size => "150x150", class: "pc_type" %> 
                 <%= image_tag photo_url, :size => "100x100", class: "mobile_type" %> 
              </td>
            <% end %>
          </tr>
        </table>
      </div>
      <%= f.submit "選択した画像を取り込む", class: "btn btn-dark mt-05e" %>
    <% end %>
  </div>
<% end %>

<script>
<% @photo_arrey.each.with_index(1) do |photo_info, index| %>
  $('.album_delete_<%= index %>').on('click', function(){
    $('#band_album_<%= index %>').hide();
  });
<% end %>
</script>