<% objects.each do |client| %>
  <tr class="tr-link" data-link="<%= employees_client_path(client) %>">
    <td><%= client.name %></td>
    <td><%= client.login_id %></td>
    <td><%= client.gender_i18n %></td>
    <td><%= client.phone_1 %></td>
    <td><%= client.phone_2 %></td>
    <td><%= client.email %></td>
  </tr>
<% end %>
