<div class="col-12">
  <h2><i class="fas fa-address-book"></i> 顧客一覧</h2>
  <div class="text-right">
    <%= link_to new_employees_client_path, remote: true, class: "btn btn-dark" do %>
      <i class="fas fa-user-plus"></i> 新規顧客
    <% end %>
  </div>

  <div class="mt-1e">
    <div class="text-center">
      <div class="select-switch">
        <input type="radio" name="switch" id="radio1" checked>
        <label for="radio1" class="mt-0">成約済顧客</label>
        <input type="radio" name="switch" id="radio2">
        <label for="radio2" class="mt-0">未成約顧客</label>
      </div>
    </div>
    
    <div class="col-md-6" style="margin-left: -1em;">
      <%= form_with(url: search_index_employees_clients_path, method: :post, remote: true) do |f| %>
        <div class="input-group">
          <%= f.text_field :name, class: "form-control", id: "search_name", placeholder: "名前検索", required: true %>
          <div class="input-group-append">        
            <input type="submit" value="&#xf002;" class="fas btn btn-primary">
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="table-responsive">
    <table class="table table-bordered text-nowrap clients-table">
      <thead>
        <tr>
          <th>名前</th>
          <th>顧客ID</th>
          <th>電話番号①</th>
          <th>メールアドレス</th>
        </tr>
      </thead>
      <tbody id="search_clients"></tbody>
      <tbody id="tab1">
        <%= render "/employees/clients/partial/index_table", objects: @clients_has_matter, type: "has_matter", display_type: @display_type %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $("#radio2").on('click', function(){
    window.location.href = "<%= index_for_no_matter_employees_clients_path %>";
  });
</script>
