<div class="col-12">
  <h2><i class="fas fa-address-book"></i> 顧客一覧</h2>
  
  <div class="select_switch">
    <input type="radio" name="switch" id="radio1" checked>
    <label for="radio1">成約済顧客</label>
    <input type="radio" name="switch" id="radio2">
    <label for="radio2">未成約顧客</label>
    <div class="search_window">
      <div class="form-inline">
        <%= form_with(url: search_index_employees_clients_path, method: :post, remote: true) do |f| %>
          <div style="display: inline-flex">
            <%= f.text_field :name, class: "form-control mx-2 mg-0", id: "search_name", placeholder: "名前検索", required: true %>
            <%= f.submit "検索", class: "btn btn-md btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="client_new">
    <%= link_to new_employees_client_path, remote: true, class: "btn btn-dark client_new_btn" do %>
      <i class="fas fa-plus"></i> 新規顧客
    <% end %>
  </div>
  
  <div>
    <div class="table-responsive">
      <table class="table table-bordered text-nowrap common-table">
        <thead>
        <tr>
          <th>名前</th>
          <th>顧客ID</th>
          <th>性別</th>
          <th>電話番号①</th>
          <th>電話番号②</th>
          <th>メールアドレス</th>
        </tr>
        </thead>
        <tbody id="has_matter">
          <%= render "index_table", objects: @clients, display_type: @display_type %>
        </tbody>
        <tbody id="no_matter" style="display: none;">
          <%= render "index_table", objects: @no_matter_clients, display_type: @display_type %>
        </tbody>
        <tbody id="search_clients"></tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $('#radio2').on('click', function(){
    $('#no_matter').show();
    $('#has_matter').hide();
    $('#search_clients').hide();
  });
  $('#radio1').on('click', function(){
    $('#no_matter').hide();
    $('#has_matter').show();
    $('#search_clients').hide();
  });
</script>
