<div>
  <h2>顧客一覧</h2>
  <button class="btn btn-dark" data-toggle="modal" data-target="#client-new">作成</button>
  <table class="table table-sm" id="staffs-table">
    <tr>
      <th>名前</th>
      <th>顧客ID</th>
      <th>性別</th>
      <th>電話番号①</th>
      <th>電話番号②</th>
      <th>メールアドレス</th>
    </tr>
    <% @clients.each do |client| %>
      <tr class="tr-link" data-link="<%= employees_client_path(client) %>">
        <td><%= client.name %></td>
        <td><%= client.login_id %></td>
        <td><%= client.gender %></td>
        <td><%= client.phone_1 %></td>
        <td><%= client.phone_2 %></td>
        <td><%= client.address %></td>
      </tr>
    <% end %>
  </table>
</div>
