<% image.images.each do |images| %>
  <figure class="images-partial">
    <%= image_tag(images, width:400) %>
    <div class=img-display-area>
      <%= image.content %>
      <%= image.shooted_on %>
      <div class="margin-left-posision">
        <%= link_to icon('fas', 'edit'), edit_employees_matter_image_path(current_matter, image.id) %>
        <%= link_to icon('fas', 'trash-alt'), employees_matter_image_path(current_matter, image.id), method: :delete, data: { confirm: 'この写真を削除してよろしいですか?' } %>
      </div>
    </div>
  </figure>
<% end %>
<% @messages.each do |message| %>
  <figure class="images-partial">
    <%= image_tag(message.photo, width:400) %>
    <div class=img-display-area>
      投函者：<%= message.mailer %>
      <%= message.created_at.strftime("%Y-%m-%d") %>
    </div>
  </figure>
<% end %>