<%= render "shared/flash" %>

<div class="estimate_matter_images_page" id="images-page">
  
  <section>
    <%= render partial: "layouts/page_title", locals: { title_1: "画像一覧", title_2: "#{ @matter.title }", icon: "fa-camera"} %>
  
    <div class="text-right">
      <%= link_to "着工案件に戻る", employees_matter_path(@matter), class: "btn btn-dark mobile_type" %>
      <%= link_to '画像追加', new_employees_matter_image_path(@matter), remote: true, class: "btn btn-md btn-primary mt-1e" %>
    </div>
  </section>
  
  <section>
    <div class="tab-wrap">
      <input id="tab01" type="radio" name="tab" class="tab-switch" checked="checked"><label class="tab-label" for="tab01">取込済画像一覧</label>
      <div class="tab-content" id="image_index">
        <%= render 'employees/matters/images/partial/image' %>
      </div>
      
      <input id="tab02" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab02">BAND画像取込</label>
      <div class="tab-content" id="band_album">
        <% if @matter.band_connection.present? %>
          <%= render 'employees/matters/images/partial/band_image' %>
        <% else %>
          <div class="text-center">
            <p>BANDが選択されていません</p>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  
</div>

<script>
  $(function(){
    <% if params[:band_content].present? %>
      $('#tab01').prop('checked', false);
      $('#tab02').prop('checked', true);
    <% end %>
  });  
</script>

<script>
  <% if @search_band_word.present? %>
    $(function(){
      var val = "<%= @search_band_word %>";
      $('#band_search').val(val);
    });
  <% end %>
</script>