<div class="col-lg-12 col-md-12">
  <!--▼出退勤ボタンの表示-->
  <ul class="nav nav-tabs title_tab_bar">
    <li class="nav-item">
      <a class="nav-link attendance_tab">本日の出退勤</a>
    </li>
  </ul>
  <div class="mt-1e text-center">
    <%= render partial: "common_layouts/attendances/top_attendance", locals: { target: current_external_staff, attendance: @attendance, path: :external_staffs_attendance_path } %>
  </div>
  
  <ul class="nav nav-tabs title_tab_bar">
    <li class="nav-item">
      <a class="nav-link warning_tab">警告事項</a>
    </li>
  </ul>
  
  <div class="news_container">
    <div class="top_page_contents">
    <!--足場・発注勧告-->
      <% if @alert_tasks %>
        <p><i class="fas fa-exclamation-circle fa-orange"></i>
          <span><%= link_to "未完了タスク【#{alert_task_title(@alert_tasks)}】：#{ @alert_tasks_count }件", external_staffs_index_path, remote: true %></span>
        </p>
      <% end %>
    <!--出退勤関係-->
      <% if @own_error_attendances %>
        <%= render partial: 'common_layouts/attendances/own_error_attendances', 
                   locals: {path: :external_staffs_attendances_path} %>
      <% end %>
    </div>
  </div>
  
  <!--▼新着情報コンテナ-->
  <ul class="nav nav-tabs title_tab_bar mt-2e">
    <li class="nav-item">
      <a class="nav-link title_tab">新着情報</a>
    </li>
  </ul>
  
  <div class="news_container">
    <div class="top_page_contents">
      <% if @applicate_schedules.present? %>
        <p><i class="fas fa-exclamation-circle fa-red"></i>
          <%= link_to application_employees_schedules_path do %>
            <span>スケジュール変更申請が<%= @applicate_schedules.count %>件あります</span>
          <% end %>
        </p>
      <% end %>
      
      <% if @notifications %>
        <%= render 'common_layouts/notifications/schedule_notification_lists' %>
        <%= render 'common_layouts/notifications/task_notification_lists' %>
      <% end %>
      
      <% unless @applicate_schedules || @notifications %>
        <p>新着情報はありません</p>
      <% end %>
    </div>
  </div>
  
  <div class="accordion mt-1e" id="accordion-tasks">
    <div class="card">
      <div class="card-header bg-dark" id="headingTwo">
        <h5 class="text-light">
          タスク管理
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-tasks" aria-expanded="true" aria-controls="collapse-tasks">
            詳細
          </button>
        </h5>
      </div>
        
      <div id="collapse-tasks" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-tasks">
        <div class="card-body">
          <div class="tasks-index">
            <%= render "external_staffs/tasks/partial/tasks_index" %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
