<div class="col-lg-12 col-md-12">
  <!--▼出退勤ボタンの表示-->
  <ul class="nav nav-tabs title_tab_bar">
    <li class="nav-item">
      <a class="nav-link attendance_tab">本日の出退勤</a>
    </li>
  </ul>
  <div class="mt-1e text-center">
    <%= render partial: "common_layouts/attendances/top_attendance", locals: { target: current_external_staff, attendance: @attendance, path: :external_staffs_attendance_path } %>
  </div>
  
  <!--▼--alert--▼-->
  <%= render 'shared/top_pages/alert_list/top' %>
  
  <!--▼--information--▼-->
  <%= render 'shared/top_pages/information/top' %>
  
  <ul class="nav nav-tabs title_tab_bar">
    <li class="nav-item">
      <a class="nav-link title_tab">本日の作業</a>
    </li>
  </ul>
  <div class="mt-1e text-center">
    <%= render partial: "external_staffs/matters/partial/construction_schedule",
               locals: {construction_schedules: @construction_schedules_for_today } %>
  </div>
  
  <!--▼--schedule--▼-->
  <%= render 'shared/top_pages/schedule/top' %>
  
  <!--▼--task--▼-->
  <%= render 'shared/top_pages/tasks/top' %>

</div>
