<div class="table-responsive">
  <table class="table text-nowrap table-bordered table-column-type mt-1e">
    <thead>
      <tr>
        <th>画像</th>
        <th>診断書名</th>
        <th>診断内容</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="sortable-certificates">
      <% @certificates.each do |certificate| %>
        <tr class="tr-sortable">
          <td>
            <% if image = certificate.image %>
              <%= image_tag url_for(image.image.variant(combine_options:{gravity: :center, resize:"50x50^",crop:"50x50+0+0"})) %>
            <% end %>
          </td>
          <td><%= certificate.title %></td>
          <td><%= content_display(certificate.content, 30) %></td>
          <td>
            <%= link_to "編集", edit_employees_estimate_matter_certificate_path(@estimate_matter, certificate),remote: true, class: "btn btn-sm btn-dark" %>
            <%= link_to "削除", employees_estimate_matter_certificate_path(@estimate_matter, certificate), method: :delete, remote: true,
                              data: { confirm: "この診断書を削除してよろしいですか？" }, class: "btn btn-sm btn-danger" %>  
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= javascript_include_tag "Sortable.min.js" %>

<script>
  $(function() {
    let el = document.getElementById("sortable-certificates");
    if (el != null) {
      const sortable = Sortable.create(el, {
        animation: 150,
        delay: 100,
        onUpdate: function(evt) {
          $.ajax({
            type: "PATCH",
            url: "<%= sort_employees_estimate_matter_certificates_path(@estimate_matter.id) %>",
            cache: false,
            data: { from: evt.oldIndex, 
                    to: evt.newIndex, 
                    remote: true }
          });
        }
      });
    }
  });
</script>
