<div class="modal-dialog non-card-modal">
  <div class="modal-content">
    <div class="modal-header">
       <%= @estimate_matter.title %> 担当者変更
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <%= form_with(model: @estimate_matter, url: member_change_for_staff_employees_estimate_matter_members_path(@estimate_matter), method: :patch, local: true) do |f| %>
        <div class="matter-update-errors"></div>
          <div class="col-md-12">
            <%= f.label "担当スタッフ" %>
            <div>
              <%= f.select :staff_ids, options_for_select(@all_staff_codes.map{ |code|[member_name_from_member_code(code), code.id]}), {include_blank: "選択してください" }, multiple: true, class: "form-control select-members", id: "select_staff" %>
            </div>
          </div>
          <%= f.hidden_field :redirect_staff_id, value: @staff.id %>
          <div class="btn-area">
            <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "select_members.js" %>
<%= javascript_include_tag "reset_errors.js" %>

<% if @staff_codes.present? %>
  <script>
    $(document).ready( function(){
      $('#select_staff').val(<%= @staff_codes.ids %>).trigger('change');
    });
  </script>
<% end %>

<% if @external_staff_codes.present? %>
  <script>
    $(document).ready( function(){
      $('#select_external_staff').val(<%= @external_staff_codes.ids %>).trigger('change');
    });
  </script>
<% end %>
