<div class="text-right mb-05e">
  <%= link_to new_employees_estimate_matter_estimate_path(@estimate_matter), remote: true, class: "btn btn-success" do %>
    <i class="fas fa-plus"></i> 新規見積
  <% end %>
  <% if @estimate_matter.estimates.present? %>
    <%= link_to "COPY", copy_employees_estimate_matter_estimate_path(@estimate_matter, @estimate_matter.estimates.first), remote: true, class: "btn btn-primary" %>
  <% end %>  
</div>

<% estimates.each do |estimate| %>

  <% @estimate_detail_hash = estimate.estimate_details.order(:sort_number).group_by{ |detail| detail[:category_id] } %>
  
  <div class="flex">
    <div class= home_icon>
      <div class="triangle" style="border-bottom-color: <%= estimate_color(estimate) %>"></div>
      <div class="square" style="background: <%= estimate_color(estimate) %>">
        <div class="window">
          <div><p>■■</p><p>■■</p></div>
        </div>
        <div class="text">
          <% if current_client %>
            <%= estimate.title %>
          <% else %>
            <%= link_to edit_employees_estimate_matter_estimate_path(estimate_matter, estimate.id), remote: true do %>
              <%= estimate.title %>
            <% end %>
          <% end %>
        </div>                
      </div>
      <%= link_to "PDF出力", employees_estimate_matter_estimate_path(estimate_matter_id: @estimate_matter.id, id: estimate.id, format: :pdf), local: true, class: "btn btn-primary" %>   
    </div>
    <% if estimate.id == @adopted_estimate_id %>
      <div class="adopted-msg">案件採用</div>
    <% end %>    
  </div>
  
  <div class="table-responsive">
    <table class="table table-bordered text-nowrap table_line_type">
      <tr>
        <th>項目</th>
        <th>工事名称・素材</th>
        <th>耐用年数</th>
        <th colspan="2">単価</th>
        <th>数量</th>
        <th>計(円)</th>
        <th>摘要(仕様)</th>
      </tr>
      <% @estimate_detail_hash.each do |category_id, details| %>
        <tr>
          <td rowspan="<%= category_row_span(estimate, category_id) %>">
            <%= link_to edit_employees_estimate_matter_estimate_detail_path(estimate_matter, details[0].id), remote: true do %>
              <%= details[0].category_name %>
            <% end %>
          </td>
          <% if details[0].material_id.present? || details[0].construction_id.present? %>
            <td>
              <%= link_to detail_object_edit_employees_estimate_matter_estimate_detail_path(estimate_matter, details[0].id), remote: true, class: "object_name" do %>
                <% if details[0].material_id.present? %>
                  <%= details[0].material_name %>
                <% else %>
                  <%= details[0].construction_name %>
                <% end %>                  
              <% end %>
            </td>
            <td><%= details[0].service_life if details[0].material_id.present? %></td>
            <td class="money-type"><%= details[0].price %></td>
            <td><%= details[0].unit %></td>
            <td><%= details[0].amount %></td>
            <td class="money-type"><%= details[0].total %></td>
            <td><%= details[0].note %></td>
          <% else %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
        </tr>
        <% details.from(1).each do |detail| %>
          <tr>
            <% if detail.material_id.present? || detail.construction_id.present? %>
              <td>
                <%= link_to detail_object_edit_employees_estimate_matter_estimate_detail_path(estimate_matter, detail.id), remote: true, class: "object_name" do %>
                  <% if detail.material_id.present? %>
                    <%= detail.material_name %>
                  <% else %>
                    <%= detail.construction_name %>
                  <% end %> 
                <% end %> 
              </td>
              <td><%= detail.service_life if detail.material_id.present? %></td>
              <td class="money-type"><%= detail.price %></td>
              <td><%= detail.unit %></td>
              <td><%= detail.amount %></td>
              <td class="money-type"><%= detail.total %></td>
              <td><%= details[0].note %></td>
            <% else %>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <tfoot>
          <th colspan="5">合計</th>
          <th colspan="2" class="money-type text-right"><%= estimate.total_price %>円</th>
          <th></th>
        </tfoot>
      </tr>
    </table>
  </div>
<% end %>

<%= javascript_include_tag "money_type.js" %>
