<div class="row">
  <div class="col-md-6 col-12">
    <%= f.label :client_id %>
    <%= f.collection_select :client_id, @clients, :id, :name, { selected: @id }, class: "form-control" %>
  </div>
  <div class="col-md-6 col-12">
    <%= f.label :attract_method_id %>
    <%= f.collection_select :attract_method_id, @attract_methods, :id, :name, { include_blank: "集客方法を選択" }, class: "form-control" %>
  </div>
  <div class="col-md-6 col-12">
    <%= f.label :title %>
    <%= f.text_field :title, required: true, class: "form-control", maxlength: 30 %>
  </div>
    <div class="col-md-6 col-12">
      <%= f.label :publisher_id %>
      <%= f.collection_select :publisher_id, @publishers, :id, :name, {}, class: "form-control" %>
    </div>
  <div class="col-md-6 col-12">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code, maxlength: 7, pattern: "^[0-9]{7}$", value: @postal_code, id: "postcode", placeholder: "半角数字(ハイフンなし)", class: "form-control" %>
  </div>
  <div class="col-md-6 col-12">
    <%= f.label :prefecture_code %>
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, { prompt: "選択してください", selected: @prefecture_code }, id: "prefecture_code", class: "form-control" %>
  </div>
  <div class="col-md-6 col-12">
    <%= f.label :address_city %>
    <%= f.text_field :address_city, value: @address_city, id: "address_city", class: "form-control" %>
  </div>
  <div class="col-md-6 col-12">
    <%= f.label :address_street %>
    <%= f.text_field :address_street, value: @address_street, id: "address_street", class: "form-control" %>
  </div>
  <div class="col-md-6 col-12">
    <%= f.label :content %>
    <%= f.text_field :content, required: true, class: "form-control", maxlength: 300 %>
  </div>
  <div class="col-md-6 col-12">
    <%= f.label "担当スタッフ" %>
    <div>
      <%= f.collection_select :staff_ids, @staffs, :id, :name, { include_hidden: false }, { class: "form-control select-members", multiple: true } %>
    </div>
  </div>

  <div class="col-md-6 col-12">
    <%= f.label "担当外部スタッフ" %>
    <div>
      <%= f.collection_select :external_staff_ids, @external_staffs, :id, :name, { include_hidden: false }, { class: "form-control select-members", multiple: true } %>
    </div>
  </div>
</div>

<%= javascript_include_tag "select_members.js" %>
<%= javascript_include_tag "postal_code_to_address.js" %>
<%= render "shared/javascript/auto_postcode" %>
