<div class="d-flex justify-content-center mt-30"><%= will_paginate @estimate_matters %></div>
<div class="table-responsive">
  <table class="table table-bordered text-nowrap common-table tr-bold">
    <tr>
      <th>タイトル</th>
      <th>顧客</th>
      <th>最新ステータス／担当者</th>
    </tr>
    <% @estimate_matters.each do |estimate_matter| %>
      <% sales_status = @sales_statuses.where(estimate_matter_id: estimate_matter.id).first %>
      <% if !params[:status].present? || sales_status.status == params[:status] %>
        <% if params[:id] == estimate_matter.id %>
          <tr class="tr-link table-success" data-link="<%= employees_estimate_matter_path(estimate_matter) %>">
        <% else %>
          <tr class="tr-link" data-link="<%= employees_estimate_matter_path(estimate_matter) %>">
        <% end %>
          <td><%= estimate_matter.title %></td>
          <td><%= estimate_matter.client.name %></td>
          <% if sales_status.status == "not_set" %>
            <td><%= sales_status.status_i18n %></td>
          <% elsif sales_status %>
            <td><%= sales_status.status_i18n %>／<%= member_name(sales_status) %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<div class="d-flex justify-content-center mt-20"><%= will_paginate @estimate_matters %></div>

<%= javascript_include_tag "tr_link.js" %>
