<table class="table table-sm common-table">
  <tr>
    <th>タイトル</th>
    <td><%= @estimate_matter.title %></td>
  </tr>
  <tr>
    <th>顧客</th>
    <td><%= @estimate_matter.client.name %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%= @estimate_matter.postal_code %></td>
  </tr>
  <tr>
    <th>都道府県</th>
    <td><%= @estimate_matter.prefecture_code %></td>
  </tr>
  <tr>
    <th>市区町村</th>
    <td><%= @estimate_matter.address_city %></td>
  </tr>
  <tr>
    <th>町名番地</th>
    <td><%= @estimate_matter.address_street %></td>
  </tr>
  <tr>
    <th>内容</th>
    <td><%= @estimate_matter.content %></td>
  </tr>
</table>

<div class="btn-area">
  <% if matter %>
    <%= link_to "案件詳細", employees_matter_path(matter), class: "btn btn-dark" %>
  <% else %>
    <%= link_to "案件作成", employees_estimate_matter_matters_path(@estimate_matter), method: :post,
                            data: { confirm: "この見積案件から案件を作成をしてよろしいですか？" }, class: "btn btn-dark" %>
  <% end %>
  <%= link_to "編集", edit_employees_estimate_matter_path(@estimate_matter), remote: true, class: "btn btn-dark" %>
  <%= link_to "削除", employees_estimate_matter_path(@estimate_matter), method: :delete, data: { confirm: "この見積案件を削除してよろしいですか？" }, class: "btn btn-danger" %>
</div>
