<table class="table table-sm common-table">
  <tr>
    <th>タイトル</th>
    <td><%= @estimate_matter.title %></td>
  </tr>
  <tr>
    <th>顧客</th>
    <td><%= @estimate_matter.client.name %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%= @estimate_matter.zip_code %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @estimate_matter.address %></td>
  </tr>
  <tr>
    <th>内容</th>
    <td><%= @estimate_matter.content %></td>
  </tr>
</table>

<div class="btn-area">
  <%= link_to "編集", edit_employees_estimate_matter_path(@estimate_matter), remote: true, class: "btn btn-dark" %>
  <%= link_to "削除", employees_estimate_matter_path(@estimate_matter), method: :delete, data: { confirm: "この見積案件を削除してよろしいですか？" }, class: "btn btn-danger" %>
</div>
