<% @estimates.group_by {|estimate| estimate.id }.each do |estimate| %>
  <% total_price = 0 %>
  <div class="flex estimate-table-header mt-1e">
    <div class="estimate-name">見積名</div>
    <div style="width: 80%;" class="flex">
      <div class="category-name">見積カテゴリ名</div>
      <div class="construction-material flex">
        <div class="construction-material-detail">素材・工事名</div>
        <div class="construction-material-detail">耐用年数</div>
        <div class="construction-material-detail">単価</div>
        <div class="construction-material-detail">単位</div>
        <div class="construction-material-detail">数量</div>
        <div class="construction-material-detail-total">合計金額</div>
      </div>
    </div>
  </div>
  <% estimate = estimate[1] %>
  <div class="estimate-table-body flex">
    <!-- 見積のプラン名 -->
    <div class="estimate-name">
      <%= link_to estimate[0].title,edit_employees_estimate_matter_estimate_path(@estimate_matter, estimate[0].id), remote: true, class: "btn btn-sm btn-dark" %>
    </div>

    <div style="width: 80%;">
      <% estimate.group_by { |category| category.category_id }.each_with_index do |category, index| %>
        <% category = category[1] %>
        <% if category_id = category[0].category_id %>
          <% last = "last" if index == estimate.size - 1 %>
          <div class="flex category-item category-item-<%= last %>">
            <div class="category-name category-name-<%= last %>">
              <%= link_to category[0].category_name ,edit_employees_estimate_matter_category_path(@estimate_matter, category[0].category_id), remote: true, class: "btn btn-sm btn-dark" %>
            </div>
            <div class="construction-material construction-material-<%= last %>">              
              <% if @materials %>
                <% materials = @materials.where(categories: { id: category_id }) %>
                <% materials.each_with_index do |material, index| %>
                  <% if index == materials.size - 1 %>
                    <% last = "last" %>
                  <% else %>
                    <% last = "" %>
                  <% end %>
                  <div class="flex construction-material-item construction-material-item-<%= last %>">
                    <div class="construction-material-detail">
                      <%= link_to material.name, edit_employees_estimate_matter_material_path(@estimate_matter, material.id),
                                                remote: true, class: "btn btn-sm btn-dark" %>
                    </div>
                    <div class="construction-material-detail"><%= material.service_life %></div>
                    <div class="construction-material-detail"><%= material.price %></div>
                    <div class="construction-material-detail"><%= material.unit %></div>
                    <div class="construction-material-detail"><%= material.amount %></div>
                    <% total_price = total_price.to_i + material.total.to_i %>
                    <div class="construction-material-detail-total"><%= "#{ material.total }円" if material.total.present? %></div>
                  </div>
                <% end %>
              <% end %>
              <% if @constructions %>
                <% constructions = @constructions.where(categories: { id: category_id }) %>
                <% constructions.each_with_index do |construction, index| %>
                  <% if index == constructions.size - 1 %>
                    <% last = "last" %>
                  <% else %>
                    <% last = "" %>
                  <% end %>
                  <div class="flex construction-material-item construction-material-item-<%= last %>">
                    <div class="construction-material-detail">
                      <%= link_to construction.name, edit_employees_estimate_matter_construction_path(@estimate_matter, construction.id),
                                                    remote: true, class: "btn btn-sm btn-dark" %>
                    </div>
                    <div class="construction-material-detail"></div>
                    <div class="construction-material-detail"><%= construction.price %></div>
                    <div class="construction-material-detail"><%= construction.unit %></div>
                    <div class="construction-material-detail"><%= construction.amount %></div>
                    <% total_price = total_price.to_i + construction.total.to_i %>
                    <div class="construction-material-detail-total"><%= "#{ construction.total }円" if construction.total.present? %></div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="estimate-table-footer">合計見積金額 <%= total_price %>円</div>
<% end %>
