<table class="table table-sm common-table">
  <tr>
    <th>見積名</th>
    <th>編集</th>
    <th>工事カテゴリ名</th>
    <th>編集</th>
    <th>工事・素材名</th>
    <th>耐用年数</th>
    <th>単価</th>
    <th>単位</th>
    <th>数量</th>
    <th>合計金額</th>
    <th>工事・素材編集</th>
  </tr>
  <% estimates.each do |estimate| %>
    <tr>
      <td><%= estimate.title %></td>
      <td>      
        <%= link_to(edit_employees_estimate_matter_estimate_path(estimate_matter, estimate.id), remote: true) do %>
          <button class="btn btn-sm btn-dark"><i class="fa fa-edit"></i></button>
        <% end %>         
      </td>
      <td><%= estimate.category_name %></td>
      <td>
        <% if estimate.category_id.present? %>
          <%= link_to(edit_employees_estimate_matter_category_path(estimate_matter, estimate.category_id), remote: true) do %>
            <button class="btn btn-sm btn-dark"><i class="fa fa-edit"></i></button>
          <% end %>          
        <% end %>
      </td>
      <% if estimate.material_id.present? %>
        <td><%= estimate.material_name %></td>
        <td><%= estimate.service_life %></td>
        <td><%= estimate.material_price %></td>
        <td><%= estimate.material_unit %></td>
        <td><%= estimate.material_amount %></td>
        <td></td>
        <td>
          <% if estimate.material_id.present? %>
            <%= link_to "素材編集", edit_employees_estimate_matter_material_path(estimate_matter, estimate.material_id), remote: true, class: "btn btn-sm btn-dark" %>
            <%= link_to "素材削除", employees_estimate_matter_material_path(estimate_matter, estimate.material_id), method: :delete,
                                 data: { confirm: "この素材を削除してよろしいですか？" }, remote: true, class: "btn btn-sm btn-danger" %>
          <% end %>
        </td>
      <% else %>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>
