<table class="table table-sm common-table">
  <tr>
    <th>ステータス</th>
    <th>実施日</th>
    <th>実施者</th>
    <th>備考</th>
    <th></th>
  </tr>
  <% @sales_statuses.each do |sales_status| %>
    <tr>
      <td><%= I18n.t("enums.sales_status.status.#{ sales_status.status }") %></td>
      <td><%= l(sales_status.conducted_on, format: :long) %></td>
      <td></td>
      <td><%= sales_status.note %></td>
      <td>
        <%= link_to "編集", edit_employees_estimate_matter_sales_status_path(@estimate_matter, sales_status), 
                            remote: true, class: "btn btn-sm btn-dark" %>
        <%= link_to "編集", employees_estimate_matter_sales_status_path(@estimate_matter, sales_status), method: :delete,
                            remote: true, class: "btn btn-sm btn-danger"  %>
      </td>
    </tr>
  <% end %>
</table>