<div class="col-12">

  <div class="pc_type">
    <%= render 'supplier_managers/matters/show/pc' %>
  </div>

  <div class="mobile_type">
    <%= render 'supplier_managers/matters/show/mobile' %>
  </div>
  
  <div class="mt-1e">
    <div class="accordion" id="accordion-construction_schedules">
      <div class="card">
        <div class="card-header bg-dark" id="headingTwo">
          <h5 class="text-light">
            工程表
            <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-construction_schedules" aria-expanded="true" aria-controls="collapse-construction_schedules">
              詳細
            </button>
          </h5>
        </div>
        
        <div id="collapse-construction_schedules" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-construction_schedules">
          
          <div class="card-body">
            <%= link_to "CALENDAR", calendar_supplier_managers_matter_path(@matter), class: "btn btn-info mb-1e", remote: true %>
            <div class="construction-schedules-index overflow-auto">
              <%= render partial: "supplier_managers/matters/partial/construction_schedule",
                         locals: {construction_schedules: @construction_schedules} %>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>

<% if @message %>
  <script>
    toastr.success("<%= @matter.title %>を作成しました");
  </script>
<% end %>

<script>
  $("#to_image_index").click(function() {
    window.open( "<%= employees_matter_images_path(@matter) %>", "new", "width=820,height=600,scrollbars=yes,resizable=yes,menubar=no,toolbar=no,location=no,directories=no, status=no");
  });
</script>
