<div class="row">
  <div class="col-md-6">
    <h4 style="display: inline">お客様情報</h4>
    <h5 style="display: inline"><%= client_avaliable_disp(@client.avaliable) %></h5>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to "編集", edit_employees_matter_client_path(@matter, @client), remote: true, class: "btn btn-success" %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered text-nowrap mt-5">
    <tr>
      <th style="width: 8em;">氏名</th>
      <td><%= @client.name %></td>
      <th>フリガナ</th>
      <td><%= @client.kana %></td>
      <th>連絡先１</th>
      <td><%= @client.phone_1 %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td colspan="3"><%= @client.prefecture_code %><%= @client.address_city %><%= @client.address_street %></td>
      <th>連絡先２</th>
      <td><%= @client.phone_2 %></td>
    </tr>
  </table>
</div>