<div class="col-sm-12 text-right mb-1e">
  <button class="btn btn-primary" id="add-task"><i class="fas fa-plus"></i>タスク追加</button>
</div>

<div class="matter_task_disp" id="myKanban"></div>

<% @matter.tasks.all.each do |task| %>
  <div class="modal" id="matter_task_<%= task.id %>_modal">
    <div>
      <%= render "employees/matters/tasks/task_show", task: task, status: task.status %>
      <button class="button-position js-modal-close">閉じる</button>
    </div>
  </div>
<% end %>

<script>
$(document).ready( function(){
    
  //初期状態のタスク管理ボード用JSONデータ
  const defaultBoards = [
    {
      "id": "default-tasks",
      "title": "デフォルトタスク一覧",
      "class": "default",
      "item": [
        <% @default_tasks.each do |task| %>    
          { 
            "title": "<%= task.title %>",
            "id": "<%= task.id %>"
          },
        <% end %>
      ]
    },
    
    {
      "id": "relevant-tasks",
      "title": "当該タスク",
      "class": "relevant",
      "item": [
        <% @relevant_tasks.each do |task| %>    
          {
            "title": "<%= task.title %>",
            "id": "<%= task.id %>"
          },
        <% end %>
      ]
    },

    {
      "id": "ongoing-tasks",
      "title": "進行中",
      "class": "ongoing",
      "item": [
        <% @ongoing_tasks.each do |task| %>    
          {
            "title": "<%= task.title %>",
            "id": "<%= task.id %>"
          },
        <% end %>
      ]
    },

    {
      "id": "finished-tasks",
      "title": "完了",
      "class": "finished",
      "item": [
        <% @finished_tasks.each do |task| %>    
          { 
            "title": "<%= task.title %>",
            "id": "<%= task.id %>",
          },
        <% end %>
      ]
    }
  ];
  
  //jKanbanのインスタンス作成
  var kanban = new jKanban({
    element         : '#myKanban',  //タスク管理ボードを表示するHTML要素
    gutter          : '13px',       //ボード同士の間隔
    widthBoard      : '220px',      //ボードのサイズ
    boards          : defaultBoards,//初期状態のJSONデータ
    
    dropEl: function(el, target, a, b){
      var task = el.getAttribute("data-eid");
      var status = target.parentNode.getAttribute("data-id");
      var item_arrey = target.children;
      item_arrey = [].slice.call(item_arrey);
      var item_index = item_arrey.indexOf(el);

      <% if current_matter.tasks.where.not(status: "default") %>
        $.ajax({
          type: "POST",
          url: "<%= move_employees_matter_tasks_path(@matter) %>",
          cache: false,
          data: { task: task, status: status, item_index: item_index, remote: true }
        });
      <% else %>
        $.ajax({
          type: "GET",
          url: "<%= move_task_employees_tasks_path(@default_task) %>",
          cache: false,
          data: { task: task, status: status, item_index: item_index, remote: true }
        });
      <% end %>
    }
  });

    var toDoButton = document.getElementById("add-task");
    toDoButton.addEventListener("click",function(){
      
      const formItem = document.createElement("form");
      formItem.innerHTML = '<input type="text", id="new-task-form">';
      kanban.addForm("relevant-tasks", formItem);
  
      $("#new-task-form").blur(function(){
        var title = $("#new-task-form").val();

        $.ajax({
          type: "POST",
          url: "<%= employees_matter_tasks_path(@matter) %>",
          cache: false,
          data: { title: title, remote: true }
      });
    });
  });
  // 現状使用しない
  //var removeItem = document.getElementById('Item_reset');
  //removeItem.addEventListener('click',function(){
  //    $('div[data-id="finished_task"] main div').each(function(index, element){
  //      kanban.removeElement(element)
  //    });
  //    $.ajax({
  //        type: "GET",
  //        url: "",
  //        cache: false,
  //    });
  //  });
});
  
</script>

<script>
  <% current_matter.tasks.each do |task| %>
    $(function(){
      $('[data-eid=item_id_<%= task.id %>]').on('click',function(){
        $('#matter_task_<%= task.id %>_modal').fadeIn();
        return false;
      });
      
      $('.js-modal-close').on('click',function(){
        $('#matter_task_<%= task.id %>_modal').fadeOut();
        return false;
      });
    });
  <% end %>
</script>