<div class="table-responsive">
  <div class="row certificates-wrapper" id="sortable_list">
    <% @certificates.each do |certificate| %>
      <div class="col-lg-6 col-12">
        <% if current_client %>
          <div class="row certificate-item">
            <div class="col-lg-6 col-12 image-wrapper">
              <% if certificate.image %>
                <%= image_tag url_for(certificate.image.images[0].variant(resize: "400x300")), class: "image" %>
              <% end %>
            </div>
            <div class="col-lg-6 col-12 explanation">
              <div class="title"><%= certificate.title %></div>
              <div class="content"><%= certificate.content %></div>
            </div>
          </div>
        <% else %>
            <%= link_to edit_employees_estimate_matter_certificate_path(@estimate_matter, certificate),
                        remote: true, class: "to-edit-certificate" do  %>
              <div class="row certificate-item employees-certificate-item">
                <div class="col-lg-6 col-12 image-wrapper">
                  <% if certificate.image %>
                    <%= image_tag url_for(certificate.image.images[0].variant(resize: "250x300")), class: "image" %>
                  <% end %>
                </div>
                <div class="col-lg-6 col-12 explanation">
                  <div class="title"><%= certificate.title %></div>
                  <div class="content"><%= certificate.content %></div>
                </div>
              </div>
            <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    const el = document.getElementById("sortable_list")
    if (el != null) {
      const sortable = Sortable.create(el, {
        animation: 150,
        delay: 100,
        onUpdate: function(evt) {
          $.ajax({
            type: "PATCH",
            url: "<%= sort_employees_estimate_matter_certificates_path(@estimate_matter.id) %>",
            cache: false,
            data: { from: evt.oldIndex, 
                    to: evt.newIndex, 
                    remote: true }
          });
        }
      });
    }
  });
</script>
