<div class="row certificates-wrapper">
  <% @certificates.each do |certificate| %>
    <div class="col-lg-6 col-12">
      <% if current_client %>
        <div class="row certificate-item">
          <div class="col-lg-6 col-12 image-wrapper">
            <% if certificate.image %>
              <%= image_tag url_for(certificate.image.images[0]), class: "image" %>
            <% end %>
          </div>
          <div class="col-lg-6 col-12 explanation">
            <div class="title"><%= certificate.title %></div>
            <div class="content"><%= certificate.content %></div>
          </div>
        </div>
      <% else %>
        <%= link_to edit_employees_estimate_matter_certificate_path(@estimate_matter, certificate),
                    remote: true, class: "to-edit-certificate" do  %>
          <div class="row certificate-item employees-certificate-item">
            <div class="col-lg-6 col-12 image-wrapper">
              <% if certificate.image %>
                <%= image_tag url_for(certificate.image.images[0]), class: "image" %>
              <% end %>
            </div>
            <div class="col-lg-6 col-12 explanation">
              <div class="title"><%= certificate.title %></div>
              <div class="content"><%= certificate.content %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
