<div id="header">
  <div id="estimate-title"><%= @estimate.title %></div>
  <div id="title">御見積書</div>
</div>

<div id="client-info">
  現場名称：<%= @estimate_matter.title %><br>
  現場住所：<%= "#{ @estimate_matter.prefecture_code }#{ @estimate_matter.address_city }#{ @estimate_matter.address_street }" %>
</div>
<div id="company-info">
  <div id="company-logo"><%= wicked_pdf_image_tag "profile.jpg", size: "60x60", alt:"ロゴ" %></div>
  <div id="company-name">株式会社　ツバケン</div>
  <div id="company-tel">
    TEL: 090-8787-5544
    <span id="person-in-charge">テスト　太郎</span>
  </div>
</div>

<table class="table table-sm" id="pdf-estimate-table">
  <thead>
    <tr>
      <td rowspan=2 style="width: 35%;">工事名称</td>
      <td colspan=2>数量</td>
      <td colspan=2 style="width: 20%;">見積金額</td>
      <td rowspan=2 style="width: 25%;">摘要(仕様)</td>
    </tr>
    <tr>
      <td style="width: 13%;">数量</td>
      <td style="width: 7%;">単位</td>
      <td style="width: 8%;">単価</td>
      <td style="width: 12%;">金額</td>
    </tr>
  </thead>
  <tbody>
    <% @estimate_details.each do |category_id, details| %>
      <tr>
        <td colspan=6 class="category-name">
          <span class="square"><i class="fa fa-square"></i></span>
          <%= details[0].category_name %><%= details.length %>
        </td>
      </tr>
      <% details.each do |detail| %>
        <tr>
          <% if detail.material_id.present? %>
            <td class="detail-name"><%= detail.material_name %></td>
            <td class="detail-amount"><%= detail.amount %></td>
            <td class="detail-unit"><%= detail.unit %></td>
            <td class="detail-price"><%= detail.price %></td>
            <td class="detail-total"><%= detail.total %></td>
            <td class="detail-specification"></td>
          <% elsif detail.construction_id.present? %>
            <td class="detail-name"><%= detail.construction_name %></td>
            <td class="detail-amount"><%= detail.amount %></td>
            <td class="detail-unit"><%= detail.unit %></td>
            <td class="detail-price"><%= detail.price %></td>
            <td class="detail-total"><%= detail.total %></td>
            <td class="detail-specification"></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
