<div class="text-right mb-05e">
  <%= link_to new_employees_estimate_matter_estimate_path(@estimate_matter), remote: true, class: "btn btn-success" do %>
    <i class="fas fa-plus"></i> 新規見積
  <% end %>
  <% if @estimate_matter.estimates.present? %>
    <%= link_to "COPY", copy_employees_estimate_matter_estimate_path(@estimate_matter, @estimate_matter.estimates.first), remote: true, class: "btn btn-primary" %>
  <% end %>
</div>

<% estimates.each do |estimate| %>

  <% @estimate_detail_hash = estimate.estimate_details.order(:sort_number).group_by{|detail| detail[:category_id]} %>
  <% @total_detail_calculation = 0 %>
  
  <div class= home_icon>
    <div class="triangle" style="border-bottom-color: <%= estimate_color(estimate) %>"></div>
    <div class="square" style="background: <%= estimate_color(estimate) %>">
      <div class="window">
        <div><p>■■</p><p>■■</p></div>
      </div>
      <div class="text">
        <% if current_client %>
          <%= estimate.title %>
        <% else %>
          <%= link_to edit_employees_estimate_matter_estimate_path(estimate_matter, estimate.id), remote: true do %>
            <%= estimate.title %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
  <table class="table table-bordered table_line_type">
    <tr>
      <th>項目</th>
      <th>工事名称・素材</th>
      <th>耐用年数</th>
      <th colspan="2">単価</th>
      <th>数量</th>
      <th>計(円)</th>
    </tr>
    <% @estimate_detail_hash.each do |category_id, details| %>
      <tr>
        <td rowspan="<%= category_row_span(estimate, category_id) %>">
          <%= link_to edit_employees_estimate_matter_estimate_detail_path(estimate_matter, details[0].id), remote: true do %>
            <%= details[0].category_name %>
          <% end %>
        </td>
        <% if details[0].material_id.present? %>
          <td>
            <%= link_to detail_object_edit_employees_estimate_matter_estimate_detail_path(estimate_matter, details[0].id), remote: true, class: "object_name" do %>
              <%= details[0].material_name %>
            <% end %>
          </td>
          <td><%= details[0].service_life %></td>
          <td class="money_type"><%= details[0].price %></td>
          <td><%= details[0].unit %></td>
          <td><%= details[0].amount %></td>
          <td class="money_type">
            <% if details[0].amount.present? && details[0].price.present? %>
              <%= detail_calculation(details[0]) %>
              <% @total_detail_calculation += detail_calculation(details[0]) %>
            <% end %>
          </td>
        <% elsif details[0].construction_id.present? %>
            <td>
              <%= link_to detail_object_edit_employees_estimate_matter_estimate_detail_path(estimate_matter, details[0].id), remote: true, class: "object_name" do %>
                <%= details[0].construction_name %>
              <% end %>
            </td>
            <td></td>
            <td class="money_type"><%= details[0].price %></td>
            <td><%= details[0].unit %></td>
            <td><%= details[0].amount %></td>
            <td class="money_type">
              <% if details[0].amount.present? && details[0].price.present? %>
                <%= detail_calculation(details[0]) %>
                <% @total_detail_calculation += detail_calculation(details[0]) %>
              <% end %>
            </td>
          <% else %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
        </tr>
        <% details.from(1).each do |detail| %>
          <tr>
            <% if detail.material_id.present? %>
              <td>
                 <%= link_to detail_object_edit_employees_estimate_matter_estimate_detail_path(estimate_matter, detail.id), remote: true, class: "object_name" do %>
                    <%= detail.material_name %>
                 <% end %> 
              </td>
              <td><%= detail.service_life %></td>
              <td class="money_type"><%= detail.price %></td>
              <td><%= detail.unit %></td>
              <td><%= detail.amount %></td>
              <td class="money_type">
                <% if detail.amount.present? && detail.price.present? %>
                  <%= detail_calculation(detail) %>
                  <% @total_detail_calculation += detail_calculation(detail) %>
                <% end %>
              </td>
            <% elsif detail.construction_id.present? %>
              <td>
                <%= link_to detail_object_edit_employees_estimate_matter_estimate_detail_path(estimate_matter, detail.id), remote: true, class: "object_name" do %>
                  <%= detail.construction_name %>
                <% end %>
              </td>
              <td></td>
              <td class="money_type"><%= detail.price %></td>
              <td><%= detail.unit %></td>
              <td><%= detail.amount %></td>
              <td class="money_type">
                <% if detail.amount.present? && detail.price.present? %>
                  <%= detail_calculation(detail) %>
                  <% @total_detail_calculation += detail_calculation(detail) %>
                <% end %>
              </td>
            <% else %>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <% end %>
          </tr>
        <% end %>
    <% end %>
    <tr>
      <tfoot>
        <th colspan="5">合計</th>
        <th colspan="2", class="money_type text-right"><%= @total_detail_calculation %>円</th>
      </tfooter>
    </tr>
  </table>
  
<% end %>

<script>
  $(document).ready( function(){
    $('.money_type').each(function(i, element){
      var text = $(element).text();
      var money_type = String(text).replace( /(\d)(?=(\d\d\d)+(?!\d))/g, '$1,' );
      $(element).text(money_type);
    });
  });
</script>
