<div class="table-responsive">
  <table class="table table-bordered text-nowrap common-table">
    <thead>
      <tr>
        <th>名前</th>
        <th></th>
      </tr>
    <thead>
    <tbody id="sortable-departments">
      <% @departments.each do |department| %>
        <tr class="tr-sortable">
          <td><%= department.name %></td>
          <td>
            <div hidden><%= department.id %></div>
            <%= link_to "編集", edit_employees_settings_department_path(department), remote: true, class: "btn btn-sm btn-dark" %>
            <%= link_to "削除", employees_settings_department_path(department), method: :delete, data: { confirm: "この部署を削除してよろしいですか？" }, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>

<%= javascript_include_tag "Sortable.min.js" %>
<script>
  $(function() {
    let el = document.getElementById("sortable-departments");
    if (el != null) {
      const sortable = Sortable.create(el, {
        animation: 150,
        delay: 100,
        onUpdate: function(evt) {
          $.ajax({
            type: "PATCH",
            url: "<%= sort_employees_settings_departments_path %>",
            cache: false,
            data: { from: evt.oldIndex, 
                    to: evt.newIndex, 
                    remote: true }
          });
        }
      });
    }
  });
</script>
