<div>
  <h2><i class="fas fa-clipboard"></i>案件一覧</h2>
  <div>
    <%= link_to new_employees_matter_path, class: "btn btn-dark mt-1e mb-1e" do %>
        <i class="fas fa-plus"></i> 新規案件作成
    <% end %>
  </div>

  <div class="container">
    <%= form_with(url: employees_matters_path, method: :get, local: true) do |f| %>
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 pd-0">
          <%= f.select :status, Matter.statuses_i18n, { include_blank: "全て" }, { class: "form-control" } %>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 pd-0">
          <%= f.collection_select :client_id, @clients, :id, :name, { include_blank: "全て" }, class: "form-control" %>
        </div>
        <div class="col-xl-1 col-lg-2 col-md-1 pd-0">
          <%= f.submit "絞り込む", class: "btn btn-dark" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="table-responsive">
    <table class="table table-borderd text-nowrap employee_index">
      <tr>
        <th>タイトル</th>
        <th>顧客</th>
        <th>現場住所</th>
        <th>着工予定日</th>
        <th>完了予定日</th>
      </tr>
      
      <% @matters.each do |matter| %>
        <tr class="tr-link" data-link="<%= employees_matter_path(matter) %>">
        <td><%= matter.title %></td>
        <td><%= matter.client.name %></td>
        <td><%= matter.actual_spot %></td>
        <td><%= matter.scheduled_started_on %></td>
        <td><%= matter.scheduled_finished_on %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>
  