<div class="col-lg-12 col-md-12">
  <div class="row">
    <div class="col-lg-9 col-md-8 col-7">
      <h2><i class="fas fa-clipboard"></i> 案件一覧</h2>
    </div>
    <div class="col-lg-3 col-md-4 col-5">  
      <%= form_with(url: employees_matters_path, method: :get, local: true) do |f| %>
        <div class="input-group">
          <%= f.select :status, options_for_select(Matter.statuses.keys.map {|k| [I18n.t("enums.matter.status.#{ k }"), k]},params[:status]), { include_blank: "全ての進行状況" }, { class: "form-control" } %>
          <div class="input-group-append">
            
            <input type="submit" value="&#xf002;" class="fas btn btn-primary" style="padding: 0 0.5em;">
          </div>
        <% end %>
      </div>
    </div>
  </div>
  

  <div class="card text-center tab-wrapper mt-1e">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-sm text-nowrap common-table">
          <tr>
            <th>タイトル</th>
            <th>着工予定日</th>
            <th>完了予定日</th>
            <th>進行状況</th>
          </tr>
          
          <% @matters.each do |matter| %>
            <tr class="tr-link" data-link="<%= employees_matter_path(matter) %>">
            <td><%= matter.title %></td>
            <td><%= matter.scheduled_started_on %></td>
            <td><%= matter.scheduled_finished_on %></td>
            <td><%= I18n.t("enums.matter.status.#{matter.status}") %></td>
            </tr>
          <% end %>
        </table>
      </div>
  </div>
</div>

<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>
  