<div class="col-12">

  <div class="pc_type">
    <%= render 'employees/matters/partial/show/pc' %>
  </div>

  <div class="mobile_type">
    <%= render 'employees/matters/partial/show/mobile/mobile' %>
  </div>
  
  <div>
    <%= render 'employees/matters/partial/show/menu' %>
  </div>
  
  <div class="mobile_type text-center mt-2e mb-1e">
    <%= link_to "本着工案件を削除", employees_matter_path(@matter), method: :delete, data: { confirm: "この案件を削除してよろしいですか？" }, class: "btn btn-danger col-12" %>
  </div>
    
</div>

<% if @message %>
  <script>
    toastr.success("<%= @matter.title %>を作成しました");
  </script>
<% end %>

<script>
  $("#to_image_index").click(function() {
    window.open( "<%= employees_matter_images_path(@matter) %>", "new", "width=820,height=600,scrollbars=yes,resizable=yes,menubar=no,toolbar=no,location=no,directories=no, status=no");
  });
</script>
