<div class="row">
  <h5 class="col-sm-6">町名一覧</h5>
  <div class="col-sm-6">
    <button type="button" class="btn btn-dark btn-sm float-r close_btn mb-1e">閉じる</button>
  </div>
</div>

<div class="town_a" style="display: none;"><p>--- あ行 ---</p></div>
<div class="town_ka" style="display: none;"><p>--- か行 ---</p></div>
<div class="town_sa" style="display: none;"><p>--- さ行 ---</p></div>
<div class="town_ta" style="display: none;"><p>--- た行 ---</p></div>
<div class="town_na" style="display: none;"><p>--- な行 ---</p></div>
<div class="town_ha" style="display: none;"><p>--- は行 ---</p></div>
<div class="town_ma" style="display: none;"><p>--- ま行 ---</p></div>
<div class="town_ya" style="display: none;"><p>--- や行 ---</p></div>
<div class="town_ra" style="display: none;"><p>--- ら行 ---</p></div>
<div class="town_wa" style="display: none;"><p>--- わ行 ---</p></div>

<script>
<% towns.each do |town| %>
  var add_town_list = '<span class="text-nowrap address_span" id="town_id_<%= town["town_id"] %>">'
                      + '<%= town["town_name"] %>'
                      + '</span>';
  <% if ["ア", "イ", "ウ", "エ", "オ"].any?{ |t| town["town_furi"][0].include?(t) } %>
    $('.town_a').show();
    $('.town_a').append(add_town_list);
  <% elsif ["カ", "キ", "ク", "ケ", "コ"].any?{ |t| town["town_furi"][0].include?(t)} %>
    $('.town_ka').show();
    $('.town_ka').append(add_town_list);
  <% elsif ["サ", "シ", "ス", "セ", "ソ"].any?{ |t| town["town_furi"][0].include?(t)} %>
    $('.town_sa').show();
    $('.town_sa').append(add_town_list);
  <% elsif ["タ", "チ", "ツ", "テ", "ト"].any?{ |t| town["town_furi"][0].include?(t)} %>
    $('.town_ta').show();
    $('.town_ta').append(add_town_list);
  <% elsif ["ナ", "ニ", "ヌ", "ネ", "ノ"].any?{ |t| town["town_furi"][0].include?(t)} %>
    $('.town_na').show();
    $('.town_na').append(add_town_list);
  <% elsif ["ハ", "ヒ", "フ", "ヘ", "ホ"].any?{ |t| town["town_furi"][0].include?(t)} %>
    $('.town_ha').show();
    $('.town_ha').append(add_town_list);
  <% elsif ["マ", "ミ", "ム", "メ", "モ"].any?{ |t| town["town_furi"][0].include?(t)} %>
    $('.town_ma').show();
    $('.town_ma').append(add_town_list);
  <% elsif ["ヤ", "ユ", "ヨ"].any?{ |t| town["town_furi"][0].include?(t)} %>
    $('.town_ya').show();
    $('.town_ya').append(add_town_list);
  <% elsif ["ラ", "リ", "ル", "レ", "ロ"].any?{ |t| town["town_furi"][0].include?(t)} %>
    $('.town_ra').show();
    $('.town_ra').append(add_town_list);
  <% elsif ["ワ", "ン"].any?{ |t| town["town_furi"][0].include?(t)} %>
    $('.town_wa').show();
    $('.town_wa').append(add_town_list);
  <% end %>
  
<% end %>
  
  
</script>


<script>
<% towns.each do |town| %>
  $('#town_id_<%= town["town_id"] %>').on('click', function(){
    $.ajax({
      type: "GET",
      url: "<%= block_index_path(dependent_manager) %>",
      cache: false,
      data: { town_id: <%= town["town_id"] %>, 
              town_name: "<%= town["town_name"] %>", 
              ken_name: "<%= select_prefecture %>",
              city_name: "<%= select_city %>",
              remote: true }
    });
  });
<% end %>
</script>

<script>
  $('.close_btn').on('click', function(){
    $('.address_modal').hide();
  });
</script>