<div class="container">
  <h5>取引関係者：<%= @supplier.company %>の詳細</h5>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th style="background-color: #ececec;">会社名</th>
        <td><%= @supplier.company %></td>
      </tr>
      <tr>
        <th style="background-color: #ececec;">所在地</th>
        <td>
          <% if @supplier.zip.present? %>
            <div>
              〒 <%= @supplier.zip%>
            </div>
          <% end %>
          <%= @supplier.actual_spot %>
          <%= @supplier.actual_spot_2 %>
        </td>
      </tr>
      <tr>
        <th style="background-color: #ececec;">代表者</th>
        <td><%= @supplier.representative_name %></td>
      </tr>
      <tr>
        <th style="background-color: #ececec;">電話番号</th>
        <td><a href="tel:#{@supplier.phone}"><%= @supplier.phone %></a></td>
      </tr>
      <tr>
        <th style="background-color: #ececec;">FAX</th>
        <td><%= @supplier.fax %></td>
      </tr>
      <tr>
        <th style="background-color: #ececec;">Mail</th>
        <td><%= @supplier.mail %></td>
      </tr>
    </table>
  </div>
  <%= link_to "編集", edit_manager_supplier_path(dependent_manager, @supplier), class: "btn btn-dark float-r" %>
</div>