<% @alert_tasks_for_estimate_matter.each do |key, tasks| %>
  <h3 class="text-center">【<%= Task.title_from_id(key) %>】</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-sm text-nowrap common-table">
      <thead>
        <tr>
          <th>担当者</th>
          <th>タイトル</th>
          <th>進行状況</th>
          <th>期限</th>
        </tr>
      </thead>
      <% tasks.each do |task| %>
        <tr class="tr-link" data-link="<%= employees_estimate_matter_path(task.estimate_matter) %>">
          <td><%= task.member_code ? task.member_code.member_name_from_member_code : "未設定" %></td>
          <td><%= task.estimate_matter.title %></td>
          <td><%= I18n.t("enums.sales_status.status.#{ task.estimate_matter.sales_statuses.last.status }") %></td>
          <td><%= task.deadline_disp %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>