<div class="col-12">
  <%= render partial: 'layouts/page_title', locals: { title_1: "アカウント", title_2: "#{@staff.name} の編集", icon: "fa-user-edit"} %>
  
  <div class="avator_container">
    <%= render partial: 'common_layouts/avators/avator', locals:{login_user: @staff, 
                                                                 edit_path: :staffs_avator_change_path,
                                                                 destroy_path: :staffs_avator_destroy_path} %>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <% if current_admin || current_manager %>
        <%= link_to "退職処理", retirement_process_employees_staff_path(@staff), class: "btn btn-destroy" %>
      <% end %>
      <% if @staff.avaliable == false && @staff.resigned_on %>
        <%= link_to "アカウント復活", restoration_employees_staff_path(@staff), method: :patch, class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <%= out_of_service(@staff) %>
    </div>
  </div>
  
  <div id="staff_show_table">
    <%= render "employees/staffs/partial/detail" %>
  </div>
    
  <div class="accordion mt-1e" id="accordionestimates-and-matters">
    <div class="card">
      <div class="card-header bg-dark" id="headingOne">
        <h5 class="text-light">
          担当見積案件・担当案件
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-estimates-and-matters" aria-expanded="true" aria-controls="collapse-estimates-and-matters">
            詳細
          </button>
        </h5>
      </div>

      <div id="collapse-estimates-and-matters" class="collapse" aria-labelledby="headingOne" data-parent="#accordionestimates-and-matters">
        <div class="card-body">
        <%= render "/employees/staffs/partial/estimates_and_matters" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="accordion mt-1e" id="accordion-task">
    <div class="card">
      <div class="card-header bg-dark" id="headingOne">
        <h5 class="text-light">
          割振タスク
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-task" aria-expanded="true" aria-controls="collapse-task">
            詳細
          </button>
        </h5>
      </div>

      <div id="collapse-task" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-task">
        <div class="card-body">
          <%= render "/employees/staffs/partial/tasks" %>
        </div>
      </div>
    </div>
  </div>
</div>
