<div class="col-12">
  
  <div class="avator_container_for_sidebar">
    <%= show_avator(@staff) %>
    <h2><%= @staff.name %>詳細</h2>
  </div>
  
  <%= out_of_service(@staff) %>
  
  <div id="staff_show_table">
    <%= render "employees/staffs/partial/detail" %>
  </div>
    
  <div class="accordion mt-1e" id="accordionestimates-and-matters">
    <div class="card">
      <div class="card-header bg-dark" id="headingOne">
        <h5 class="text-light">
          担当見積案件・担当案件
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-estimates-and-matters" aria-expanded="true" aria-controls="collapse-estimates-and-matters">
            詳細
          </button>
        </h5>
      </div>

      <div id="collapse-estimates-and-matters" class="collapse" aria-labelledby="headingOne" data-parent="#accordionestimates-and-matters">
        <div class="card-body">
        <%= render "/employees/staffs/partial/estimates_and_matters" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="accordion mt-1e" id="accordion-task">
    <div class="card">
      <div class="card-header bg-dark" id="headingOne">
        <h5 class="text-light">
          割振タスク
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-task" aria-expanded="true" aria-controls="collapse-task">
            詳細
          </button>
        </h5>
      </div>

      <div id="collapse-task" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-task">
        <div class="card-body">
          <%= render "/employees/staffs/partial/tasks" %>
        </div>
      </div>
    </div>
  </div>
</div>
