<ul class="nav nav-tabs title_tab_bar mt-2e">
  <li class="nav-item">
    <a class="nav-link title_tab" id="process_1">① 担当案件の担当者変更</a>
  </li>
</ul>
  
<div class="news_container">
  <% if @process == 1 %>
    <%= render "employees/external_staffs/retirements/partial/matter" %>
  <% else %>
    <p>現状、未着手・着工中の担当案件はありません</p>
  <% end %>
</div>

<% if @process > 1 %>
  <ul class="nav nav-tabs title_tab_bar mt-2e">
    <li class="nav-item">
      <a class="nav-link title_tab" id="process_2">② 担当作業の担当者変更</a>
    </li>
  </ul>
  
  <div class="news_container">
    <% if @process == 2 %>
      <% if current_vendor_manager %>
        <%= render partial: "vendor_managers/matters/partial/construction_schedule",
                             locals: {construction_schedules: @construction_schedules, retire_external_staff_id: @external_staff.id} %>
      <% end %>
    <% else %>
      <p>現状、未着手・着工中の担当案件はありません</p>
    <% end %>
  </div>
<% end %>

<% if @process > 2 %>
  <ul class="nav nav-tabs title_tab_bar mt-2e">
    <li class="nav-item">
      <a class="nav-link title_tab" id="process_3">③ 割振タスクの担当者変更</a>
    </li>
  </ul>
  
  <div class="news_container">
    <% if @process == 3 %> 
      <%= render "employees/external_staffs/retirements/partial/task" %>
    <% else %>
      <p>現状、未完了の担当タスクはありません</p>
    <% end %>
  </div>
<% end %>

<div id="resigned_on_form" style= "display: none">
  <ul class="nav nav-tabs title_tab_bar mt-2e">
    <li class="nav-item">
      <a class="nav-link title_tab" id="process_4">④ 退職日登録</a>
    </li>
  </ul>

  <div class="news_container">
    <div>
      <%= form_with model: @external_staff, url: resigned_registor_employees_external_staff_retirements_path(@external_staff), local: true do |f| %>
        <div class="input-group col-md-6">
          <%= f.date_field :resigned_on, required: true, class: "form-control" %>
          <div class="input-group-append">        
            <input type="submit" value="更新" class="btn btn-primary">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% unless current_vendor_manager %>
  <% if @external_staff.resigned_on.present? && @external_staff.avaliable == false %>
    <div class="text-center">
      <%= link_to "削除", confirmation_for_destroy_employees_external_staff_retirements_path(@external_staff), remote: true, class: "btn btn-danger" %>
    </div>
  <% end %>
<% end %>

<script>
  $(function(){
    var status = <%= @process %>
    $("#process_" + status).addClass('active');
  });
</script>

<% if @external_staff.resigned_on.present? || @process > 3 %>
  <script>
    $('#resigned_on_form').show();
  </script>
<% end %>

