<div class="modal-dialog no-padding_modal wide_modal">
  <div class="modal-content">
    <div class="modal-header">
      キャンセルされた担当タスク
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <div class="table-responsive">
        <table class="table table-bordered text-nowrap table-column-type">
          <tr>
            <th>確認済</th>
            <th>タイトル</th>
            <th>関連案件</th>
            <th>通知人</th>
          </tr>
          <% @deletion_notification_for_tasks.each do |notification| %>
            <tr>
              <td class="text-center deletion_task">
                <input type="checkbox" name="confirmation" value="<%= notification.id %>" checked="checked">
              </td>
              <td><%= notification.before_value_1 %></td>
              <td><%= notification.before_value_2 %></td>
              <td><%= member_name_from_member_code_id(notification.sender_id) %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="text-center">
        <button class="btn btn-dark" id="confirmation_btn">確認</button>  
      </div>
    </div>
  </div>
</div>

<script>
  $('#confirmation_btn').on('click', function(){
    var checked_notification_array = [];
    $('.deletion_task input').each( function(index, element){
      if($(element).prop('checked')){
        var val = $(this).val();
        checked_notification_array.push(val);
      }
    });
    $.ajax({
      type: "PATCH",
      url: "<%= updates_notifications_path %>",
      cache: false,
      data: { notification_ids: checked_notification_array },
    })
  });
</script>