<table class="table common-table supplier_show_table">
  <tr>
    <th>会社名</th>
    <td><%= @supplier.name %><span>（<%= @supplier.kana %>）</span></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%= @supplier.postal_code %></td>
  </tr>
  <tr>
    <th>本店</th>
    <td><%= @supplier.prefecture_code %><%= @supplier.address_city %><%= @supplier.address_street %></td>
  </tr>
  <tr>
    <th>代表者名</th>
    <td><%= @supplier.representative %></td>
  </tr>
  <tr>
    <th>電話番号①</th>
    <td><%= @supplier.phone_1 %></td>
  </tr>
  <tr>
    <th>電話番号②</th>
    <td><%= @supplier.phone_2 %></td>
  </tr>
  <tr>
    <th>FAX</th>
    <td><%= @supplier.fax %></td>
  </tr>
  <tr>
    <th>MAIL</th>
    <td><%= @supplier.email %></td>
  </tr>
</table>

<div class="btn-area">
  <%= link_to "編集", edit_employees_supplier_path(@supplier), remote: true, class: "btn btn-dark" %>
  <%= link_to "削除", employees_supplier_path(@supplier), method: :delete, data: { confirm: "この外注先を削除してよろしいですか？" }, class: "btn btn-destroy" %>
</div>