<div class="grid_user">
  <div id="user_login">
    <h2><span class="fontawesome-lock"></span>Login</h2>
        
    <fieldset>
      
      <div class="text-center">
        <p>lineアカウントでログインする</p>
        <%= link_to user_line_omniauth_authorize_path, method: :post do %>
          <%= image_tag "line/btn_login_base.png" %>
        <% end %>
      </div>
      
      <div class="line"></div>
      
      <%= form_for(User.new, as: :user, url: session_path(:user), local: true) do |f| %>
              
          <p><%= f.label :email %></p>
          <p><%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, id: "email" %></p>
          
          <p><%= f.label :password %></p>
          <p><%= f.password_field :password, autocomplete: "current-password", required: true, id: "password" %></p>
          
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "ログイン状態を維持する" %>
          
          <%= f.submit "ログイン" %>
      <% end %>
      
      </fieldset>
      
  </div>
</div>