<div class="check_boxes mt-1e">
  <div id="auto_set_select">
    <%= f.check_box :disclose, {id: "public"}, true, false %>
    <label for="public">公開</label>
  </div>
  <%= f.hidden_field :disclose, id: "disclose" %>
</div>

<label class="form-control text-white" style="background:#787a7b;">タイトル：内容</label>
<%= f.label :title %>
<%= f.text_field :title, required: true, class: "form-control", maxlength: 30, id: "task-title" %>

<%= f.label :content %>
<div class="FlexTextarea">
  <div class="FlexTextarea__dummy" aria-hidden="true"></div>
  <%= f.text_area :content, class: "FlexTextarea__textarea", id: "construction-schedule-content" %>
</div>

<label class="form-control text-white" style="background:#787a7b;">予定</label>
<div class="row">
  <div class="col-md-6">
    <%= f.label :scheduled_started_on %>
    <%= f.date_field :scheduled_started_on, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= f.label :scheduled_finished_on %>
    <%= f.date_field :scheduled_finished_on, class: "form-control" %>
  </div>
</div>

<label class="form-control text-white" style="background:#787a7b;">結果</label>
<div class="row">
  <div class="col-md-6">
    <%= f.label :started_on %>
    <%= f.date_field :started_on, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= f.label :finished_on %>
    <%= f.date_field :finished_on, class: "form-control" %>
  </div>
</div>



<label class="form-control text-white" style="background:#787a7b;">担当者</label>
<h6 class="mt-1e">担当者</h6>
<div>
  <%= f.select :vendor_id, options_for_select(@vendors.map{|vendor| [vendor.name, vendor.id]}), {include_blank: "選択してください"}, required: true, class: "form-control", id: "vendor_select" %>
</div>

<script>
  <% if @construction_schedule.vendor_id.present? %>
    $(function(){
      var value = <%=  @construction_schedule.vendor_id %>
      $('#vendor_select').val(value);
    });
  <% end %>
</script>

<script>
  $('#public').on('change', function(){
    var value = $(this).prop('checked');
    $('#disclose').val(value);
  });
</script>

<script>
  function flexTextarea(el) {
    const dummy = el.querySelector('.FlexTextarea__dummy')
    el.querySelector('.FlexTextarea__textarea').addEventListener('input', e => {
      dummy.textContent = e.target.value + '\u200b'
    })
  }

  document.querySelectorAll('.FlexTextarea').forEach(flexTextarea)
</script>
