<div class="card">
  <div class="card-body">
    <%= form_with(model: @staff, url: employees_staff_path(@staff), local: true) do |f| %>
      <%= render "shared/error_messages", resource: @staff %>
      <%= render 'staffs/registrations/partial/form', f: f %>

      <% if current_admin || current_manager || self_staff %>
        <div class="btn-area">
          <%= f.submit "更新", class: "btn btn-dark" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% if current_admin || current_manager || self_staff %>
  <div class="card mt-1e">
    <div class="card-body">
      <%= render partial: 'common_layouts/registrations/pass_form', 
                 locals: {target: @staff, path: :pass_update_employees_staff_path} %>
    </div>
  </div>
<% end %>