<div class="text-center"><h5><%= employee_type %></h5></div>

<table class="table table-sm common-table">
  <tr>
    <th>名前</th>
    <th width=20%>出勤</th>
    <th width=20%>退勤</th>
    <th width=20%>勤務</th>
  </tr>
  <% attendances.each do |attendance| %>
    <tr>
      <td>
        <% if attendance.manager %>
          <%= attendance.manager.name %>
        <% elsif attendance.staff %>
          <%= attendance.staff.name %>
        <% elsif attendance.external_staff %>
          <%= attendance.external_staff.name %>
        <% end %>
      </td>
      <td><%= l(attendance.started_at, format: :time) if attendance.started_at.present? %></td>
      <td><%= l(attendance.finished_at, format: :time) if attendance.finished_at.present? %></td>
      <td><%= daily_working_time(attendance.working_minutes) if attendance.working_minutes.present? %></td>
    </tr>
  <% end %>
</table>
