<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header">勤怠編集</h5>
        <div class="card-body">
          <%= form_with(model: @edit_attendance, url: "#", method: :patch, remote: true) do |f| %>
            <div class="attendance-edit-errors"></div>

            <%= f.label :worked_on %>
            <%= f.date_field :worked_on, class: "form-control", required: true %>

            <%= f.label :started_at %>
            <%= f.time_field :started_at, class: "form-control", required: true %>

            <%= f.label :finished_at %>
            <%= f.time_field :finished_at, class: "form-control", required: true %>

            <input name="prev_url" hidden>

            <div class="btn-area">
              <%= f.submit "編集", class: "btn btn-dark", id: "create-attendance-submit" %>
              <%= link_to "削除", {}, data: { confirm: "この勤怠を削除してよろしいですか？" }, class: "btn btn-danger" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on("turbolinks:load", function() {
    $('input[name="prev_url"]').val("<%= controller.action_name %>");
  });
</script>
