<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header">勤怠作成</h5>
        <div class="card-body">
          <%= form_with(model: @new_attendance, url: employees_attendances_path, method: :post, remote: true) do |f| %>
            <div class="attendance-create-errors"></div>

            <%= f.label :manager_id %>
            <%= f.collection_select :manager_id, @managers, :id, :name, {}, class: "form-control" %>

            <%= f.label :staff_id %>
            <%= f.collection_select :manager_id, @managers, :id, :name, {}, class: "form-control" %>

            <%= f.label :external_staff_id %>
            <%= f.collection_select :manager_id, @managers, :id, :name, {}, class: "form-control" %>

            <div class="btn-area">
              <%= f.submit "作成", class: "btn btn-dark" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @new_attendance.errors.any? %>
  <script>
    $(document).ready(function() {
      history.pushState("", "", location.href + "/daily")
    });
  </script>
<% end %>
