<div class="col-12">
  <div class="row">
    <div class="col-6">
      <h2>日別勤怠</h2>
    </div>
    <div class="col-6">
      <%= link_to new_employees_attendance_path(prev_action: controller.action_name), remote: true, class: "btn btn-dark float-r" do %>
        <i class="fas fa-plus"></i> 新規勤怠
      <% end %>
    </div>
  </div>
      
  <div class="card mt-1e">
    <div class="card-header bg-dark align-center flex">
      <div><%= link_to "＜", daily_employees_attendances_path(day: @day.yesterday), class: "btn btn-gray" %></div>
      <div class="mr-05e ml-05e" style="width: 16em;">      
        <%= form_with(url: daily_employees_attendances_path, method: :get, local: true) do |f| %>
          <div class="input-group">
            <%= f.date_field :day, required: true, value: @day, max: Date.current, class: "form-control" %>
            <div class="input-group-append">        
              <input type="submit" value="&#xf002;" class="fas btn btn-primary">
            </div>
          </div>          
        <% end %>
      </div>
      <div>
        <% if @day < Date.current %>
          <%= link_to "＞", daily_employees_attendances_path(day: @day.tomorrow), class: "btn btn-gray" %>
        <% else %>
          <%= link_to "＞", "#", class: "btn btn-gray disabled" %>
        <% end %>
      </div>
    </div>
        
    <div class="card-body">
      <%= render "employees/attendances/partial/base_table", employee_type: "Manager", attendances: @manager_attendances %>
      <div class="my-5">
        <%= render "employees/attendances/partial/base_table", employee_type: "Staff", attendances: @staff_attendances %>
      </div> 
      <%= render "employees/attendances/partial/base_table", employee_type: "外部Staff", attendances: @external_staff_attendances %> 
    </div>
  </div>
</div>

<script>
  // trクリックで、勤怠編集モーダルを開く
  $("tr[data-link]").click(function() {
    $.ajax({
      type: "GET",
      url: $(this).data("link"),
      data: { prev_action: "daily" }      
    });
  });
</script>
