<div class="container">
<h2>日別勤怠<button class="btn btn-dark float-r" data-toggle="modal" data-target="#attendance-new">作成</button></h2>
      
  <div class="card tab-wrapper">
    <div class="card-header bg-dark text-center text-white">
      <h2>
        <%= link_to "＜＜", daily_employees_attendances_path(day: @day.yesterday), class: "btn btn-gray" %>
        <%= l(@day, format: :long) %>
        <% if @day < Date.current %>
          <%= link_to "＞＞", daily_employees_attendances_path(day: @day.tomorrow), class: "btn btn-gray" %>
        <% end %>
      </h2>
    </div>
        
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <%= render "employees/attendances/base_table", employee_type: "Manager", attendances: @manager_attendances %>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <%= render "employees/attendances/base_table", employee_type: "Staff", attendances: @staff_attendances %> 
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-20">
          <%= render "employees/attendances/base_table", employee_type: "外部Staff", attendances: @external_staff_attendances %> 
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on("turbolinks:load", function() {
    $(".to-edit-attendance").on("click", function() {
      let id = $(this).data("id");
      let worledOn = $(this).data("worled-on");
      let startedAt = $(this).data("started-at");
      let finishedAt = $(this).data("finished-at");

      $("#edit-attendance-worked-on").val(worledOn);
      $("#edit-attendance-started-at").val(startedAt);
    });
  });
</script>
