<div class="col-lg-12 col-md-12">
  <h2>
    日別勤怠
    <%= link_to new_employees_attendance_path, remote: true, class: "btn btn-dark float-r" do %>
      <i class="fas fa-plus"></i> 新規勤怠
    <% end %>
  </h2>
      
  <div class="card tab-wrapper">
    <div class="card-header bg-dark text-center text-white">
      <h2>
        <%= link_to "＜＜", daily_employees_attendances_path(day: @day.yesterday), class: "btn btn-gray" %>
        <%= l(@day, format: :long) %>
        <% if @day < Date.current %>
          <%= link_to "＞＞", daily_employees_attendances_path(day: @day.tomorrow), class: "btn btn-gray" %>
        <% end %>
      </h2>
    </div>
        
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <%= render "employees/attendances/base_table", employee_type: "Manager", attendances: @manager_attendances %>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <%= render "employees/attendances/base_table", employee_type: "Staff", attendances: @staff_attendances %> 
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-20">
          <%= render "employees/attendances/base_table", employee_type: "外部Staff", attendances: @external_staff_attendances %> 
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on("turbolinks:load", function() {
    // 勤怠編集モーダル
    $(".to-edit-attendance").on("click", function() {
      let form = $("#edit-attendance-form");
      let attendanceId = $(this).data("id");
      let name = $(this).find(".name").html();
      let worledOn = $(this).data("worled-on");
      let startedAt = $(this).data("started-at");
      let finishedAt = $(this).data("finished-at");

      $("#edit-attendance-started-at").val(startedAt);
      $("#edit-attendance-name").html(name);
      $("#edit-attendance-worked-on").html(worledOn);
      if(finishedAt != "not-entered") {
        $("#edit-attendance-finished-at").val(finishedAt);
      }
      $("#edit-attendance-form").attr("action", "/employees/attendances/" + attendanceId);
      $("#to-destroy-attendance").attr("href", "/employees/attendances/" + attendanceId + "?prev_url=daily");
    });
  });
</script>
