<div class="container">
  <h2>日別勤怠</h2>
      
  <div class="card tab-wrapper">
    <div class="card-header bg-dark text-center text-white">
      <h2>
        <%= link_to "＜＜", daily_employees_attendances_path(day: @day.yesterday), class: "btn btn-gray" %>
        <%= @day %>
        <% if @day < Date.current %>
          <%= link_to "＞＞", daily_employees_attendances_path(day: @day.tomorrow), class: "btn btn-gray" %>
        <% end %>
        </h2>
    </div>
        
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <%= render "employees/attendances/base_table", attendances: @manager_attendances %>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <%= render "employees/attendances/base_table", attendances: @staff_attendances %> 
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <%= render "employees/attendances/base_table", attendances: @external_staff_attendances %> 
        </div>
      </div>
    </div>
  </div>
</div>
