<div class="col-12">
  <div class="row">
    <div class="col-md-6 col-12">
      <h2>日別勤怠</h2>
    </div>
    <div class="col-md-6 col-12">
      <%= link_to new_employees_attendance_path(prev_action: controller.action_name), remote: true, class: "btn btn-dark float-r" do %>
        <i class="fas fa-plus"></i> 新規勤怠
      <% end %>
    </div>
  </div>
      
  <div class="card mt-1e">
    <div class="card-header bg-dark text-white align-center" style="font-size: 1.9em;">
      <%= link_to "＜＜", daily_employees_attendances_path(day: @day.yesterday), class: "btn btn-gray mr-1e" %>
      <%= l(@day, format: :long) %>
      <% if @day < Date.current %>
        <%= link_to "＞＞", daily_employees_attendances_path(day: @day.tomorrow), class: "btn btn-gray ml-1e" %>
      <% end %>
    </div>
        
    <div class="card-body">
      <%= render "employees/attendances/partial/base_table", employee_type: "Manager", attendances: @manager_attendances %>
      <div class="my-5">
        <%= render "employees/attendances/partial/base_table", employee_type: "Staff", attendances: @staff_attendances %>
      </div> 
      <%= render "employees/attendances/partial/base_table", employee_type: "外部Staff", attendances: @external_staff_attendances %> 
    </div>
  </div>
</div>

<script>
  $("tr[data-link]").click(function() {
    $.ajax({
      type: "GET",
      url: $(this).data("link"),
    });
  });
</script>
