<div class="container">
  <h2>個別勤怠</h2>
      
  <div class="card text-center tab-wrapper">
    <div class="card-header bg-dark">
      <%= form_with(url: individual_employees_attendances_path, method: :get, local: true) do |f| %>
        <div class="row">

          <div class="col-lg-3 col-md-3" style="display: flex;">
            <div style="width: 60%;">
              <%= f.select :year, @years_hash, { selected: @first_day.year }, { class: "form-control", required: true } %>
            </div>
              
            <div style="width: 40%;">
              <%= f.select :month, Constants::MONTH_HASH, { selected: @first_day.month }, { class: "form-control", required: true } %>
            </div>
          </div>

          <div class="col-lg-3 col-md-3">
            <%= f.select :type, { "Manager": 1, "Staff": 2, "外部Staff": 3 }, { include_blank: "従業員タイプを選択" }, { class: "form-control", id: "type", required: true } %>
          </div>

          <div class="col-lg-3 col-md-3" id="disabled">
            <%= f.select :disabled, {}, { include_blank: "従業員を選択" }, class: "form-control", disabled: true %>
          </div>

          <div class="col-lg-3 col-md-3" id="manager">
            <%= f.collection_select :client_id, @managers, :id, :name, {}, class: "form-control" %>
          </div>

          <div class="col-lg-3 col-md-3" id="staff">
            <%= f.collection_select :client_id, @staffs, :id, :name, {}, class: "form-control" %>
          </div>

          <div class="col-lg-3 col-md-3" id="external_staff">
            <%= f.collection_select :client_id, @external_staffs, :id, :name, {}, class: "form-control" %>
          </div>

          <div class="col-lg-3 col-md-3 text-left">
            <%= f.submit "検索", class: "btn btn-gray" %>
          </div>
        </div>
      <% end %>
    </div>
        
    <div class="card-body">
      <table class="table table-sm">
        <tr>
          <th>日付</th>
          <th>出勤時間</th>
          <th>退勤時間</th>
          <th>勤務時間</th>
        </tr>
        <% @attendances.each do |attendance| %>
          <tr>
            <td><%= attendance.worked_on %></td>
            <td><%= attendance.started_at %></td>
            <td><%= attendance.finished_at %></td>
            <td><%= daily_working_time(attendance.working_minutes) if attendance.working_minutes.present? %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script>
  const manager = $("#manager");
  const staff = $("#staff");
  const externalStaff = $("#external_staff");
  const disabled = $("#disabled");

  manager.hide();
  staff.hide();
  externalStaff.hide();

  $("#type").change(function() {
    if($(this).val() == "1"){
      manager.show();
      staff.hide();
      externalStaff.hide();
      disabled.hide();
    } else if ($(this).val() == "2") {
      manager.hide();
      staff.show();
      externalStaff.hide();
      disabled.hide();
    } else if ($(this).val() == "3") {
      manager.hide();
      staff.hide();
      externalStaff.show();
      disabled.hide();
    } else {
      manager.hide();
      staff.hide();
      externalStaff.hide();
      disabled.show();
    };
  });
</script>
