<div class="col-12">
  <div class="row">
    <div class="col-md-6 col-12">
      <h2>個別勤怠</h2>
    </div>
    <div class="col-md-6 col-12">
      <%= link_to new_employees_attendance_path(prev_action: controller.action_name), remote: true, class: "btn btn-dark float-r" do %>
        <i class="fas fa-plus"></i> 新規勤怠
      <% end %>
    </div>
  </div>
      
  <div class="card mt-1e">
    <div class="card-header bg-dark tab-wrapper pt-0 pb-05e">
      <%= form_with(url: individual_employees_attendances_path, method: :get, local: true) do |f| %>
        <div class="row">
          <div class="col-lg-4 col-md-5 flex pt-05e pl-0 pr-0">
            <div class="pl-5 pr-5" style="width: 60%;">
              <%= f.select :year, @years_hash, { selected: params[:year] }, { class: "form-control", required: true } %>
            </div>
              
            <div class="pl-5 pr-5"  style="width: 40%;">
              <%= f.select :month, Constants::MONTH_HASH, { selected: params[:month] }, { class: "form-control", required: true } %>
            </div>
          </div>

          <div class="col-md-2 col-sm-6 pt-05e pl-5 pr-5">
            <%= f.select :type, Constants::EMPLOYEES_TYPE_HASH, { selected: params[:type], include_blank: "従業員タイプを選択" }, { class: "form-control", id: "type", required: true } %>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 pt-05e pl-5 pr-5">
            <%= f.select :initial, {}, { include_blank: "従業員を選択" }, class: "form-control",  id: "initial", disabled: true %>
            <%= f.collection_select :manager_id, @managers, :id, :name, { selected: params[:manager_id], include_blank: "Managerを選択" }, class: "form-control", id: "manager" %>
            <%= f.collection_select :staff_id, @staffs, :id, :name, { selected: params[:staff_id], include_blank: "Staffを選択" }, class: "form-control", id: "staff" %>
            <%= f.collection_select :external_staff_id, @external_staffs, :id, :name, { selected: params[:external_staff_id], include_blank: "外部Staffを選択" }, class: "form-control", id: "external-staff" %>
          </div>

          <div class="col-md-1 pl-5 pr-5 pt-05e">
            <input type="submit" value="&#xf002;" class="fas btn btn-block btn-primary" style="height: 100%;">
          </div>
        </div>
      <% end %>
    </div>
        
    <div class="card-body">
      <%= content_tag(:h5, @resource.name) if @resource %>
      <div class="table-responsive">
        <table class="table table-bordered text-nowrap common-table">
          <tr>
            <th>日付</th>
            <th>出勤時間</th>
            <th>退勤時間</th>
            <th>勤務時間</th>
          </tr>
          <% if @attendances %>
            <% @total_working_minutes = 0 %>
            <% @attendances.each do |attendance| %>
              <% if attendance.finished_at.present? %>
                <% finished_at = l(attendance.finished_at, format: :time) %>
              <% else %>
                <% finished_at = "not-entered" %>
              <% end %>
              <tr class="tr-link" data-link="<%= edit_employees_attendance_path(attendance.id) %>">
                <td><%= l(attendance.worked_on, format: :middle) %> (<%= Constants::DAYS_OF_THE_WEEK[attendance.worked_on.wday] %>)</td>
                <td><%= l(attendance.started_at, format: :time) %></td>                
                <% if finished_nil?(attendance) %>
                  <td class="text-danger">退勤未処理</td>
                <% else %>
                  <td><%= finished_at if attendance.finished_at.present? %></td>
                <% end %>             
                <td>
                  <% if attendance.working_minutes.present? %>
                    <%= daily_working_time(attendance.working_minutes) %>
                    <% @total_working_minutes += attendance.working_minutes.to_i %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <tr>
              <th>出勤回数</th>
              <th></th>
              <th></th>
              <th>合計勤務時間</th>
            </tr>
            <tr>
              <td><%= @attendances.length %>日</td>
              <%= empty_td(2) %>
              <td><%= monthly_working_time(@total_working_minutes) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  // trクリックで、勤怠編集モーダルを開く
  $("tr[data-link]").click(function() {
    $.ajax({
      type: "GET",
      url: $(this).data("link"),
      data: { prev_action: "individual" }      
    });
  });

  $(document).ready(function () {
    const manager = $("#manager");
    const managerSelect = $('select[name="manager_id"]');
    const staff = $("#staff");
    const staffSelect = $('select[name="staff_id"]');
    const externalStaff = $("#external-staff");
    const externalStaffSelect = $('select[name="external_staff_id"]');
    const initial = $("#initial");

    // マネージャー選択フォーム表示し、それ以外はリセットして非表示
    function showManagerSelect() {
      manager.show();
      managerSelect.attr("required", "true");
      staff.hide();
      staffSelect.removeAttr("required");
      staffSelect.val("");
      externalStaff.hide();
      externalStaffSelect.removeAttr("required");
      externalStaffSelect.val("");
      initial.hide();
    };

    // スタッフ選択フォーム表示し、それ以外はリセットして非表示
    function showStaffSelect() {
      manager.hide();
      managerSelect.removeAttr("required");
      managerSelect.val("");
      staff.show();
      staffSelect.attr("required", "true");
      externalStaff.hide();
      externalStaffSelect.removeAttr("required");
      externalStaffSelect.val("");
      initial.hide();
    };

    // 外部スタッフ選択フォーム表示し、それ以外はリセットして非表示
    function showExternalStaffSelect() {
      manager.hide();
      managerSelect.removeAttr("required");
      managerSelect.val("");
      staff.hide();
      staffSelect.removeAttr("required");
      externalStaff.show();
      staffSelect.val("");
      externalStaffSelect.attr("required", "true");
      initial.hide();
    };

    // 全タイプの従業員選択フォームをリセットして非表示
    function showInitialSelect() {
      initial.show();
      manager.hide();
      managerSelect.val("");
      staff.hide();
      staffSelect.val("");
      externalStaff.hide();
      externalStaffSelect.val("");
    };

    // 検索結果を、選択フォームに初期表示
    <% if params[:type] && params[:type] == "1" %>
      showManagerSelect();
    <% elsif params[:type] && params[:type] == "2" %>
      showStaffSelect();
    <% elsif params[:type] && params[:type] == "3" %>
      showExternalStaffSelect();
    <% else %>
      showInitialSelect();
    <% end %>

    // 従業員タイプの選択が変わる度に、該当のセレクトフォームを表示
    $("#type").change(function() {
      if($(this).val() == "1"){
        showManagerSelect();
      } else if ($(this).val() == "2") {
        showStaffSelect();
      } else if ($(this).val() == "3") {
        showExternalStaffSelect();
      } else {
        showInitialSelect();
      };
    });
  });
</script>
