<h2>管理者編集</h2>

<%= form_with(model: @admin, url: admin_registration_path, local: true) do |f| %>
  <%= render "shared/error_messages", resource: resource %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, autocomplete: "name", maxlength: 30, required: true, class: "form-control" %>

  <%= f.label :employee_id %>
  <%= f.text_field :employee_id, autofocus: true, autocomplete: "employee_id", maxlength: 10, required: true, class: "form-control" %>

  <%= f.label :password %>
  <%= f.password_field :password, autocomplete: "new-password", maxlength: 12, class: "form-control" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", maxlength: 12, class: "form-control" %>
  
  <div class="btn-area">
    <%= f.submit "編集", class: "btn btn-dark" %>
  </div>
<% end %>

<% if @admin.errors.any? %>
  <script>
    $(document).ready(function() {
      history.pushState("", "", location.href + "/edit")
    });
  </script>
<% end %>
