<div class="table-responsive">
  <table class="table table-bordered text-nowrap common-table">
    <thead>
      <tr>
        <th>名前</th>
        <th>分類</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="sortable-categories">
      <% @categories.each do |category| %>
        <tr class="tr-sortable">
          <td><%= category.name %></td>
          <td><%= category.classification_i18n %></td>
          <td>
            <%= link_to "編集", edit_employees_settings_estimates_category_path(category), remote: true, class: "btn btn-sm btn-dark" %>
            <%= link_to "削除", employees_settings_estimates_category_path(category), method: :delete, data: { confirm: "この工事名称を削除してよろしいですか？", remote: true }, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= javascript_include_tag "sortable/Sortable.min.js" %>
<%= javascript_include_tag "sortable/categories.js" %>
