<div>
  <% if @report_cover.present? %>
    <div class="a4-container">
      <div class="report-cover-main">
        <div class="title"><%= @matter.title %> 報告書</div>
        <div class="img-wrapper">
          <div>
            <%= image_tag url_for(@cover_img_1.image.variant(combine_options: { gravity: :center, resize: "430x300^", crop: "430x300+0+0" })) %>
          </div>
          <div class="sm-img-wrapper">
            <div class="sm-img mr-5">
              <%= image_tag url_for(@cover_img_2.image.variant(combine_options: { gravity: :center, resize: "430x220^", crop: "140x110+0+0" })) %>
            </div>
            <div class="sm-img mr-5">
              <%= image_tag url_for(@cover_img_3.image.variant(combine_options: { gravity: :center, resize: "140x100^", crop: "140x110+0+0" })) %>
            </div>
            <div>
              <%= image_tag url_for(@cover_img_4.image.variant(combine_options: { gravity: :center, resize: "140x100^", crop: "140x110+0+0" })) %>
            </div>
          </div>   
        </div>     
      </div>
      <div class="report-cover-sub">
        <div class="pt-1e"><%= @matter.title %></div>
        <div class="pt-05e"><%= @address %></div>
        <div><%= @matter.started_on %></div>
        <div><%= @matter.finished_on %></div>
        <div><%= l(@report_cover.created_on, format: :long) %></div>
        <div><%= image_tag("profile.jpg", size: "50x50", alt: "ロゴ") %></div>
      </div>
    </div>
  <% end %>

  <% @reports.each_slice(3).with_index(0) do |report_three, index| %>
    <div class="a4-container">
      <% report_three.each.with_index(1) do |report, second_index| %>
      <table class="report_preview">
        <tr>
          <td rowspan="2"><%= image_tag url_for(report.image.image.variant(combine_options:{gravity: :center, resize:"290x230^",crop:"290x230+0+0"})) %></td>
          <td class="span"></td>
          <td class="h6_td"><h6><span><%= index * 3 + second_index %></span><%= report.title %></h6></td>
        </tr>
        <tr><td colspan="3" class="bottom"></td></tr>
      </table>
      <% end %>
    </div>
  <% end %>
</div>

<div id="print-area" style="display: none">
  <% if @cover.present? %>
    <div class="a4-print-container">
      <div class="cover_image_wrapper">
        <%= image_tag url_for(@cover.image.image.variant(combine_options:{gravity: :center, resize:"850x700^",crop:"850x700+0+0"})) %>
      </div>
      <div class="cover_title_wrapper">
        <%= @cover.title %>
      </div>
      <div class="cover_content_wrapper">
        <%= safe_join(@cover.content.split("\n"),tag(:br)) %>
      </div>
      <div class="cover_logo_wrapper">
        <%= image_tag url_for(@publisher.image.variant(resize:"300x15^")) %>
      </div>
    </div>
  <% end %>
  
  <% @reports.each_slice(3).with_index(0) do |report_three, index| %>
    <div class="a4-print-container">
      <% report_three.each.with_index(1) do |report, second_index| %>
        <table class="report_preview">
          <tr>
            <td rowspan="2"><%= image_tag url_for(report.image.image.variant(combine_options:{gravity: :center, resize:"500x400^",crop:"500x400+0+0"})) %></td>
            <td class="h6_td"><h6><span><%= index * 3 + second_index %></span><%= report.title %></h6></td>
          </tr>
        </table>
      <% end %>
    </div>
  <% end %>
</div>
