<div class="container-fluid">
  <h3>Manager総合情報</h3>
  <div class-"table-responsive">
    <table class="table table-bordered text-nowrap manager_info_table">
      <tr>
        <th>アカウント数</th>
        <td><%= @account_number %></td>
      </tr>
    </table>
  </div>
  
  <h3>Manager/未承認Account</h3>
  <div class="table-responsive">
    <table class="table table-bordered text-nowrap non_approval_managers_table">
        <tr>
          <th>会社名</th>
          <th>名前</th>
          <th>Mail</th>
          <th>Phone</th>
          <th>承認</th>
        </tr>
        <% @non_approval_managers.each do |manager| %>
        <tr>
          <td><%= manager.company %></td>
          <td><%= manager.name %></td>
          <td><%= manager.email %></td>
          <td><a href="tel:<%= manager.phone %>"><%= manager.phone %></a></td>
          <td><%= manager.approved %></td><!--decorator-->
        </tr>
        
        <div class="modal" id="approval_<%= manager.id %>_content">
          <div class="modal__bg js-modal-close_<%= manager.id %>"></div>
            <div class="approval_modal">
              <div class="approval_modal_container">
                <h5><%= manager.company %>の承認FORM</h5>
              </div>
              <div class="approval_modal_content">
                <%= form_with(model:manager, url:approval_admin_manager_path(manager), method: :patch, local: true) do |f| %>
                  <div class="form-group">
                    <%= f.label:public_uid, "PUBLIC_UID" %>
                    <%= f.text_field:public_uid, class: "form-control" %>
                  </div>
                  <%= f.submit "承認", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div><!-- /.modal-content -->
          </div>
        </div>
      <% end %>
    </table>
  </div>

  <h3>Manager/承認Account情報</h3>
  <div class="table-responsive">
    <table class="table table-bordered text-nowrap manager_show_table">
        <tr>
          <th>会社名</th>
          <th>名前</th>
          <th>Mail</th>
          <th>Phone</th>
          <th>UID</th>
          <th>承認</th>
        </tr>
        <% @managers.each do |manager| %>
        <tr>
          <td><%= manager.company %></td>
          <td><%= manager.name %></td>
          <td><%= manager.email %></td>
           <td><a href="tel:<%= manager.phone %>"><%= manager.phone %></a></td>
          <td><%= manager.public_uid %></td>
          <td><%= manager.approved %></td><!--decorator-->
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script>
<% @non_approval_managers.each do |manager| %>
  $(function(){
    $('#approved_<%= manager.id %>').on('click',function(){
      $('#approval_<%= manager.id %>_content').fadeIn();
      return false;
    });
    $('.js-modal-close_<%= manager.id %>').on('click',function(){
      $('#approval_<%= manager.id %>_content').fadeOut();
      return false;
    });
  });
<% end %>
</script>


