<div id="person_in_charge_show">
  
  <h6 class="text-left">担当Submanager</h6>
  <div class="table-responsive">
    <% if current_matter.matter_submanagers.exists? %>
      <table class="table table-bordered text-nowrap matter_show_table">
        <tr>
          <th>氏名</th>
          <th>TEL</th>
          <th>Email</th>
        </tr>
        <% current_matter.submanagers.each do |submanager| %>
          <tr>
            <td><%= submanager.name %><%= manage_authority_badge(submanager) %></td>
            <td><%= submanager.phone %></td>
            <td><%= submanager.email %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="no_entry_disp">
        担当Submanagerは登録されておりません
      </div>
    <% end %>
    <button class="btn btn-dark float-r mb-1e" id="submanager_in_charge_btn">新規登録・編集</button>
  </div>
  
  <h6 class="text-left">担当Staff</h6>
  <div class="table-responsive">
    <% if current_matter.matter_staffs.exists? %>
      <table class="table table-bordered text-nowrap matter_show_table">
        <tr>
          <th>氏名</th>
          <th>TEL</th>
          <th>Email</th>
        </tr>
        <% current_matter.staffs.each do |staff| %>
          <tr>
            <td><%= staff.name %></td>
            <td><%= staff.phone %></td>
            <td><%= staff.email %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="no_entry_disp">
        Staffは登録されておりません
      </div>
    <% end %>
    <button class="btn btn-dark float-r mb-1e" id="staff_in_charge_btn">新規登録・編集</button>
  </div>
</div>
  
<div id="submanager_in_charge_edit" style="display: none;">
  <h5 class="text-left">Submanager登録・編集</h5>
  <div class="line-sm"></div>
  <div>
    <%= form_with(model: current_matter, url: person_in_charge_update_matter_matter_path(@manager, current_matter), method: :patch, remote: true) do |f| %>
      <div class="form-check text-left">
        <%= f.collection_check_boxes :submanager_ids, dependent_manager.submanagers, :id, :name, { include_hidden: false}, class: "form-check-input" do |b| %>
          <%= b.label class: "form-check-label mr-2e" do %>
            <%= b.check_box + b.text %>
          <% end %>
        <% end %>
      </div>
      <%= f.submit "更新", class: "btn btn-dark float-l mt-1e" %>
      <button type="button" class="btn float-r person_in_charge_return_btn mt-1e"><i class="fas fa-angle-left"></i> 戻る</button>
    <% end %>
  </div>
</div>

<div id="staff_in_charge_edit" style="display: none;">
  <h5 class="text-left">Staff登録・編集</h5>
  <div class="line-sm"></div>
  <div>
    <%= form_with(model: current_matter, url: person_in_charge_update_matter_matter_path(@manager, current_matter), method: :patch, remote: true) do |fi| %>
      <div class="form-check text-left">
        <%= fi.collection_check_boxes :staff_ids, dependent_manager.staffs, :id, :name, { include_hidden: false}, class: "form-check-input" do |b| %>
          <%= b.label class: "form-check-label mr-2e" do %>
            <%= b.check_box + b.text %>
          <% end %>
        <% end %>
      </div>
      <%= fi.submit "更新", class: "btn btn-dark float-l mt-1e" %>
      <button type="button" class="btn float-r person_in_charge_return_btn mt-1e"><i class="fas fa-angle-left"></i> 戻る</button>
    <% end %>
  </div>
</div>

<script>
  $('#submanager_in_charge_btn').on('click', function(){
    $('#submanager_in_charge_edit').show();
    $('#staff_in_charge_edit').hide();
    $('#person_in_charge_show').hide();
  });
  
  $('#staff_in_charge_btn').on('click', function(){
    $('#staff_in_charge_edit').show();
    $('#submanager_in_charge_edit').hide();
    $('#person_in_charge_show').hide();
  })
  
  $('.person_in_charge_return_btn').on('click', function(){
    $('#person_in_charge_show').show();
    $('#staff_in_charge_edit').hide();
    $('#submanager_in_charge_edit').hide();
  });
</script>