<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header">見積作成</h5>
        <div class="card-body">
          <%= form_with(model: estimate, url: employees_estimate_matter_estimates_path(estimate_matter), method: :post, remote: true) do |f| %>
            <div class="estimate-create-errors"></div>
            <%= f.label :plan_name_id, "デフォルトプラン名" %>
            <div class="input-group">
              <%= f.collection_select :plan_name_id, @plan_names, :name, :name, { include_blank: "デフォルトから選択" }, class: "form-control" %>
              <div class="input-group-append">        
                <span class="input-group-text" style="width: 3em; background: <%= @label_color %>;" id="color-sample"></span>
              </div>
            </div>
            <%= render "form", f: f, categories: categories %>
            <div class="btn-area">
              <%= f.submit "作成", class: "btn btn-dark reset-errors" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>

<script>
  $('[name="estimate[plan_name]"]').change(function() {
    if($(this).val() != "") {
      $('[name="estimate[title]"]').val($(this).val());
    }
  });
</script>
