<div class="col-md-12">
  <%= render partial: 'layouts/page_title', locals: { title_1: "登録情報", title_2: "#{current_client.name} 様の編集", icon: "fa-user-edit"} %>
  
  <div class="card">
  <div class="card-body">
    <%= form_with(model: @client, url: client_registration_path, local: true) do |f| %>
      <%= render "shared/error_messages", resource: @client %>
      <%= render 'clients/registrations/partial/form', f: f %>
      <div class="btn-area">
        <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>

<% if @client.errors.any? %>
  <script>
    $(document).ready(function() {
      history.pushState("", "", location.href + "/edit")
    });
  </script>
<% else %>
  <%= javascript_include_tag "postal_code_to_address.js" %>
<% end %>