<div class="modal-dialog non-card-modal">
  <div class="modal-content">
    <div class="modal-header bg-danger">
      パスワードが初期値のユーザー一覧
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <div class="table-responsive">
        <table class="table table-bordered text-nowrap table-column-type">
          <tr>
            <th>権限</th>
            <th>氏名</th>
            <th>作成日</th>
          </tr>
          <% @object_member_code.each do |member_code| %>
            <% @path = "employees_#{member_code.parent.auth}_path" %>
            <tr class="tr-link" data-link="<%= send(@path, id: member_code.parent.id) %>">
              <td><%= ja_auth(member_code.parent.auth) %></td>
              <td><%= member_code.parent.name %></td>
              <td><%= member_code.created_at.strftime("%Y年%-m月%-d日") %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "tr_link.js" %>
