<% @alert_tasks_for_matter.each do |key, tasks| %>
  <h3 class="text-center">【<%= Task.title_from_id(key) %>】</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-sm text-nowrap common-table">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>着工予定日</th>
          <th>完了予定日</th>
          <th>進行状況</th>
        </tr>
      </thead>
      <% tasks.each do |task| %>
        <tr class="tr-link" data-link="<%= employees_matter_path(task.matter) %>">
          <td><%= task.matter.title %></td>
          <td><%= task.matter.scheduled_started_on %></td>
          <td><%= task.matter.scheduled_finished_on %></td>
          <td><%= I18n.t("enums.matter.status.#{ task.matter.status }") %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>