<ul class="nav nav-tabs title_tab_bar">
  <li class="nav-item">
    <a class="nav-link warning_tab">警告事項</a>
  </li>
</ul>
  
<div class="news_container">
  <div class="top_page_contents">
  <!--タスク勧告-->
    <div id="alert_task_list">
      <%= render 'shared/top_pages/alert_list/tasks/alert_task_list' %>
    </div>
    
  <!--出退勤関係-->
    <% if current_admin || current_manager %>
      <% if @error_attendances %>
        <%= render "shared/top_pages/alert_list/attendances/error_attendances" %>
      <% end %>
    <% end %>
    <% unless current_admin || current_manager %>
      <% if @own_error_attendances %>
        <%= render "shared/top_pages/alert_list/attendances/own_error_attendances", path: "#{login_user.auth}s_attendances_path" %>
      <% end %>
    <% end %>
    
  <!--PASS関連-->
    <% if current_admin || current_manager %>
      <% unless @object_member_code.empty? %>
        <p>
          <i class="fas fa-exclamation-circle fa-orange"></i>
          <span><%= link_to "ログインパスワードが初期値のユーザーがいます：#{ @object_member_code.length }件", admins_default_password_user_index_path, remote: true %></span>
        </p>
      <% end %>
    <% end %>
    
    <% unless login_user.password_condition %>
      <p>
        <i class="fas fa-exclamation-circle fa-red"></i>
        <span><%= link_to "自身のログインパスワードが初期値のままです", send("edit_#{login_user.auth}_registration_path", login_user) %></span>
      </p>
    <% end %>
  </div>
</div>