<div class="modal-dialog non-card-modal">
  <div class="modal-content">
    <div class="modal-header">
      <%= @matter.title %> 担当者変更
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body bg-white">
      <%= form_with(model: @matter, url: member_change_for_supplier_staff_employees_matter_members_path(@matter), method: :patch, remote: true) do |f| %>
        <div class="matter-update-errors"></div>
        <label class="form-control text-white" style="background: #787a7b;"><%= @supplier.name %>のご担当者</label>
        <div class="col-12">
          <div>
            <%= f.collection_select :member_code_ids, @supplier_staff_codes_ids, :member_code_id, :name, { include_hidden: false }, { class: "form-control select-members", multiple: true, id: "supplier_staff_select" } %>
            <%= f.hidden_field :supplier_id, value: @supplier.id %>
            <%= f.hidden_field :redirect_external_staff_id, value: @external_staff.id %>
          </div>
        </div>
        <div class="btn-area">
          <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
        </div>
      <% end %>
      
      <div class="mt-1e text-center">
        <span><%= @supplier.name %>ごと変更する場合はこちらから</span>
        <p><%= link_to "案件詳細ページ", employees_matter_path(@matter) %></p>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "select_members.js" %>

<% if @external_staff_codes_ids.present? %>
  <script>
    $(document).ready( function(){
      $('#external_staff_select').val(<%= @external_staff_codes_ids %>).trigger('change');
    });
  </script>
<% end %>