<div class="table-responsible">
  <table class="table table-bordered">
    <tr>
      <th>タイトル</th>
      <td><%= task.title %></td>
    </tr>
    <tr>
      <th>備考</th>
      <td><%= task.contents %></td>
    </tr>
  </table>
</div>

<div>
    <button type="button", class="btn btn-sm btn-primary" id="edit_task_<%= task.id %>">編集</button>
    <%= link_to "削除", employees_matter_task_path(task), method: :delete, data: {confirm: "本当に削除しますか？"}, remote: true, class: "btn btn-sm btn-dark" %>
</div>

<script>
  $('#edit_task_<%= task.id %>').on('click', function(){
    $('.show_table_<%= task.id %>').hide();
    $('.edit_form_<%= task.id %>').show();
  });
</script>
