<div class="modal-dialog no-padding_modal">
  <div class="modal-content">
    <div class="modal-header">
      <%= @matter.title %> 担当者変更
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <%= form_with(model: @matter, url: update_member_employees_matter_path(@matter), method: :patch, local: true) do |f| %>
        <div class="matter-update-errors"></div>      
          <div class="col-md-12">
            <%= f.label "担当スタッフ" %>
            <div>
              <%= f.select :staff_ids, options_for_select(@all_staff_codes.map{ |code|[member_name_from_member_code(code), code.id]}), {include_blank: "選択してください" }, multiple: true, class: "form-control select-members", id: "select_staff" %>
            </div>
          </div>
          <div class="col-md-12">
            <%= f.label "担当外部スタッフ" %>
            <div>
              <%= f.select :external_staff_ids, options_for_select(@all_external_staff_codes.map{ |code|[member_name_from_member_code(code), code.id]}), {include_blank: "選択してください" }, multiple: true, class: "form-control select-members", id: "select_external_staff" %>
            </div>
          </div>
          <!--リダイレクト分岐-->
          <% if @staff.present? %>
            <%= f.hidden_field :staff_id, value: @staff.id %>
          <% elsif @external_staff.present? %>
            <%= f.hidden_field :external_staff_id, value: @external_staff.id %>
          <% end %>
          <div class="btn-area">
            <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "select_members.js" %>
<%= javascript_include_tag "reset_errors.js" %>

<% if @staff_codes.present? %>
  <script>
    $(document).ready( function(){
      $('#select_staff').val(<%= @staff_codes.ids %>).trigger('change');
    });
  </script>
<% end %>

<% if @external_staff_codes.present? %>
  <script>
    $(document).ready( function(){
      $('#select_external_staff').val(<%= @external_staff_codes.ids %>).trigger('change');
    });
  </script>
<% end %>
