<div class="row pc_type">
  <div class="col-6">
    <%= link_to "CALENDAR", calendar_employees_matter_path(@matter), class: "btn btn-info", remote: true %>
  </div>
  <div class="col-6 text-right pr-0 mb-1e">
    <%= link_to "見積項目セット", set_estimate_category_employees_matter_construction_schedules_path(@matter), remote: true, class: "btn btn-dark" %>
    
    <%= link_to new_employees_matter_construction_schedule_path(@matter), remote: true, class: "btn btn-primary" do %>
      <i class="fas fa-plus"></i> 工程追加
    <% end %>
  </div>
</div>

<div class="col-12 text-left mb-1e mobile_type">
  <button class="btn btn-primary" id="add-construcrion_schedule"><i class="fas fa-plus"></i>工程追加</button>
  <%= link_to "見積項目セット", set_estimate_category_employees_matter_construction_schedules_path(@matter), remote: true, class: "btn btn-dark" %>
</div>

<div id="construction_schedule_table">
  <%= render 'employees/matters/construction_schedules/partial/table' %>
</div>