<div>
  <h1>部署作成</h1>
  <%= form_with(model: @department, url: employees_settings_departments_path, method: :post, local: true) do |f| %>
    <%= render "shared/error_messages", resource: @supplier %>

    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", maxlength: 30, required: true, class: "form-control" %>
    <div class="btn-area">
      <%= f.submit "作成", class: "btn btn-dark" %>
    </div>
  <% end %>
</div>