<div class="grid">
  <div id="login">
    <h2><span class="fontawesome-lock"></span>Manager / Sign in</h2>
        
    <fieldset>
      <%= form_for(Manager.new, as: :manager, url: session_path(:manager), local: true) do |f| %>
              
          <p><%= f.label :email %></p>
          <p><%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, id: "email" %></p>
          
          <p><%= f.label :password %></p>
          <p><%= f.password_field :password, autocomplete: "current-password", required: true, id: "password" %></p>
          
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "ログイン状態を維持する" %>
          
          <%= f.submit "ログイン" %>
          
          <div class="sign_in_link">
            <p><%= link_to "パスワードを忘れた場合", new_password_path(:manager) %></p>
            <p><%= link_to "アカウント新規作成", new_manager_registration_path(:manager) %></p>
          </div>
      <% end %>
      </fieldset>
  </div>
</div>