<h4 class="title_layout"><i class="fas fa-clipboard-list"></i> <%= @external_staff.name %>の引き継ぎ項目</h4>

<%= out_of_service(@external_staff) %>

<ul class="nav nav-tabs title_tab_bar mt-2e">
  <li class="nav-item">
    <a class="nav-link title_tab">① 担当案件の担当者変更</a>
  </li>
</ul>
  
<div class="news_container">
  <% if @matters.present? || @estimate_matters.present? %>
    <%= render 'employees/external_staffs/retirements/matter' %>
  <% else %>
   <p>現状、未着手・着工中の担当案件はありません</p>
   <% @process_2 = true %>
  <% end %>
</div>

<% if @process_2 == true %>

  <ul class="nav nav-tabs title_tab_bar mt-2e">
    <li class="nav-item">
      <a class="nav-link title_tab">② 割振タスクの担当者変更</a>
    </li>
  </ul>
  
  <div class="news_container">
    <% if @tasks.present? %>
      <%= render 'employees/external_staffs/retirements/task' %>
    <% else %>
     <p>現状、未着手・進行中のタスクはありません</p>
     <% @process_3 = true %>
    <% end %>
  </div>
<% end %>

<% if @process_3 == true %>
  <ul class="nav nav-tabs title_tab_bar mt-2e">
    <li class="nav-item">
      <a class="nav-link title_tab">③ 本日以降のスケジュール担当者変更</a>
    </li>
  </ul>
    
  <div class="news_container">
    <div id="schedule_index_for_retirement">
      <%= render 'employees/external_staffs/retirements/schedule' %>
    </div>
  </div>
<% end %>

<div class="text-center" id="out_of_service" style="display:none">
  <%= link_to "アカウント利用停止", out_of_service_employees_external_staff_path(@external_staff), method: :patch, class: "btn btn-danger" %>
</div>

<% if @external_staff.avaliable == false %>
  <div class="text-center">
    <%= link_to "削除", confirmation_for_destroy_employees_external_staff_path(@external_staff), remote: true, class: "btn btn-danger" %>
  </div>
<% end %>

<% if @process_4 == true && @external_staff.avaliable == true %>
  <script>
    $('#out_of_service').show();
  </script>
<% end %>
