<section>
  <% if @photo_arrey.present? %>
    <% @photo_arrey.each.with_index(1) do |photo_info, index| %>
      <div class="table-responsive">
        <%= form_with(model: model, url: send(path, model), method: :post, remote: true) do |f| %>
          <table class="table common-table table-bordered text-nowrap">
            <tr>
              <th>タグ</th>
              <td><%= photo_info["content"]%></td>
            </tr>
            <% photo_info["photo"].each_with_index do |photo_url, next_index| %>
              <tr>
                <% if previously_saved_image?(@images, photo_url) %>
                  <td class="text-center">取込済</td>
                <% else %>
                  <%= f.fields_for "images[]", model.images.new do |fi| %>
                    <td class="text-center">
                      <%= fi.check_box :image, {checked: false, id: "pc_photo-#{index}-#{next_index}"}, photo_url, false %>
                    </td>
                  <% end %>
                  <%= f.hidden_field :author, value: photo_info["author"] %>
                  <%= f.hidden_field :content, value: photo_info["content"] %>
                  <%= f.hidden_field :shooted_on, value: photo_info["created_at"] %> 
                <% end %>
                <td class="text-center">
                  <%= image_tag photo_url, :size => "100x100" %> 
                </td>
              </tr>
            <% end %>
          </table>
          <div class="text-center">
            <%= f.submit "選択した画像を取り込む", class: "btn btn-dark mt-05e" %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
      <div class="text-center">BANDが選択されていないか又はBANDに画像がありません</div>
  <% end %>
</section>