<div class="modal-dialog">
  <!-- モーダルコンテンツ:モーダルに表示させる内容-->
  <div class="modal-content">
    <div class="modal-body pa-2e">

      <div class="card mb-3">
        <h5 class="card-header staff_form_color">Staff/新規作成</h5>
        <div class="card-body">
          <%= form_with(model: [:current_submanager, current_submanager.manager.manager_staffs.build ], url: submanager_staffs_path(current_submanager), method: :post, remote: true) do |f| %>

            <div class="staff_create_error"></div>

            <div class="form-group">
              <%= f.label :name, "名前" %>
              <%= f.text_field :name, required: true, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :email, "Mail" %>
              <%= f.email_field :email, required: true, class: "form-control" %>
            </div>

            <%= f.submit "作成", class: "btn btn-dark" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
