<div class="modal-dialog non-card-modal wide_modal">
  <div class="modal-content">
    <div class="modal-header">
      変更されたスケジュール
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <div class="table-responsive">
        <table class="table table-bordered text-nowrap table-column-type">
          <tr>
            <th rowspan="2" style="vertical-align: middle;">確認済</th>
            <th rowspan="2" style="vertical-align: middle;">タイトル</th>
            <th>変更後</th>
            <th rowspan="2" style="vertical-align: middle;">日付</th>
            <th rowspan="2" style="vertical-align: middle;">開始予定時刻</th>
            <th rowspan="2" style="vertical-align: middle;">終了予定時刻</th>
            <th rowspan="2" style="vertical-align: middle;">通知人</th>
          </tr>
          <tr>
            <th>変更前</th>
          </tr>
          <% @updation_schedules.each do |schedule| %>
            <tr>
              <td rowspan="2" class="text-center updation_schedule" style="vertical-align: middle;">
                <input type="checkbox" name="confirmation" value=<%= schedule.notification_id %> checked="checked">
              </td>
              <td rowspan="2" style="vertical-align: middle;"><%= schedule.title %></td>
              <td>変更後</td>
              <td><%= schedule.scheduled_date.strftime("%-m月%-d日") %></td>
              <td><%= schedule.scheduled_start_time.strftime("%-H:%M") %></td>
              <td><%= schedule.scheduled_end_time.strftime("%-H:%M") %></td>
              <td rowspan="2" style="vertical-align: middle;"><%= member_name_from_member_code_id(schedule.sender_id) %></td>
            </tr>
            <tr>
              <td>変更前</td>
              <td><%= schedule.before_value_1.to_date.strftime("%-m月%-d日") %></td>
              <td><%= schedule.before_value_2.to_time.strftime("%-H:%M") %></td>
              <td><%= schedule.before_value_3.to_time.strftime("%-H:%M") %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="text-center">
        <button class="btn btn-dark" id="confirmation_btn">確認</button>  
      </div>
    </div>
  </div>
</div>

<script>
  $('#confirmation_btn').on('click', function(){
    var checked_notification_array = [];
    $('.updation_schedule input').each( function(index, element){
      if($(element).prop('checked')){
        var val = $(this).val();
        checked_notification_array.push(val);
      }
    });
    $.ajax({
      type: "PATCH",
      url: "<%= updates_notifications_path %>",
      cache: false,
      data: { notification_ids: checked_notification_array },
    })
  });
</script>