<div class="text-center mr-1e">
  <button class="btn btn-primary" id="print">印刷</button>
</div>

<div>
  <% if @report_cover.present? %>
    <div class="a4-container">
      <div class="report-cover-main">
        <div class="title"><%= @matter.title %> 報告書</div>
        <div class="img-wrapper">
          <div>
            <% if @cover_img_1.present? %>
              <%= image_tag url_for(@cover_img_1.image.variant(combine_options: { gravity: :center, resize: "430x300^", crop: "430x300+0+0" })) %>
            <% else %>
              <div class="no-big-img-msg align-center">No<br>Image</div>
            <% end %>
          </div>
          <div class="sm-img-wrapper">
            <div class="sm-img mr-5">
              <% if @cover_img_2.present? %>
                <%= image_tag url_for(@cover_img_2.image.variant(combine_options: { gravity: :center, resize: "430x110^", crop: "140x110+0+0" })) %>
              <% else %>
                <div class="no-sm-img-msg align-center">No<br>Image</div>
              <% end %>
            </div>
            <div class="sm-img mr-5">
              <% if @cover_img_3.present? %>
                <%= image_tag url_for(@cover_img_3.image.variant(combine_options: { gravity: :center, resize: "140x110^", crop: "140x110+0+0" })) %>
              <% else %>
                <div class="no-sm-img-msg align-center">No<br>Image</div>
              <% end %>
            </div>
            <div class="sm-img">
              <% if @cover_img_4.present? %>
                <%= image_tag url_for(@cover_img_4.image.variant(combine_options: { gravity: :center, resize: "140x110^", crop: "140x110+0+0" })) %>
              <% else %>
                <div class="no-sm-img-msg align-center">No<br>Image</div>
              <% end %>
            </div>
          </div>   
        </div>     
      </div>
      <div class="report-cover-sub">
        <div class="pt-1e"><%= @matter.title %></div>
        <div class="pt-05e"><%= @address %></div>
        <div class="pt-05e">
          <span class="mr-1e">着工日</span>
          <%= l(@matter.started_on, format: :semi_long) if @matter.started_on.present? %>
        </div>
        <div>
          <span class="mr-1e">完工日</span>
          <%= l(@matter.finished_on, format: :semi_long) if @matter.finished_on.present? %>
        </div>
        <div>
          <span class="mr-1e">作成日</span>
          <%= l(@report_cover.created_on, format: :semi_long) %>
        </div>
        <div class="mt-05e"><%= image_tag("profile.jpg", size: "50x50", alt: "ロゴ") %></div>
        <div class="mt-05e"><%= @publisher_address %></div>
        <div class="mt-05e">
          <span class="mr-1e">TEL:<%= @publisher.phone %></span>
          FAX:<%= @publisher.fax %>
        </div>
      </div>
    </div>
  <% end %>

  <% @reports.each_slice(6).with_index(0) do |report_six, index| %>
    <div class="a4-container report-page">
      <div class="page-logo"><%= image_tag("profile.jpg", size: "30x30", alt: "ロゴ") %></div>
      <div class="row">
        <% report_six.each.with_index(1) do |report, second_index| %>
          <div class="col-6 mt-05e">
            <div class="report-item">
              <div>
                <%= image_tag url_for(report.image.image.variant(combine_options: { gravity: :center, resize: "250x190^", crop: "250x190+0+0"})) %>
              </div>
              <div class="report-title"><%= report.title %></div>            
            </div>         
          </div>
        <% end %>
        <% (6 - report_six.size).times do |report| %>
          <div class="col-6 mt-05e">
            <div class="empty-report-item"></div>         
          </div>
        <% end %>
      </div>
      <div class="page-footer"><%= index * 6 + report_six.size %>/<%= @reports.count %></div>
    </div>  
  <% end %>
</div>

<div id="print-area" style="display: none">
  <% if @report_cover.present? %>
    <div class="a4-print-container">
      <div class="report-cover-main">
        <div class="title"><%= @matter.title %> 報告書</div>
        <div class="img-wrapper">
          <div>
            <% if @cover_img_1.present? %>
              <%= image_tag url_for(@cover_img_1.image.variant(combine_options: { gravity: :center, resize: "700x520^", crop: "700x520+0+0" })) %>
            <% else %>
              <div class="no-big-img-msg align-center">No<br>Image</div>
            <% end %>
          </div>
          <div class="sm-img-wrapper">
            <div class="sm-img mr-5">
              <% if @cover_img_2.present? %>
                <%= image_tag url_for(@cover_img_2.image.variant(combine_options: { gravity: :center, resize: "230x180^", crop: "230x180+0+0" })) %>
              <% else %>
                <div class="no-sm-img-msg align-center">No<br>Image</div>
              <% end %>
            </div>
            <div class="sm-img mr-5">
              <% if @cover_img_3.present? %>
                <%= image_tag url_for(@cover_img_3.image.variant(combine_options: { gravity: :center, resize: "230x180^", crop: "230x180+0+0" })) %>
              <% else %>
                <div class="no-sm-img-msg align-center">No<br>Image</div>
              <% end %>
            </div>
            <div class="sm-img">
              <% if @cover_img_4.present? %>
                <%= image_tag url_for(@cover_img_4.image.variant(combine_options: { gravity: :center, resize: "230x180^", crop: "230x180+0+0" })) %>
              <% else %>
                <div class="no-sm-img-msg align-center">No<br>Image</div>
              <% end %>
            </div>
          </div>   
        </div>     
      </div>
    </div>
    <div class="report-cover-sub">
      <div class="pt-1e"><%= @matter.title %></div>
      <div class="pt-05e"><%= @address %></div>
      <div class="pt-05e">
        <span class="mr-1e">着工日</span>
        <%= l(@matter.started_on, format: :semi_long) if @matter.started_on.present? %>
      </div>
      <div>
        <span class="mr-1e">完工日</span>
        <%= l(@matter.finished_on, format: :semi_long) if @matter.finished_on.present? %>
      </div>
      <div>
        <span class="mr-1e">作成日</span>
        <%= l(@report_cover.created_on, format: :semi_long) %>
      </div>
      <div class="mt-05e"><%= image_tag("profile.jpg", size: "100x100", alt: "ロゴ") %></div>
      <div class="mt-05e"><%= @publisher_address %></div>
      <div class="mt-05e">
        <span class="mr-1e">TEL:<%= @publisher.phone %></span>
        FAX:<%= @publisher.fax %>
      </div>
    </div>
  <% end %>

  <% @reports.each_slice(6).with_index(0) do |report_six, index| %>
    <div class="a4-print-container report-page">
      <div class="page-logo"><%= image_tag("profile.jpg", size: "50x50", alt: "ロゴ") %></div>
      <div class="row">
        <% report_six.each.with_index(1) do |report, second_index| %>
          <div class="col-6 mt-05e">
            <div class="report-item">
              <div>
                <%= image_tag url_for(report.image.image.variant(combine_options: { gravity: :center, resize: "450x360^", crop: "450x360+0+0"})) %>
              </div>
              <div class="report-title"><%= report.title %></div>            
            </div>         
          </div>
        <% end %>
        <% (6 - report_six.size).times do |report| %>
          <div class="col-6 mt-05e">
            <div class="empty-report-item"></div>         
          </div>
        <% end %>
      </div>
      <div class="page-footer"><%= index * 6 + report_six.size %>/<%= @reports.count %></div>
    </div> 
  <% end %>
</div>

<%= javascript_include_tag "print.js" %>
