<div class="row">
  <h4 style="display: inline">お客様情報</h4>
</div>

<div class="table-responsive">
  <table class="table table-bordered text-nowrap mt-5">
    <tr>
      <th style="width: 8em;">氏名</th>
      <td><%= @client.name %></td>
      <th>フリガナ</th>
      <td><%= @client.kana %></td>
      <th>連絡先１</th>
      <td><%= phone_formatted(@client.phone_1) %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td colspan="3"><%= @client.prefecture_code %><%= @client.address_city %><%= @client.address_street %></td>
      <th>連絡先２</th>
      <td><%= phone_formatted(@client.phone_2) %></td>
    </tr>
  </table>
</div>