<div class="table-responsible">
  <table class="table table-bordered text-nowrap table-column-type">
    <tr>
      <th rowspan="2" style="border-bottom: 1px solid black"></th>
      <th colspan="2">タイトル</th>
      <th rowspan="2" style="border-bottom: 1px solid black">担当者</th>
      <th rowspan="2" style="border-bottom: 1px solid black">材料</th>
      <th rowspan="2" style="border-bottom: 1px solid black">写真/詳細</th>
      <th>開始予定日</th>
      <th>完了予定日</th>
    </tr>
    <tr>
      <th style="border-bottom: 1px solid black">状況</th>
      <th style="border-bottom: 1px solid black">作業名称</th>
      <th style="border-bottom: 1px solid black">開始日</th>
      <th style="border-bottom: 1px solid black">完了日</th>
    </tr>
    <% construction_schedules.each_with_index do |construction, index| %>
      <tr>
        <td rowspan="2" style="border-bottom: 1px solid black"></td>
        <td colspan="2">
          <%= link_to vendor_managers_matter_path(construction.matter) do %>
            <%= construction.matter.title %>
          <% end %>
        </td>
        <td><%= construction.person_in_charge if construction.member_code %></td>
        <td rowspan="2" style="border-bottom: 1px solid black">
          <% if construction.materials.present? %>
            <% construction.materials.each do |material| %>
              <%= content_tag(:div, "#{material.name}", class: "text-left") %>
            <% end %>
          <% end %>
        </td>
        <td rowspan="2" class="text-center" style="border-bottom: 1px solid black">
          <div>
            <%= link_to "表示", picture_vendor_managers_construction_schedule_path(construction), remote: true, class: "btn btn-dark" %>
          </div>
        </td>
        <td class="text-center"><%= construction.scheduled_started_on_disp %></td>
        <td class="text-center"><%= construction.scheduled_finished_on_disp %></td>
      </tr>
      <tr>
        <td style="border-bottom: 1px solid black"><%= construction.status_i18n %></td>
        <td style="border-bottom: 1px solid black"><%= construction.title %></td>
        <td style="border-bottom: 1px solid black" class="text-center">
          <% unless retire_external_staff_id.present? %>
            <%= memebr_change_disp(construction) %>
          <% else %>
            <%= memebr_change_disp(construction, retire_external_staff_id) %>
          <% end %>
        </td>
        <td class="text-center" style="border-bottom: 1px solid black"><%=  %></td>
        <td class="text-center" style="border-bottom: 1px solid black"><%=  %></td>
      </tr>
    <% end %>
  </table>

</div>

<script>
  <% construction_schedules.each do |construction| %>
    $('#started_on_for_<%= construction.id %>').on('click', function(){
      $.ajax({
        type: "PATCH",
        url: "<%= external_staffs_matter_construction_schedule_path(construction.matter, construction) %>",
        data: { object: "started_on"}
      });
    });

    $('#finished_on_for_<%= construction.id %>').on('click', function(){
      $.ajax({
        type: "PATCH",
        url: "<%=external_staffs_matter_construction_schedule_path(construction.matter, construction) %>",
        data: { object: "finished_on"}
      });
    });
  <% end %>
</script>