<div class="modal-dialog non-card-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5>案件名：<%= @matter.title %>の担当者編集</h5>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body bg-white pa-2e">

      <%= form_with(model: @matter, url: vendor_managers_matter_path(@matter), method: :patch, remote: true) do |f| %>
        <div class="matter-update-errors"></div>

        <label class="form-control text-white" style="background: #787a7b;"><%= @vendor.name %>のご担当者</label>
        <div class="col-12">
          <div>
            <%= f.collection_select :member_code_ids, @vendor_staff_codes_ids, :member_code_id, :name, { include_hidden: false }, { class: "form-control select-members", multiple: true, id: "vendor_staff_select" } %>
            <%= f.hidden_field :vendor_id, value: @vendor.id %>
            <% if @retire_external_staff_id.present? %>
              <%= f.hidden_field :retire_external_staff_id, value: @retire_external_staff_id %>
            <% end %>
          </div>
        </div>

        <div class="btn-area">
          <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
        </div>
      <% end %>

    </div>
  </div>
</div>


<%= javascript_include_tag "select_members.js" %>

<% if @external_staff_codes_ids.present? %>
  <script>
    $(document).ready( function(){
      $('#external_staff_select').val(<%= @external_staff_codes_ids %>).trigger('change');
    });
  </script>
<% end %>