<div class="container">
  <h2><i class="fas fa-clipboard"></i> MATTER一覧</h2>
  
  <div class="row mt-1e mb-1e matter-select">
    <div class="col-sm-8">
      <button class="btn matter-select-btn" id="select_progerss">進行案件</button>
      <button class="btn matter-select-btn" id="select_finished">完了案件</button>
    </div>
  </div>
  
  <div class="table-responsive">
    <table class="table tabale-borderd text-nowrap employee_index">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>場所</th>
          <th>元請</th>
          <th>依頼人</th>
          <th>情報</th>
        </tr>
      </thead>
      
      <tbody id="progress_index" style="display: none;">
        <% @progress_matters.each do |matter| %>
          <tr>
            <td><%= matter.title %></td>
            <td>
              <div>
                <%= matter.zip %>
              </div>
              <%= matter.actual_spot %><%= matter.actual_spot_2 %>
            </td>
            <td><%= matter.managers.first.company %></td>
            <td><%= matter.clients.first.name %></td>
            <td>
              <%= link_to "詳細", staff_matter_path(current_staff, matter), class: "btn btn-dark btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tbody id="finished_index" style="display: none;">
        <% @finished_matters.each do |matter| %>
          <tr>
            <td><%= matter.title %></td>
            <td>
              <div>
                <%= matter.zip %>
              </div>
              <%= matter.actual_spot %><%= matter.actual_spot_2 %>
            </td>
            <td><%= matter.managers.first.company %></td>
            <td><%= matter.clients.first.name %></td>
            <td>
              <%= link_to "詳細", staff_matter_path(current_staff, matter), class: "btn btn-dark btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $('#select_progerss').on('click', function(){
    $('#select_progerss').addClass('active');
    $('#select_finished').removeClass("active");
    $('#progress_index').show();
    $('#finished_index').hide();
  });
  
  $('#select_finished').on('click', function(){
    $('#select_progerss').removeClass('active');
    $('#select_finished').addClass("active");
    $('#progress_index').hide();
    $('#finished_index').show();
  });
</script>
  