<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header">報告書表紙作成</h5>
        <div class="card-body">
          <%= form_with(model: @report_cover, url: employees_matter_report_covers_path, method: :post) do |f| %>
            <div class="report-cover-create-errors"></div>
            <div class="row">
              <div class="col-lg-6 col-12">
                <%= f.label :title %>
                <%= f.text_field :title, required: true, class: "form-control", maxlength: 30 %>
              </div>
              <div class="col-lg-6 col-12">
                <%= f.label :publisher_id %>
                <%= f.collection_select :publisher_id, @publishers, :id, :name, {}, class: "form-control" %>                
              </div>
            </div>

            <div class="tab-wrap">
              <input id="tab01" type="radio" name="tab" class="tab-switch" checked="checked"><label class="tab-label" for="tab01" id="label_1">画像①</label>
              <div class="tab-content">
                <%= f.hidden_field :img_1_id, class: "form-control img-1-id-form" %>
                <div class="row">
                  <div class="col-12 mt-05e img-status img-1-status">未選択</div>
                  <% @images.each do |image| %>
                    <% if @report_cover.img_1_id == image.id %>
                      <% @status = "selected" %>
                    <% else %>
                      <% @status = "unselected" %>
                    <% end %>
                    <div class="col-lg-3 col-md-4 col-12 mt-05e option-img-wrapper option-img-1-wrapper <%= @status %>-img">
                      <a href="#" class="option-img option-img-1" data-id="<%= image.id %>">
                        <%= image_tag url_for(image.image.variant(combine_options: { gravity: :center, resize: "145x115^", crop: "145x115+0+0" })) %>
                      </a>
                    </div>
                  <% end %>
                </div>
              </div>
              <input id="tab02" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab02">画像②</label>
              <div class="tab-content">
                <%= f.hidden_field :img_2_id, class: "form-control img-2-id-form" %>
                <div class="row">
                  <div class="col-12 mt-05e img-status img-2-status">未選択</div>
                  <% @images.each do |image| %>
                    <% if @report_cover.img_1_id == image.id %>
                      <% @status = "selected" %>
                    <% else %>
                      <% @status = "unselected" %>
                    <% end %>
                    <div class="col-lg-3 col-md-4 col-12 mt-05e option-img-wrapper option-img-2-wrapper <%= @status %>-img">
                      <a href="#" class="option-img option-img-2" data-id="<%= image.id %>">
                        <%= image_tag url_for(image.image.variant(combine_options: { gravity: :center, resize: "145x115^", crop: "145x115+0+0" })) %>
                      </a>
                    </div>
                  <% end %>
                </div>
              </div>
              <input id="tab03" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab03">画像③</label>
              <div class="tab-content">
                <%= f.hidden_field :img_3_id, class: "form-control img-3-id-form" %>
                <div class="row">
                  <div class="col-12 mt-05e img-status img-3-status">未選択</div>
                  <% @images.each do |image| %>
                    <% if @report_cover.img_3_id == image.id %>
                      <% @status = "selected" %>
                    <% else %>
                      <% @status = "unselected" %>
                    <% end %>
                    <div class="col-lg-3 col-md-4 col-12 mt-05e option-img-wrapper option-img-3-wrapper <%= @status %>-img">
                      <a href="#" class="option-img option-img-3" data-id="<%= image.id %>">
                        <%= image_tag url_for(image.image.variant(combine_options: { gravity: :center, resize: "145x115^", crop: "145x115+0+0" })) %>
                      </a>
                    </div>
                  <% end %>
                </div>
              </div>
              <input id="tab04" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab04">画像④</label>
              <div class="tab-content">
                <%= f.hidden_field :img_4_id, class: "form-control img-2-id-form" %>
                <div class="row">
                  <div class="col-12 mt-05e img-status img-4-status">未選択</div>
                  <% @images.each do |image| %>
                    <% if @report_cover.img_4_id == image.id %>
                      <% @status = "selected" %>
                    <% else %>
                      <% @status = "unselected" %>
                    <% end %>
                    <div class="col-lg-3 col-md-4 col-12 mt-05e option-img-wrapper option-img-4-wrapper <%= @status %>-img">
                      <a href="#" class="option-img option-img-4" data-id="<%= image.id %>">
                        <%= image_tag url_for(image.image.variant(combine_options: { gravity: :center, resize: "145x115^", crop: "145x115+0+0" })) %>
                      </a>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="btn-area">
              <%= f.submit "作成", class: "btn btn-dark reset-errors" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>

<script>
  $(".option-img-1").click(function() {
    selectImage($(this), 1);
    return false;
  });

  $(".option-img-2").click(function() {
    selectImage($(this), 2);
    return false;
  });

  $(".option-img-3").click(function() {
  selectImage($(this), 3);
  return false;
  });

  $(".option-img-4").click(function() {
    selectImage($(this), 4);
    return false;
  });

  function selectImage(el, num) {    
    var wrapper = el.parent();
    var imgId = el.data("id");    
    if(wrapper.hasClass("unselected-img")) {
      $(`.option-img-${ num }-wrapper`).removeClass("selected-img");
      $(`.option-img-${ num }-wrapper`).addClass("unselected-img");
      wrapper.removeClass("unselected-img");
      wrapper.addClass("selected-img");
      $(`.img-${ num }-id-form`).val(imgId);
      $(`.img-${ num }-status`).html("選択済");
      $(`.img-${ num }-status`).addClass("selected-status");
    } else {
      $(`.option-img-${ num }-wrapper`).removeClass("selected-img");
      $(`.option-img-${ num }-wrapper`).addClass("unselected-img");
      $(`.img-${ num }-id-form`).val(""); 
      $(`.img-${ num }-status`).html("未選択");
      $(`.img-${ num }-status`).removeClass("selected-status");
    }         
  }
</script>
