<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header">見積作成</h5>
        
        <div class="card-body">
          <!--▼FORM-->
          <%= form_with(model: @estimate, url: employees_estimate_matter_estimates_path(@estimate_matter), method: :post, remote: true, id: "estimate_form") do |f| %>
            <div class="estimate-create-errors"></div>
            
            <%= f.label "タイプ名" %>
            <%= f.text_field :title, required: true, class: "form-control", maxlength: 30 %>
            <div class="input-group">
              <%= f.collection_select :plan_name_id, @plan_names, :id, :name, { include_blank: "登録プラン名から選択" }, class: "form-control", id: "default-plan-names" %>
              <div class="input-group-append">        
                <span class="input-group-text" style="width: 3em; background: <%= @default_color %>;" id="color-sample"></span>
              </div>
            </div>
            
            <%= f.label "カテゴリ選択" %>
            <table class="table table-striped" id="select_category_table">
              <tr>
                <td style="width: 4em">順番</td>
                <td>カテゴリ選択</td>
                <td style="width: 5em"></td>
              </tr>
              <tr>
                <td class="category_number">1</td>
                <td>
                  <%= f.select :category_id, @categories.map{ |category| [category.name, category.id] }, {include_blank: "選択してください"}, {class: "form-control"} %></td>
                <td><button type="button", class="btn btn-sm btn-dark add_btn">追加</button></td>
                </tr>
            </table>
            <%= f.hidden_field :category_ids, id: "category_ids" %>
            <div class="btn-area">
              <button type="submit" id="submit" class="btn btn-primary">作成</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>

<script>
  $('#default-plan-names').change(function() {
    var name = $('#default-plan-names option:selected').text();
    var id = $(this).val();
    if(id != "") {
      $('[name="estimate[title]"]').val(name);
      $.ajax({
        type: "GET",
        url: "<%= change_label_color_employees_estimate_matter_estimates_path(@estimate_matter) %>",
        cache: false,
        data: { id: id, remote: true }
      });
    } else {
      $("#color-sample").css("background", "<%= @default_color %>");
    }
  });
</script>

<!--追加ボタンアクション-->
<script>
  $('#estimate_form .add_btn').on("click", function(){
    // コピー＆リセット
    var target_tr = $(this).parent().parent();
    var add_html = $('#select_category_table tr:last').clone(true);
    var add_tr = target_tr.after(add_html);
    var add_select = add_tr.children('select');
    add_select.val('');
    // 表示順番リセット
    $('#select_category_table .category_number').each(function(index, element){
      var default_number = 1;
      var add_number = default_number + index;
      $(element).text(add_number);
    });
    // attrリセット
    $('#select_category_table .select').each(function(index, element){
      var default_number = 1;
      var add_number = default_number + index;
      var attr_name = "estimate_[category_id_" + add_number + "]"
      $(element).attr('name', attr_name);
    });
  });
</script>

<script>
  $('#submit').on('click', function(){
    category_ids = []
    $('#select_category_table select').each(function(i, element){
      var value = $(element).val();
      category_ids.push(Number(value));
    });
    $('#category_ids').val(category_ids);
    $('#estimate_form').submit;
  });
</script>

<script>
  $('[name="estimate[plan_name]"]').change(function() {
    if($(this).val() != "") {
      $('[name="estimate[title]"]').val($(this).val());
    }
  });
</script>
