<%= f.label :status %>
<%= f.select :status, SalesStatus.statuses.keys.map{ |k| [I18n.t("enums.sales_status.status.#{ k }"), k] }, {}, required: true, class: "form-control" %>

<%= f.label :conducted_on %>
<%= f.date_field :conducted_on, required: true, class: "form-control" %>

<%= f.label :note %>
<%= f.text_area :note, maxlength: 300, class: "form-control" %>

<h6 class="mt-1e">担当者</h6>
<div>
  <%= f.select :member, options_for_select(@members.map{|member|[member[:name], member[:auth] + "#" + member[:id].to_s]}), {include_blank: "選択してください"}, required: true, class: "form-control", id: "member_select" %>
</div>

<!--<!%= render "shared/person_in_charge_jq" %>-->

<% if @sales_status.sales_status_member.present? %>
  <script>
    $(document).ready( function(){
    
      var member = "<%= status_member_name(@sales_status) %>";
      $('#member_select option').each(function(){
        if($(this).text() == member){
          $(this).prop('selected', true);
        }
      });
   
    });
  </script>
<% end %>