<% if @response == "success" %>
  $("#sales-status-new").modal("hide");
  $(".flash-wrapper").html('<div class="flash flash-notice time-limit">営業ステータスを作成しました。</div>');
  $(".sales-statuses-index").html('<%= escape_javascript(render "employees/estimate_matters/tab_panes/sales_statuses") %>');
  <% if @contracted_estimate_matter.exists? %>
    $(".to-create-matter").html('<%= escape_javascript(render "employees/estimate_matters/new_matter_btn") %>');
  <% else %>
    $(".to-create-matter").html("");
  <% end %>
  $(function(){
    setTimeout("$('.time-limit').fadeOut('slow')", 3000) 
  })
<% else %>
  $(".sales-status-create-errors").html('<%= escape_javascript(render "shared/error_messages", resource: @sales_status) %>');
  <% @sales_status.errors.messages.keys.each do |key_attribute| %>
    var addDiv = $('<div class="field-with-errors">');
    var addLabel = $('[name="sales_status[<%= key_attribute.intern.to_s %>]"]').prev();
    $('[name="sales_status[<%= key_attribute.intern.to_s %>]"]').wrap(addDiv);
    addLabel.wrap(addDiv);
  <% end %>
<% end %>
  