<div class="modal-dialog non-card-modal modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5><%= @estimate_matter.title %>の情報編集</h5>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body bg-white pa-2e">
      <% if @edit_type == "basic" || @edit_type == "supplier" %>
        <%= form_with(model: @estimate_matter, url: employees_estimate_matter_path(@estimate_matter, type: @edit_type), method: :patch, remote: true) do |f| %>
          <div class="estimate-matter-update-errors"></div>
          <%= render 'employees/estimate_matters/partial/edit/edit_form', f: f %>
          <div class="btn-area">
            <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
          </div>
        <% end %>
      <% elsif @edit_type == "staff" %>
        <%= form_with(model: @estimate_matter, url: member_change_for_staff_employees_estimate_matter_members_path(@estimate_matter), method: :patch, remote: true) do |f| %>
          <div class="estimate-matter-update-errors"></div>
          <%= render 'employees/estimate_matters/partial/edit/edit_form', f: f %>
          <div class="btn-area">
            <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
          </div>
        <% end %>
      <% elsif @edit_type == "supplier_staff" %>
        <%= form_with(model: @estimate_matter, url: member_change_for_supplier_staff_employees_estimate_matter_members_path(@estimate_matter), method: :patch, remote: true) do |f| %>
          <div class="estimate_matter-update-errors"></div>
          <%= render 'employees/estimate_matters/partial/edit/edit_form', f: f %>
          <div class="btn-area">
            <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "select_members.js" %>
<%= javascript_include_tag "reset_errors.js" %>