<div id="matter_client_show">
  <table class="table table-bordered text-nowrap matter_show_table">
    <tr>
      <th>名前</th>
      <th>TEL</th>
      <th>FAX</th>
      <th>Email</th>
    </tr>
    <% current_matter.clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><a href="tel:<%= client.phone %>"><%= client.phone %></a></td>
        <td><%= client.fax %></td>
        <td><%= client.email %></td>
      </tr>
    <% end %>
  </table>
  <button class="btn btn-dark float-l mb-1e" id="client_edit_btn">編集</button>
</div>
  
<div id="matter_client_edit" style="display: none;">
  <%= form_with(model: current_matter, url: client_update_matter_matter_path(@manager, current_matter), method: :patch, remote: true) do |f| %>
    <table class="table table-bordered matter_show_table">
      <tr>
        <th>名前</th>
        <th>TEL</th>
        <th>FAX</th>
        <th>Email</th>
      </tr>
      <% current_matter.clients.each do |client| %>
        <%= f.fields_for :clients, client do |fi| %>
          <tr>
            <td><%= fi.text_field :name, class: "form-control" %></td>
            <td><%= fi.phone_field :phone, class: "form-control" %></td>
            <td><%= fi.phone_field :fax, class: "form-control" %></td>
            <td><%= fi.email_field :email, class: "form-control" %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <%= f.submit "更新", class: "btn btn-dark float-l" %>
    <button type="button" class="btn float-r" id="client_return_btn"><i class="fas fa-angle-left"></i> 戻る</button>
  <% end %>
</div>

<script>
  $('#client_edit_btn').on('click', function(){
    $('#matter_client_edit').show();
    $('#matter_client_show').hide();
  });
  
  $('#client_return_btn').on('click', function(){
    $('#matter_client_show').show();
    $('#matter_client_edit').hide();
  });
</script>