<div id="matter_client_show">
  <table class="table table-bordered text-nowrap matter_show_table">
    <tr>
      <th>名前</th>
      <th>TEL</th>
      <th>FAX</th>
      <th>Email</th>
    </tr>
    <% current_matter.users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><a href="tel:<%= user.phone %>"><%= user.phone %></a></td>
        <td><%= user.fax %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </table>
</div>