<div class="modal-dialog non-card-modal">
  <div class="modal-content">
    <div class="modal-header modal-header">
      <%= @task.title %>編集
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body bg-white">
      <%= form_with(model: @task, url: employees_settings_task_path(@task), method: :patch, remote: true) do |f| %>
        <div class="default-task-update-errors"></div>
        <%= render "employees/settings/tasks/partial/form", f: f %>
        <div class="btn-area">
          <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>
