<div class="table-responsive">
  <table class="table table-bordered text-nowrap common-table">
    <tr>
      <th>タイトル</th>
      <th>現場住所</th>
      <th>着工予定日</th>
      <th>完了予定日</th>
    </tr>
    <% @matters.each_with_index do |matter, i| %>
      <tr class="tr-link" data-link="<%= employees_matter_path(matter) %>">
        <td><%= matter.title %></td>
        <td><%= @addresses.pluck(:prefecture_code, :address_city, :address_street)["#{i}".to_i].join %></td>
        <td><%= matter.scheduled_started_on %></td>
        <td><%= matter.scheduled_finished_on %></td>
      </tr>
    <% end %>
  </table>
</div>
