<div class="row">
  <% if @edit_type == "basic" %>
    <label class="form-control text-white" style="background:#787a7b;">タイトル：内容</label>
    <div class="col-md-4">
      <%= f.label :title %>
      <%= f.text_field :title, required: true, class: "form-control", maxlength: 30 %>
    </div>
    <div class="col-md-8">
      <%= f.label :content %>
      <%= f.text_field :content, required: true, class: "form-control", maxlength: 300 %>
    </div>
    <label class="form-control text-white" style="background: #787a7b;">スケジュール</label>
      <div class="col-md-6">
      <%= f.label :scheduled_started_on %>
      <%= f.date_field :scheduled_started_on, class: "form-control" %>
      </div>
    <div class="col-md-6">
      <%= f.label :scheduled_finished_on %>
      <%= f.date_field :scheduled_finished_on, class: "form-control" %>
    </div>

    <label class="form-control text-white" style="background: #787a7b;">着工日・完了日</label>
    <div class="col-md-6">
      <%= f.label :started_on %>
      <%= f.date_field :started_on, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.label :finished_on %>
      <%= f.date_field :finished_on, class: "form-control" %>
    </div>
    <label class="form-control text-white" style="background: #787a7b;">現場住所</label>
    <div class="col-12">
      <%= f.label :postal_code %>
      <%= f.text_field :postal_code, maxlength: 7, pattern: "^[0-9]{7}$", value: @postal_code, id: "postcode", placeholder: "半角数字(ハイフンなし)", class: "form-control" %>
    </div>
    <div class="col-12 row">
      <div class="col-md-6">
        <%= f.label :prefecture_code %>
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, { prompt: "選択してください", selected: @prefecture_code }, id: "prefecture_code", class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :address_city %>
        <%= f.text_field :address_city, value: @address_city, id: "address_city", class: "form-control" %>
      </div>
      <div class="col-12">
        <%= f.label :address_street %>
        <%= f.text_field :address_street, value: @address_street, id: "address_street", class: "form-control" %>
      </div>
    </div>
  <% end %>

  <% if @edit_type == "staff" %>
    <label class="form-control text-white" style="background: #787a7b;">当社担当スタッフ</label>
    <div class="col-12">
      <%= f.collection_select :staff_ids, @all_staff_codes, :id, :staff_name, { include_hidden: false }, { class: "form-control select-members", multiple: true, id: "staff_select" } %>
    </div>
  <% end %>

  <% if @edit_type == "vendor" %>
    <%= render 'employees/matters/partial/edit/edit_vendor', f: f %>
  <% end %>

  <% if @edit_type == "vendor_staff" %>
    <label class="form-control text-white" style="background: #787a7b;"><%= @vendor.name %>のご担当者</label>
    <div class="col-12">
      <div>
        <%= f.collection_select :member_code_ids, @vendor_staff_codes_ids, :member_code_id, :name, { include_hidden: false }, { class: "form-control select-members", multiple: true, id: "vendor_staff_select" } %>
        <%= f.hidden_field :vendor_id, value: @vendor.id %>
      </div>
    </div>
  <% end %>

</div>

<script>
  $(document).ready( function(){
    $('#postcode').val('<%= @matter.postal_code %>');
    $('#prefecture_code').val('<%= @matter.prefecture_code %>');
    $('#address_city').val('<%= @matter.address_city %>');
    $('#address_street').val('<%= @matter.address_street %>');
  });
</script>


<% if @staff_codes_ids.present? %>
  <script>
    $(document).ready( function(){
      $('#staff_select').val(<%= @staff_codes_ids %>).trigger('change');
    });
  </script>
<% end %>

<% if @external_staff_codes_ids.present? %>
  <script>
    $(document).ready( function(){
      $('#external_staff_select').val(<%= @external_staff_codes_ids %>).trigger('change');
    });
  </script>
<% end %>

<%= javascript_include_tag "select_members.js" %>
<%= javascript_include_tag "postal_code_to_address.js" %>
<%= render "shared/javascript/auto_postcode" %>