<div class="modal-dialog non-card-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5><%= @construction_schedule.title %>の報告書編集</h5>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body bg-white pa-2e">
      <%= form_with(model: @construction_report, url: supplier_managers_construction_report_path(@construction_report), remote: true, method: :patch) do |f| %>
        <div class="construction-report-update-errors"></div>
        <div class="col-12">
          <div>
            <%= render 'supplier_managers/construction_reports/partial/form', f: f %>
          </div>
        </div>
        <div class="btn-area">
          <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>