<div class="mt-1e">
  <div class="card mb-3">
    <div class="card-header text-white bg-purple">User/<%= @user.name %> 編集</div>
    <div class="card-body">
      <%= form_with(model: [:manager, @user], url: manager_user_path(current_manager, @user), method: :patch) do |f| %>

        <div class="user_update_error"></div>

        <div class="form-group">
          <%= f.label :name, "名前" %>
          <%= f.text_field :name, required: true, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :phone, "電話番号" %>
          <%= f.telephone_field :phone, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :fax, "FAX" %>
          <%= f.telephone_field :fax, class: "form-control" %>
        </div>
        
        <%= f.submit "編集", class: "btn btn-dark" %>
      <% end %>
   </div>   
  </div>
</div>