<div class="col-12">
  <div class="row">
    <div class="col-md-6 col-12">
      <h2>デフォルトタスク一覧</h2>
    </div>
    <div class="col-md-6 col-12">
      <%= link_to new_employees_settings_task_path, remote: true, class: "btn btn-dark float-r" do %>
        <i class="fas fa-plus"></i> デフォルトタスク
      <% end %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered text-nowrap common-table">
      <tr>
        <th>名前</th>
        <th>内容</th>
        <th>警告表示設定</th>
        <th>常時設定</th>
        <th>コピー回数</th>
        <th></th>
      </tr>
      <% @default_tasks.each do |default_task| %>
        <tr>
          <td><%= default_task.title %></td>
          <td><%= default_task.content %></td>
          <td class="text-center">
            <% if default_task.alert == true %>
              <i class="fas fa-check"></i>
            <% end %>
          </td>
          <td class="text-center">
            <% if default_task.auto_set %>
              <i class="fas fa-check"></i>
            <% end %>
          </td>
          <td class="text-center">
            <% unless default_task.auto_set %>
              <%= default_task.default_task_id_count %>
            <% end %>
          </td>
          
          <td class="text-center">
            <%= link_to "編集", edit_employees_settings_task_path(default_task), remote: true, class: "btn btn-sm btn-dark" %>
            <%= link_to "削除", employees_settings_task_path(default_task), method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
