<div class="container">
  <h2>デフォルトタスク一覧<button class="btn btn-dark float-r" data-toggle="modal" data-target="#default-task-new">作成</button></h2>
  <div class="card text-center tab-wrapper">
    <div class="card-header bg-dark"></div>

    <div class="card-body">
      <table class="table table-sm table common-table">
        <tr>
          <th>名前</th>
          <th></th>
          <th></th>
        </tr>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= task.title %></td>
            <td><%= task.content %></td>
            <td>
              <div hidden><%= task.id %></div>
              <button class="btn btn-sm btn-dark to-edit-default-task" data-toggle="modal" data-target="#default-task-edit" data-id="<%= task.id %>"
                      data-title="<%= task.title %>" data-content="<%= task.content %>">
                編集
              </button>
              <%= link_to "削除", employees_settings_task_path(task), method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).on("turbolinks:load", function() {
    $(".to-edit-default-task").click(function() {
      let taskTitle = $(this).data("title");
      let taskId = $(this).data("id");
      let taskContent = $(this).data("content");
      $("#edit-task-title").val(taskTitle);
      $("#edit-task-content").val(taskContent);
      $("#edit-default-task-form").attr("action", "/employees/settings/tasks/" + taskId);
    });
  });
</script>