<div class="col-12">
  <div class="row">
    <div class="col-md-6 col-12">
      <h2>デフォルトタスク一覧</h2>
    </div>
    <div class="col-md-6 col-12">
      <%= link_to new_employees_settings_task_path, remote: true, class: "btn btn-dark float-r" do %>
        <i class="fas fa-plus"></i> デフォルトタスク
      <% end %>
    </div>
  </div>
  
  <div class="tab-wrap">
    <%= render "shared/sortable_explanation" %>
    
    <input id="tab01" type="radio" name="tab" class="tab-switch" checked="checked"><label class="tab-label" for="tab01">個別タスク</label>
    <div class="tab-content">
      <%= render partial: 'employees/settings/tasks/partial/table', locals: {tasks: @individual_tasks} %>
    </div>
    <input id="tab02" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab02">営業案件タスク</label>
    <div class="tab-content">
      <%= render partial: 'employees/settings/tasks/partial/table', locals: {tasks: @estimate_matter_tasks} %>
    </div>
    <input id="tab03" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab03">着工案件タスク</label>
    <div class="tab-content">
      <%= render partial: 'employees/settings/tasks/partial/table', locals: {tasks: @matter_tasks} %>
    </div>

</div>
