<div>
  <h2>外注先詳細</h2>

  <table class="table table-sm" id="employees-supplier-table">
    <tr>
      <th>名前</th>
      <td><%= @supplier.name %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td><%= @supplier.kana %></td>
    </tr>
    <tr>
      <th>代表者名</th>
      <td><%= @supplier.representative %></td>
    </tr>
    <tr>
      <th>電話番号①</th>
      <td><%= @supplier.phone_1 %></td>
    </tr>
    <tr>
      <th>電話番号②</th>
      <td><%= @supplier.phone_2 %></td>
    </tr>
    <tr>
      <th>FAX</th>
      <td><%= @supplier.fax %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @supplier.email %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @supplier.zip_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @supplier.address %></td>
    </tr>
  </table>

  <div><button role="button" id="toggle-suppliers-matters" class="btn btn-dark">案件一覧を表示</button></div>

  <div id="suppliers-matters-area"><%= render "matters" %></div>

  <div class="btn-area">
    <%= link_to "編集", edit_employees_supplier_path(@supplier), class: "btn btn-dark" %>
    <%= link_to "削除", employees_supplier_path(@supplier), method: :delete, data: { confirm: "この外注先を削除してよろしいですか？" }, class: "btn btn-destroy" %>
  </div>
</div>

<script>
  const mattersArea = $("#suppliers-matters-area")
  const btn = $("#toggle-suppliers-matters")

  // 外注先の案件一覧は非表示にしておく
  mattersArea.hide();

  // 外注先の案件一覧の表示・非表示切替
  btn.click(function() {
    mattersArea.toggle();
    btn.prop("disabled", true);
    btn.prop("disabled", false);
  })
</script>
