<% @finished_matters.each do |matter| %>
  <tr>
    <td><%= matter.title %></td>
    <td><%= matter.actual_spot %></td>
    <td><%= matter.status %></td>
    <td><%= matter.matter_uid %></td>
    <td>
      <%= link_to "編集", "#", class: "btn btn-dark btn-sm" %>
      <%= link_to "削除", "#", data: {confirm: "を削除しますか？"}, method: :delete, class: "btn btn-destroy btn-sm" %>
    </td>
  </tr>
<% end %>