<div class="row">
  <div class="col-md-6">
    <div class="picture_area">
      <%= image_tag url_for(@image.image.variant(combine_options:{gravity: :center, resize:"300x300^",crop:"300x300+0+0"})) %>
    </div>
  </div>
  
  <div class="col-md-6">
    <%= f.label "発行元" %>
    <%= f.select :publisher_id, @publishers.map{|pub| [pub.name, pub.id]}, {include_blank: "選択する", required: true}, class: "form-control" %>
    
    <%= f.label :title %>
    <%= f.text_field :title, value: "#{ current_estimate_matter.title } 写真説明", maxlength: 30, class: "form-control" %>
    
    <%= f.label "メッセージ選択" %>
    <%= f.select :select_content, @covers.map{|cover| ["#{cover.title}" + " " +":" + "#{cover.content[0, 10]}", cover.id]}, {include_blank: "選択する"}, class: "form-control", id: "select_content" %> 
    
    <%= f.label :content %>
    <%= f.text_area :content, id: "cover_content", value: @cover.content, style: "height: 15em", class: "form-control" %>
    
    <% unless submit_type == "edit" %>
      <%= f.hidden_field :image_id, value: params[:image_id] %>
    <% end %>
  </div>
</div>
  
<script>
  $("#select_content").on('change', function(){
    var value = $(this).val();
    <% @covers.each do |cover| %>
      var content_<%= cover.id %> = "<%= safe_join(cover.content.split("\n"),tag(:br)) %>"
    <% end %>
    var replace_value = eval("content_" + value);
    $('#cover_content').val(replace_value.replace(/(<br>|<br \/>)/gi, '\n'));
  })
</script>