<h5 class="text-left">担当Submanager</h5>
<div class="table-responsive">
  <table class="table table-bordered text-nowrap matter_show_table">
    <tr>
      <th>所属会社名</th>
      <th>氏名</th>
      <th>TEL</th>
      <th>Email</th>
    </tr>
    <% current_matter.submanagers.each do |submanager| %>
      <tr>
        <td><%= submanager.manager.company %></td>
        <td><%= submanager.name %></td>
        <td><%= submanager.phone %></td>
        <td><%= submanager.email %></td>
      </tr>
    <% end %>
  </table>
</div>

<h5 class="text-left">担当Staff</h5>
<div class="table-responsive">
  <table class="table table-bordered text-nowrap matter_show_table">
    <tr>
      <th>所属会社名</th>
      <th>氏名</th>
      <th>TEL</th>
      <th>Email</th>
    </tr>
    <% current_matter.staffs.each do |staff| %>
      <tr>
        <td><%= %></td>
        <td><%= staff.name %></td>
        <td><%= staff.phone %></td>
        <td><%= staff.email %></td>
      </tr>
    <% end %>
  </table>
</div>
