<div id="login-modal-grid"> 
  <h2><i class="fa fa-lock mr-1e"></i>ログイン</h2>    
  <fieldset>
    <%= form_with(url: "#", local: true) do |f| %>            
      <%= f.label :login_id, "ログインID" %>
      <%= f.text_field :login_id, maxlength: 12, required: true, class: "form-control mt-05e" %>
        
      <%= f.label :password, "パスワード", class: "mt-1e" %>
      <%= f.password_field :password, maxlength: 12, required: true, class: "form-control mt-05e mb-05e" %>
        
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "ログイン状態を維持する" %>

      <div><%= link_to "ログインID・パスワードを忘れた場合", new_clients_inquiry_path, remote: true %></div>
        
      <div class="text-center mt-1e"><%= f.submit "ログイン", id: "login-submit", class: "btn", style: "z-index: 5;" %></div>
    <% end %>     
  </fieldset>
</div>

<script>
  // 入力された従業員IDに合わせてログインフォームを、管理者、マネージャー、スタッフ、外部スタッフ、顧客に変更
  $("#login-submit").click(function() {

    const form = $(this).parents("form");
    const loginId = $('[name="login_id"]');
    const password = $('[name="password"]');
    const rememberMe = $('[name="remember_me"]');
    const idType = loginId.val().slice(0, 2);

    if(idType == "AD") {
      form.attr("action", "/admins/sign_in");
      loginId.attr("name", "admin[login_id]");
      password.attr("name", "admin[password]");
      rememberMe.attr("name", "admin[remember_me]");
    } else if(idType == "MN") {
      form.attr("action", "/managers/sign_in");
      loginId.attr("name", "manager[login_id]");
      password.attr("name", "manager[password]");
      rememberMe.attr("name", "manager[remember_me]");
    } else if(idType == "ST") {
      form.attr("action", "/staffs/sign_in");
      loginId.attr("name", "staff[login_id]");
      password.attr("name", "staff[password]");
      rememberMe.attr("name", "staff[remember_me]");
    } else if(idType == "CL") {
      form.attr("action", "/clients/sign_in");
      loginId.attr("name", "client[login_id]");
      password.attr("name", "client[password]");
      rememberMe.attr("name", "client[remember_me]");
    } else if(idType == "ES") {
      form.attr("action", "/external_staffs/sign_in");
      loginId.attr("name", "external_staff[login_id]");
      password.attr("name", "external_staff[password]");
      rememberMe.attr("name", "external_staff[remember_me]");
    } else {
      form.attr("action", "/sign_in");
    }
  });
</script>
