<div class="top-header">
  <h4 class="info-title">INFORMATION</h4>
  <div class="info-container">
    <% if current_admin || current_manager %>
      <% if @applicate_schedules.present? %>
        <p>
          <i class="fas fa-exclamation-circle fa-red"></i>
          <%= link_to application_employees_schedules_path do %>
            <span>スケジュール変更申請が<%= @applicate_schedules.count %>件あります</span>
          <% end %>
        </p>
      <% end %>
    <% end %>

    <% if @notifications %>
      <div id="construction_report_notification_list">
        <%= render 'shared/top_pages/information/notifications/report_notification_lists' %>
      </div>
      <% unless current_external_staff || current_vendor_manager %>
        <div id="schedule_notification_lists">
          <%= render 'shared/top_pages/information/notifications/schedule_notification_lists' %>
        </div>
        <div id="task_notification_lists">
          <%= render 'shared/top_pages/information/notifications/task_notification_lists' %>
        </div>
      <% else %>
        <div id="construction_schedule_notification_lists">
          <%= render 'shared/top_pages/information/notifications/construction_schedule_notification_lists' %>
        </div>
      <% end %>
    <% end %>

    <% unless @applicate_schedules || @notifications %>
      <p>新着情報はありません</p>
    <% end %>
  </div>
</div>