<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header">見積書作成</h5>
        <div class="card-body">
          <%= form_with(model: @quotation, url: employees_quotations_path, method: :post, remote: true) do |f| %>
            <div class="quotation-create-errors"></div>

            <%= f.label :title %>
            <%= f.text_field :title, maxlength: 30, class: "form-control", required: true %>

            <%= f.label :client_id %>
            <%= f.collection_select :client_id, @clients, :id, :name, { include_blank: "顧客を選択" }, class: "form-control", required: true %>

            <%= label :category_id, "カテゴリで見積書タイプを絞り込む" %>
            <%= f.collection_select :category_id, @categories, :id, :title, { include_blank: "見積書カテゴリを選択" }, class: "form-control", required: true %>

            <%= f.label :kind_id %>
            <%= f.collection_select :kind_id, @kinds, :id, :title, { include_blank: "見積書タイプを選択" }, class: "form-control", required: true %>

            <%= f.label :amount %>
            <%= f.text_field :amount, maxlength: 10, class: "form-control", required: true %>


            <div class="btn-area"><%= f.submit "作成", class: "btn btn-dark" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("form").submit(function(){
    $("label").each(function(index, element){
      if($(element).parent().hasClass("field-with-errors")){
        $(element).unwrap();
      }
    })
    $("input").each(function(index, element){
      if($(element).parent().hasClass("field-with-errors")){
        $(element).unwrap();
      }
    })
  });
</script>
