<div class="text-center mt-2e"><h4>お客様情報</h4></div>

<div>
  <button type="button" id="tableCollapse" class="navbar-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <%= link_to "編集", edit_employees_matter_client_path(@matter, @client), remote: true, class: "btn btn-success float-r" %>
</div>

<div class="table-responsive responsive_table_wrapper">
  <nav class="responsive_table_sidebar text-nowrap">
    <ul class="components">
      <li>お名前</li>
      <li>フリガナ</li>
      <li>郵便番号</li>
      <li>ご住所</li>
      <li>TEL①</li>
      <li>TEL②</li>
    </ul>
  </nav>
  
  <div class="table_content text-nowrap">
    <div class="content"><%= @client.name %></div>
    <div class="content"><%= @client.kana %></div>
    <div class="content"><%= postal_code_display(@client.postal_code) if @client.postal_code.present? %></div>
    <div class="content"><%= @client.prefecture_code %><%= @client.address_city %><%= @client.address_street %></div> 
    <div class="content">
      <%= phone_formatted(@client.phone_1) %>
    </div>
    <div class="content">
      <%= phone_formatted(@client.phone_2) %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'tableCollapse.js' %>