<%= f.label :status %>
<%= f.select :status, @statuses, {}, required: true, class: "form-control" %>

<h6 class="mt-1e">担当者</h6>
<div>
  <%= f.select :member, options_for_select(@members.map{ |member|[member[:name], member[:auth] + "#" + member[:id].to_s] }), {include_blank: "選択してください"}, required: true, class: "form-control", id: "member_select" %>
</div>

<%= f.label :scheduled_date %>
<%= f.date_field :scheduled_date, required: true, class: "form-control" %>

<div class="row">
  <div class="col-md-6">
    <%= f.label :scheduled_start_time %>
    <%= f.time_field :scheduled_start_time, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= f.label :scheduled_end_time %>
    <%= f.time_field :scheduled_end_time, class: "form-control" %>
  </div>
</div>

<%= f.label :place %>
<%= f.text_field :place, class: "form-control" %>

<%= f.label :note %>
<%= f.text_area :note, maxlength: 300, class: "form-control" %>

<% if @type == "new" %>
  <%= f.check_box :register_for_schedule, {}, 1, 0 %>
  <%= f.label :register_for_schedule, "スケジュールにも登録する" %>
  <p>スケジュール登録には、予定日・開始予定時刻・終了予定時刻が必須になります。</p>
<% else %>
  <%= f.check_box :register_for_schedule, {}, 3, 2 %>
  <%= f.label :register_for_schedule, "スケジュールから削除する" %>
<% end %>


<% if member_name(@sales_status) %>
  <script>
    $(document).ready( function(){
    
      var member = "<%= member_name(@sales_status) %>";
      $('#member_select option').each(function(){
        if($(this).text() == member){
          $(this).prop('selected', true);
        }
      });
   
    });
  </script>
<% end %>


<script>
</script>