<%= render partial: 'layouts/page_title', locals: { title_1: "営業案件", title_2: "#{current_estimate_matter.title} 詳細", icon: "fa-clipboard"} %>

<div id="sub-title-container">
  <%= render partial: 'shared/employees/sub_title', locals: {object: @estimate_matter, status: sales_status_disp(@sales_statuses.first.status_i18n) } %>
</div>

<div id="matter_show" class="double-line mt-2e">

<!--<div class="text-right mb-1e">-->
<!--  <button id="to_image_index" class="btn btn-dark">画像一覧</button>-->
  <!--<!%= link_to "チャットルーム", "#", target: :_blank, rel: [:noopener, :noreferrer], class: "btn btn-primary" %>-->
<!--</div>-->

  <%= render "employees/estimate_matters/partial/show/mobile/detail" %>

  <div class="clients-matter-index mt-2e">
    <div class="text-center"><h4>お客様情報</h4></div>
    <h5 class="text-center"><%= @client.avaliable_disp %></h5>
    <div class="text-right">
      <%= link_to "編集", edit_employees_estimate_matter_client_path(@estimate_matter, @client), remote: true, class: "btn btn-success" %>
    </div>
    <%= render "employees/estimate_matters/clients/partial/client_table" %>
  </div>

  <div class="mt-2e">
    <div class="text-center"><h4>当社担当者</h4></div>
      <%= link_to "編集", edit_employees_estimate_matter_path(@estimate_matter, edit_type: "staff"), remote: true, class: "btn btn-success float-r" %>
      <%= render partial: 'common_layouts/person_in_charge/person_in_charge',
                 locals: { object: @estimate_matter } %>
  </div>

  <div class="mt-2e">
    <div class="text-center"><h4>担当業者様</h4></div>
    <%= link_to "編集", edit_employees_estimate_matter_path(@estimate_matter, edit_type: "vendor"), remote: true, class: "btn btn-success float-r" %>
    <%= render partial: 'shared/person_in_charge/vendor', locals: { object: @estimate_matter, path: :edit_employees_estimate_matter_path} %>
  </div>

  <div class="mt-2e">
    <%= render partial: 'shared/employees/band_select/band_select_for_mobile',
               locals: { image_path: 'employees_estimate_matter_images_path',
                         path: "employees/estimate_matters/partial/select_band_display"} %>
  </div>

</div>