<div class="container">
  <div>
    <h5>連結コード</h5>
    <%= form_with(url: matter_connect_user_matters_path(current_user), method: :post, local: true, class: "connected_code_form" ) do |f| %>
      <div class="display: inline-block">
        <%= f.text_field :connected_id, placeholder: "連結コードを入力", class: "connected_code_text"  %>
        <%= f.submit "送信", class: "connected_code_btn" %>
      </div>
    <% end %>
  </div>

  <div class="connected_matter_index", id="connected_matter">
    <% if current_user.matters.exists? %>
      <h5>依頼案件</h5>
      <ol>
      <% @requesting_matter.each do |matter| %>
        <%= link_to user_matter_path(current_user, matter) do %>
          <li><span class="ml-1e"><%= matter.title %></span></li>
        <% end %>
      <% end %>
      </ol>
    <% else %>
      <p>連結コードを入力してください</p>
    <% end %>
  </div>
  
</div>