<div class="mt-1e">
  <div class="card mb-3">
    <div class="card-header text-white bg-purple">SubManager/<%= @submanager.name %> 編集</div>
    <div class="card-body">
      <%= form_with(model: [:manager, @submanager], url: manager_submanager_path(current_manager, @submanager), remote: true, method: :patch) do |f| %>
       
       <div class="submanager_update_error"></div>
        
        <div class="form-group">
          <%= f.label :name, "名前" %>
          <%= f.text_field :name, required: true, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        
        <%= f.submit "編集", class: "btn btn-dark" %>
      <% end %>
   </div>   
  </div>
</div>