<div class="mt-1e">
  <div class="card mb-3">
    <h5 class="card-header staff_form_color">Staff/新規作成</h5>
    <div class="card-body">

      <%= form_with(model:staff, url: manager_staffs_path(manager), method: :post, remote: true) do |f| %>
      
        <div class="staff_create_error"></div>
        
        <div class="form-group">
          <%= f.label :name, "名前" %>
          <%= f.text_field :name, required: true, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :email, "Mail" %>
          <%= f.email_field :email, required: true, class: "form-control" %>
        </div>
        
        <%= f.fields_for :manager_staffs, staff.manager_staffs.build do |fi| %>
          <%= fi.check_box :employee, { checked: true }, 1, false %>
          <%= fi.label :employee, "従業員Staff" %>
          <%= fi.check_box :employee,  { class: "ml-1e", checked: false }, 0, false %>
          <%= fi.label :employee, "外部Staff" %>
          <%= fi.hidden_field :manager_id, value: current_manager.id %>
        <% end %>
        
        <div class="text-right">
          <%= f.submit "作成", class: "btn btn-dark" %>
        </div>
      <% end %>
   </div>   
  </div>
</div>
  