<div class="simple-calendar table-responsive">
  <div class="calendar-heading">
    <%= link_to calendar.url_for_previous_view, class: "mr-05e" do %>
      <i class="fas fa-angle-double-left fa-2x"></i>
    <% end %>
    <span class="calendar-title calendar_year"><%= start_date.year %>年<span class="calendar_month"><%= start_date.month %></span>月</span>
    <%= link_to calendar.url_for_next_view, class: "ml-05e" do %>
      <i class="fas fa-angle-double-right fa-2x"></i>
    <% end %>
  </div>

  <table class="table text-nowrap event_index mt-1e">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <% if t('date.abbr_day_names')[day.wday] == "土" %>
            <th><span class="saturday_disp"><%= t('date.abbr_day_names')[day.wday] %></span></th>
          <% elsif t('date.abbr_day_names')[day.wday] == "日" %>
            <th><span class="sunday_disp"><%= t('date.abbr_day_names')[day.wday] %></span></th>
          <% else %>
            <th><span class="normal_week"><%= t('date.abbr_day_names')[day.wday] %></span></th>
          <% end %>
        <% end %>
      </tr>
    </thead>

    <tbody id="schedule_calender">
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day.strftime("%-d"), sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
