<div class="staff_matter_task_index">
  <div class="matter_task_disp" id="myKanban"></div>
</div>

<% current_matter.tasks.all.each do |task| %>
  <div class="modal" id="matter_task_<%= task.id %>_modal">
    <div class="modal__bg js-modal-close"></div>
      <div>
        <%= render partial: 'staff/matters/show_menu/matter_task/task_show', locals: {task: task, status: task.status} %>
      </div>
  </div>
<% end %>


<script>
$(document).ready( function(){
    
//初期状態のタスク管理ボード用JSONデータ
  const defaultBoards = [
    
    {
      "id": "matter_tasks",
      "title": "この案件のタスク",
      "class": "task",
      "item": [
        <% @matter_tasks.each do |task| %>    
          { 
            "title": "<%= task.title %>",
            "id": "item_id_<%= task.id %>"
          },
        <% end %>
      ]
    },
    
    {
      "id": "progress_tasks",
      "title": "進行中",
      "class": "running",
      "item": [
        <% @matter_progress_tasks.each do |task| %>    
          { 
            "title": "<%= task.title %>",
            "id": "item_id_<%= task.id %>"
          },
        <% end %>
      ]
    },

    {
      "id": "finished_tasks",
      "title": "完了",
      "class": "done",
      "item": [
        <% @matter_complete_tasks.each do |task| %>    
          { 
            "title": "<%= task.title %>",
            "id": "item_id_<%= task.id %>"
          },
        <% end %>
      
      ]
    }
  ];
  
  //jKanbanのインスタンス作成
  var kanban = new jKanban({
    element         : '#myKanban',  //タスク管理ボードを表示するHTML要素
    gutter          : '20px',       //ボード同士の間隔
    widthBoard      : '250px',      //ボードのサイズ
    boards          : defaultBoards,//初期状態のJSONデータ
    
    
    dropEl: function(el, target, a, b){
      var task = el.getAttribute('data-eid');
      var status = target.parentNode.getAttribute('data-id');
      var item_arrey = target.children;
      item_arrey = [].slice.call(item_arrey);
      var item_index = item_arrey.indexOf(el);
      
      $.ajax({
        type: "GET",
        url: "<%= move_task_staff_matter_path(current_staff, current_matter) %>",
        cache: false,
        data: { task: task, status: status, item_index: item_index, remote: true }
      });
    }
    
  });

});
  
</script>

<script>
<% current_matter.tasks.all.each do |task| %>
  $(function(){
    $('[data-eid=item_id_<%= task.id %>]').on('click',function(){
      $('#matter_task_<%= task.id %>_modal').fadeIn();
      return false;
    });
    
    $('.js-modal-close').on('click',function(){
      $('#matter_task_<%= task.id %>_modal').fadeOut();
      return false;
    });
  });
<% end %>
</script>