<div class="modal-dialog non-card-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5><%= @construction_schedule.title %>の情報編集</h5>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body bg-white pa-2e">
      <%= form_with(model: @construction_schedule, url: vendor_managers_construction_schedule_path(@construction_schedule), method: :patch, remote: true) do |f| %>
        <div class="matter-update-errors"></div>
        <label class="form-control text-white" style="background: #787a7b;"><%= @vendor.name %>のご担当者</label>
        <div class="col-12">
          <div>
            <%= f.select :member_code_id, options_for_select(@vendor_staff_codes_ids.map{|code|[member_name_from_member_code_id(code), code]}), { include_blank: "選択してください" }, { class: "form-control" } %>
          </div>
        </div>
        <% if @retire_external_staff_id.present? %>
          <%= f.hidden_field :retire_external_staff_id, value: @retire_external_staff_id %>
        <% end %>
        <div class="btn-area">
          <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>