<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">✖︎</span>
      </button>
    </div>
    <div class="modal-body">
      <h1 class="text-center">【残足場架設依頼】</h1>
      <div class="row">
        <table class="table table-bordered table-sm text-nowrap common-table">
          <thead>
            <tr>
              <th>タイトル</th>
              <th>着工予定日</th>
              <th>完了予定日</th>
              <th>進行状況</th>
            </tr>
          </thead>
          <% @matter_default_task_scaffolding_requests.each do |matter| %>
            <tr class="tr-link" data-link="<%= employees_matter_path(matter) %>">
              <td><%= matter.title %></td>
              <td><%= matter.scheduled_started_on %></td>
              <td><%= matter.scheduled_finished_on %></td>
              <td><%= I18n.t("enums.matter.status.#{matter.status}") %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="modal-body">
      <h1 class="text-center">【残発注依頼】</h1>
      <div class="row">
        <table class="table table-bordered table-sm text-nowrap common-table">
          <thead>
            <tr>
              <th>タイトル</th>
              <th>着工予定日</th>
              <th>完了予定日</th>
              <th>進行状況</th>
            </tr>
          </thead>
          <% @matter_default_task_order_requests.each do |matter| %>
            <tr class="tr-link" data-link="<%= employees_matter_path(matter) %>">
              <td><%= matter.title %></td>
              <td><%= matter.scheduled_started_on %></td>
              <td><%= matter.scheduled_finished_on %></td>
              <td><%= I18n.t("enums.matter.status.#{matter.status}") %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "tr_link.js" %>
