<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header">見積書タイプ作成</h5>
        <div class="card-body">
          <%= form_with(model: kind, url: employees_settings_kinds_path, method: :post, remote: true) do |f| %>
            <div class="kind-create-errors"></div>
            <%= f.label :title %>
            <%= f.text_field :title, required: true, class: "form-control", maxlength: 30 %>

            <%= f.label :category_id %>
            <%= f.collection_select :category_id, @categories, :id, :title, { include_blank: "カテゴリを選択" }, class: "form-control", required: true %>
            
            <div class="btn-area">
              <%= f.submit "作成", class: "btn btn-dark" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("form").submit(function(){
    $("label").each(function(index, element){
      if($(element).parent().hasClass("field-with-errors")){
        $(element).unwrap();
      }
    })
    $("input").each(function(index, element){
      if($(element).parent().hasClass("field-with-errors")){
        $(element).unwrap();
      }
    })
  });
</script>
