<div class="col-lg-12 col-md-12">
  <h2>
    見積書タイプ一覧
    <%= link_to "新規見積書タイプ", new_employees_settings_kind_path, remote: true, class: "btn btn-dark float-r" %>
  </h2>
  <div class="card text-center tab-wrapper">
    <div class="card-header bg-dark"></div>

    <div class="card-body">
      <table class="table table-sm table common-table">
        <tr>
          <th>名前</th>
          <th>カテゴリ</th>
          <th></th>
        </tr>
        <% @kinds.each do |kind| %>
          <tr>
            <td><%= kind.name %></td>
            <td><%= kind.category.name %></td>
            <td>
              <%= link_to "編集", edit_employees_settings_kind_path(kind), remote: true, class: "btn btn-sm btn-dark" %>
              <%= link_to "削除", employees_settings_kind_path(kind), method: :delete, data: { confirm: "この見積書タイプを削除してよろしいですか？" }, class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
