<div class="table-responsive">
  <table class="table table-bordered text-nowrap common-table">
    <thead>
      <tr>
        <th>名前</th>
        <th></th>
      </tr>
    <thead>
    <tbody id="sortable-departments">
      <% @departments.each do |department| %>
        <tr class="tr-sortable">
          <td><%= department.name %></td>
          <td>
            <div hidden><%= department.id %></div>
            <%= link_to "編集", edit_employees_settings_companies_department_path(department), remote: true, class: "btn btn-sm btn-dark" %>
            <%= link_to "削除", employees_settings_companies_department_path(department), method: :delete, data: { confirm: "この部署を削除してよろしいですか？", remote: true }, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>      
      <% end %>
    </tbody>
  </table>
</div>

<%= javascript_include_tag "sortable/Sortable.min.js" %>
<%= javascript_include_tag "sortable/departments.js" %>
