<%= f.fields_for :clients, @client do |fi| %>
  <div class="client_form">
    <div>
      <%= fi.label :name, "名前" %>
      <%= fi.text_field :name, class: "form-control" %>
    </div>
    <div class="mt-1e">
      <%= fi.label :phone, "電話番号" %>
      <%= fi.phone_field :phone, class: "form-control" %>
    </div>
    <div class="mt-1e">
      <%= fi.label :email, "EMAIL" %>
      <%= fi.text_field :email, class: "form-control" %>
    </div>
  </div>
<% end %>