<div class="table-responsive">
  <table class="table table-bordered text-nowrap common-table">
    <thead>
      <tr>
        <th>名前</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="sortable-attract-methods">
      <% @attract_methods.each do |attract_method| %>
        <tr class="tr-sortable">
          <td><%= attract_method.name %></td>
          <td>
            <% unless attract_method.id.eql?(1) %>
              <%= link_to "編集", edit_employees_settings_companies_attract_method_path(attract_method), remote: true, class: "btn btn-sm btn-dark" %>
              <%= link_to "削除", employees_settings_companies_attract_method_path(attract_method), method: :delete, data: { confirm: "この集客方法を削除してよろしいですか？", remote: true}, class: "btn btn-sm btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= javascript_include_tag "sortable/Sortable.min.js" %>
<%= javascript_include_tag "sortable/attract_methods.js" %>
