<div class="col-12">
  <h2>お問合せ詳細</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-column-type text-nowrap">.<tr>
      <tr>
        <th style="width: 12em;">お問合せ日時</th>
        <td><%= l(@inquiry.created_at, format: :long) %></td>
        <th>お問合せ内容</th>
        <td><%= @inquiry.kind_i18n %></td>
      </tr>
      <tr>
        <th style="width: 12em;">名前</th>
        <td><%= @inquiry.name %></td>
        <th>フリガナ</th>
        <td><%= @inquiry.kana %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @inquiry.phone %></td>
        <th>メールアドレス</th>
        <td><%= @inquiry.email %></td>
      </tr>
      <tr>
        <th>返信用メールアドレス</th>
        <td><%= @inquiry.reply_email %></td>
        <th>解決日時</th>
        <td><%= l(@inquiry.solved_at, format: :long) if @inquiry.solved_at.present? %></td>
      </tr>        
    </table>
  </div>

  <h2 class="mt-05e">情報部分一致顧客</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-column-type text-nowrap">
      <tr>
        <th>氏名</th>
        <th>フリガナ</th>
        <th>電話番号①</th>
        <th>電話番号②</th>
        <th>メールアドレス</th>
        <th>郵便番号</th>
        <th>都道府県</th>
        <th>市町村</th>
        <th>番地</th>
      </tr>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.kana %></td>
          <td><%= client.phone_1 %></td>
          <td><%= client.phone_2 %></td>
          <td><%= client.email %></td>
          <td><%= client.postal_code %></td>
          <td><%= client.prefecture_code %></td>
          <td><%= client.address_city %></td>
          <td><%= client.address_street %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>