<%= render "layouts/page_title", title_1: "着工案件", title_2: "#{@matter.title} 詳細", icon: "fa-clipboard" %>

<div id="sub-title-container">
  <%= render partial: 'shared/employees/sub_title',
             locals: { object: @matter, status: status_disp(@matter.status)}%>
</div>

<div id="matter_show" class="double-line mt-2e">

  <%= render "employees/matters/partial/show/mobile/detail" %>

  <div class="clients-matter-index mt-2e">
    <div class="text-center"><h4>お客様情報</h4></div>
    <%= render "employees/matters/clients/partial/client_table" %>
  </div>

  <div class="mt-2e">
    <div class="text-center"><h4>当社担当者</h4></div>
    <div>
      <%= render partial: 'common_layouts/person_in_charge/person_in_charge',
                 locals: { object: @matter } %>
    </div>
  </div>

  <div class="mt-2e">
    <div class="text-center"><h4>担当業者様</h4></div>
    <%= render partial: 'shared/person_in_charge/vendor', locals: { object: @matter, path: :edit_employees_matter_path} %>
  </div>

  <div class="mt-2e">
    <%= render partial: 'shared/employees/band_select/band_select',
               locals: { path: "employees/matters/partial/select_band_display" } %>
  </div>
</div>