<div class="manager_wrapper">
  
  <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header"><%= image_tag "app.logo.png" %></div>

      <ul class="list-unstyled components">
        <p>管理者専用ページ</p>
        <li><%= link_to "アカウント", "#" %></li>
        <li class="">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">未定</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
              <a href="#">action1</a>
            </li>
            <li>
              <a href="#">action2</a>
            </li>
            <li>
              <a href="#">action3</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Matter</a>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Calender</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">未定</a>
      </li>
      <li>
        <a href="#">未定</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="＃" class="download">Download</a>
      </li>
      <li>
        <a href="#" class="article">未定</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content -->
  <div id="content">
    
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light header_nav">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto navi-custom">
            <li class="nav-item">
              <%= link_to "#", class: "nav-link" do %>
                <i class="fas fa-home"></i> Home
              <% end %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Page</a>
            </li>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle text-<%= @condition %>" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                管理者
              </a>
              <div class="dropdown-menu dropdown-position account_dropdown_menu" aria-labelledby="navbarDropdown">
                <%= link_to "アカウント編集", edit_admin_registration_path, class: "dropdown-item item-link" %>
                <div class="dropdown-divider"></div>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "dropdown-item item-link" %>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Main-content -->
      
    <%= render 'layouts/flash' %>
    <%= yield %>
    <div class="line"></div>
    <div class="debug"><%= debug(params) if Rails.env.development? %></div>     
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active');
    });
  });
</script>