<div class="employee-wrapper">

<!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <% if File.exist?("app/assets/images/company_#{current_manager.id}_logo.jpg") %>
        <%= image_tag "company_#{current_manager.id}_logo.jpg" %>
      <% else %>
        <%= image_tag "logo.jpg" %>
      <% end %>
    </div>

    <ul class="list-unstyled components">
      <p>マネージャー専用ページ</p>    
      <li><%= link_to "スタッフ管理", employees_staffs_path %></li>
      <li><%= link_to "顧客管理", employees_clients_path %></li>
      <li><%= link_to "外注先管理", employees_suppliers_path %></li>
      <li><%= link_to "案件管理", employees_matters_path %></li>
      <li><%= link_to "カレンダー", "#" %></li>
      <li><%= link_to "勤怠管理", "#" %></li>
      <li>
        <a href="#settings-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">設定</a>
        <ul class="collapse list-unstyled" id="settings-menu">
          <li><%= link_to "部署", "#" %></li>
          <li><%= link_to "外注先", employees_settings_industries_path %></li>
        </ul>
      </li>
      <li><a href="#">未定</a></li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li><a href="＃" class="download">Download</a></li>
      <li><a href="#" class="article">未定</a></li>
    </ul>
  </nav>

<!-- Page Content -->
  <div id="content">
    
  <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light header_nav">
      <div class="container-fluid">
        
        <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <ul class="nav navbar-nav ml-auto navi-custom">
            <li class="nav-item">
              <%= link_to top_manager_path(current_manager), class: "nav-link" do %>
                <i class="fas fa-home"></i> Home
              <% end %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Page</a>
            </li>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-alt"></i> <%= current_manager.name %>
              </a>
              <div class="dropdown-menu account_dropdown_menu" aria-labelledby="navbarDropdown">
                <%= link_to edit_manager_registration_path, class: "dropdown-item item-link" do %>
                  <i class="fas fa-user-edit"></i> アカウント編集
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to destroy_manager_session_path, method: :delete, class: "dropdown-item item-link" do %>
                  <i class="fas fa-sign-out-alt"></i> ログアウト
                <% end %>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </nav>
    
  <!-- Main-content -->
    <div class="flash_container">
      <%= render 'layouts/flash' %>
    </div>  
    <div class="manager_contaioner">
      <%= yield %>
    </div>
    <div class="line"></div>
    <div class="debug"><%= debug(params) if Rails.env.development? %></div>
     
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $(this).toggleClass("active");
    });
  });
</script> 
