<div class="col-12 mt-1e" id="top-page">
  
  <!--▼--alert--▼-->
  <section>
    <% if @alert_result == true %> 
      <%= render 'shared/top_pages/alert_list/top' %>
    <% end %>
  </section>
  
  <!--▼--information--▼-->
  <section>
    <% if information_present?%>
      <%= render 'shared/top_pages/information/top' %>
    <% end %>
  </section>
  
  <section>
    <!--▼--construction_schedule--▼-->
    <%= render 'shared/top_pages/construction_schedule/top' %>
  
    <!--▼--schedule--▼-->
    <%= render 'shared/top_pages/schedule/top' %>
      
    <!--▼--task--▼-->
    <%= render 'shared/top_pages/tasks/top' %>
  </section>
</div>

<script>
  $(document).ready(function(){
    $('#default_password_user_index').modal('hide');
    $('#default_password_user_index').empty();
  });
</script>
