<div class="col-12 mt-1e">
  
  <!--▼--alert--▼-->
  <%= render 'shared/top_pages/alert_list/top' %>
  
  <!--▼--information--▼-->
  <%= render 'shared/top_pages/information/top' %>
  
  <!--▼--construction_schedule--▼-->
  <%= render 'shared/top_pages/construction_schedule/top' %>
  
  <!--▼--schedule--▼-->
  <%= render 'shared/top_pages/schedule/top' %>
    
  <!--▼--task--▼-->
  <%= render 'shared/top_pages/tasks/top' %>
    
</div>

<script>
  $(document).ready(function(){
    $('#default_password_user_index').modal('hide');
    $('#default_password_user_index').empty();
  });
</script>