<div class="col-lg-12 col-md-12">
  
  <div class="mt-1e">
    <ul class="nav nav-tabs title_tab_bar">
      <li class="nav-item">
        <a class="nav-link warning_tab">警告事項</a>
      </li>
    </ul>
    
    <div class="news_container">
      <div class="top_page_contents">
      <!--足場・発注懈怠勧告-->
        <% if @scaffolding_and_order_requests_relevant_or_ongoing.count > 0 %>
          <p><i class="fas fa-exclamation-circle fa-orange"></i>
            <span><%= link_to "足場架設依頼/発注依頼が残っています：#{ @scaffolding_and_order_requests_relevant_or_ongoing.count }件", admins_index_path, remote: true %></span>
          </p>
        <% end %>
      <!--出退勤関係-->
        <% if @error_attendances %>
          <%= render 'common_layouts/attendances/error_attendances' %>
        <% end %>
      <!--PASS関連-->
        <% unless @object_member_code.empty? %>
          <p><i class="fas fa-exclamation-circle fa-orange"></i>
            <span><%= link_to "ログインパスワードが初期値のユーザーがいます：#{@object_member_code.length}件", admins_default_password_user_index_path, remote: true %></span>
          </p>
        <% end %>
        <% unless current_admin.password_condition %>
          <p><i class="fas fa-exclamation-circle fa-red"></i>
            <span><%= link_to "自身のログインパスワードが初期値のままです", edit_admin_registration_path(current_admin) %></span>
          </p>
        <% end %>
      </div>
    </div>
    
    <!--information-->
    <ul class="nav nav-tabs title_tab_bar">
      <li class="nav-item">
        <a class="nav-link title_tab">新着情報</a>
      </li>
    </ul>
    
    <div class="news_container">
      <div class="top_page_contents">
        <% if @applicate_schedules.present? %>
          <p><i class="fas fa-exclamation-circle fa-red"></i>
            <%= link_to application_employees_schedules_path do %>
              <span>スケジュール変更申請が<%= @applicate_schedules.count %>件あります</span>
            <% end %>
          </p>
        <% end %>
        
        <% if @notifications %>
          <%= render 'common_layouts/notifications/schedule_notification_lists' %>
          <p><i class="fas fa-exclamation-circle fa-blue"></i>
            <span>新規案件が登録されました</span>
          </p>
          <p><i class="fas fa-exclamation-circle"></i>
            <span>○○が現場に到着しました</span>
          </p>
          <p><i class="fas fa-exclamation-circle fa-orange"></i>
            <span>案件○○のタスク○○が完了しました</span>
          </p>
        <% end %>
        
        <% unless @applicate_schedules || @notifications %>
          <p>新着情報はありません</p>
        <% end %>
      </div>
    </div>
    
    <!--ghanttcart-->
    <ul class="nav nav-tabs title_tab_bar">
      <li class="nav-item">
        <a class="nav-link title_tab">GanttChart</a>
      </li>
    </ul>
    <div class="mt-1e">
      <!--<!%= render 'matter/ganttchart/index' %>-->
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#default_password_user_index').modal('hide');
    $('#default_password_user_index').empty();
  });
</script>