<div class="table-responsive">
  <table class="table text-nowrap table-bordered table-column-type">
    <tr>
      <th>期限</th>
      <th>タイトル</th>
      <th>内容</th>
      <th>関連事項</th>
      <th>担当者</th>
      <th>作成日</th>
      <th>ステータス</th>
    </tr>
    <% tasks.each do |task| %>
    <tr>
      <td><%= task.deadline_disp %></td>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <% if task.matter_id.present? || task.estimate_matter_id.present? %>
        <td>
          <% task_remarks(task, task.parent_title) %>
          <%= link_to "#{@type}/#{@relation_title}", send(@path, id: "#{@path_id}"), data: {turbolinks: false} %>
        </td>
      <% else %>
        <td class="text-center">
          <%= link_to "編集", edit_employees_task_path(task), class: "btn btn-dark", remote: true %>
        </td>
      <% end %>
      <td class="text-center">
        <%= link_to "設定", registor_member_employees_task_path(task), class: "btn btn-dark", remote: true %>
      </td>
      <td><%= task.created_at_disp %></td>
      <td id="<%= task.id %>">
        <%= form_with model: task, url: "#", remote: true do |f| %>
          <%= f.select :status, {'未着手': 1, '着手中': 2, '完了': 3}, {selected: task.status_before_type_cast}, {class: "form-control",  id: "select_#{task.id}"} %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<script>
  <% tasks.each do |task| %>
    $('#select_<%= task.id %>').on('change', function(){
      var id = <%= task.id %>
      var status = $(this).val();
      $.ajax({
        type: 'patch',
        url: "<%= change_status_employees_task_path(task) %>",
        data: { id: id, status: status }
      });
    });
  <% end %>
</script>