<div class="col-md-5 col-12">
  <div class="select-switch">
    <input type="radio" name="switch" id="radio1" checked="checked">
    <label for="radio1" class="mt-0">MY-TASK</label>
    <input type="radio" name="switch" id="radio2">
    <label for="radio2" class="mt-0">ALL-TASK</label>
  </div>
</div>

<div id="own">
  <div class="tab-wrap">
    <input id="tab01" type="radio" name="tab" class="tab-switch" checked="checked"><label class="tab-label" for="tab01">割振タスク一覧</label>
    <div class="tab-content">
      <%= render partial: 'common_layouts/tops/tasks/tasks_table', locals: {tasks: @relevant_tasks} %>
    </div>
    <input id="tab02" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab02">進行中タスク一覧</label>
    <div class="tab-content">
      <%= render partial: 'common_layouts/tops/tasks/tasks_table', locals: {tasks: @ongoing_tasks} %>
    </div>
    <input id="tab03" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab03">完了タスク一覧</label>
    <div class="tab-content">
      <%= render partial: 'common_layouts/tops/tasks/tasks_table', locals: {tasks: @finished_tasks} %>
    </div>
  </div>
</div>

<div id="others" style="display: none;">
  <div class="tab-wrap">
    <input id="tab04" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab04">担当者未設定タスク一覧</label>
    <div class="tab-content" id="no_member_task">
      <%= render partial: 'common_layouts/tops/tasks/no_member_task_table', locals: {tasks: @no_member_tasks} %>
    </div>
    <input id="tab05" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab05">割振タスク一覧</label>
    <div class="tab-content">
      <%= render partial: 'common_layouts/tops/tasks/others_task_table', locals: {tasks: @others_relevant_tasks} %>
    </div>
    <input id="tab06" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab06">進行中タスク一覧</label>
    <div class="tab-content">
      <%= render partial: 'common_layouts/tops/tasks/others_task_table', locals: {tasks: @others_ongoing_tasks} %>
    </div>
    <input id="tab07" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab07">完了タスク一覧</label>
    <div class="tab-content">
      <%= render partial: 'common_layouts/tops/tasks/others_task_table', locals: {tasks: @others_finished_tasks} %>
    </div>
  </div>
</div>

<script>
  $("#radio1").on("click", function(){
    $("#others").hide();
    $("#own").show();
    $('#tab01').prop("checked", true);
  });
  $("#radio2").on("click", function(){
    $("#own").hide();
    $("#others").show();
    $('#tab04').prop("checked", true);
  });
</script>
