<div class="col-12">
  
   <%= render "layouts/page_title", title_1: "MANAGER一覧", title_2: nil, icon: "fa-user-tie" %>
  
  <div class="row">
    <div class="col-md-5 col-12">
      <div class="select-switch">
        <input type="radio" name="switch" id="radio1" checked>
        <label for="radio1" class="mt-0">在籍中</label>
        <input type="radio" name="switch" id="radio2">
        <label for="radio2" class="mt-0">退職済</label>
      </div>
    </div>
    <div class="col-md-7 col-12">
      <% if current_admin %>
        <%= link_to new_employees_manager_path, remote: true, class: "btn btn-dark float-r" do %>
          <i class="fas fa-plus"></i> 新規Manager
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered text-nowrap common-table">
      <thead>
        <tr>
          <th>部署</th>
          <th>名前</th>
          <th>ログインID</th>
          <th>電話番号</th>
          <th>入社日</th>
        </tr>
      </thead>
      <tbody id="tab1">
        <%= render "/employees/managers/partial/index_table", objects: @enrolled_managers %>
      </tbody>
      <tbody id="tab2" style="display: none;">
        <%= render "/employees/managers/partial/index_table", objects: @retired_managers %>
      </tbody>
    </table>
  </div>
</div>

<%= javascript_include_tag "switch_tab.js" %>
