<div>
  <h2>マネージャー一覧</h2>
  <button class="btn btn-dark" data-toggle="modal" data-target="#manager-new">作成</button>

  <table class="table table-sm" id="admins-managers-table">
    <tr>
      <th>名前</th>
      <th>ログインID</th>
      <th>電話番号</th>
      <th>入社日</th>
    </tr>
    <% @managers.each do |manager| %>
      <tr class="tr-link" data-link="<%= employees_manager_path(manager) %>">
        <td><%= manager.name %></td>
        <td><%= manager.login_id %></td>
        <td><%= manager.phone %></td>
        <td><%= manager.joined_on %></td>
      </tr>
    <% end %>
  </table>
</div>
