<div>  
  <%= link_to "作成", new_employees_manager_path, class: "btn btn-dark" %>

  <table class="table table-sm table-hover" id="admins-managers-table">
    <tr>
      <th>名前</th>
      <th>従業員ID</th>
      <th>電話番号</th>
      <th>入社日</th>
    </tr>
    <% @managers.each do |manager| %>
      <tr class="tr-link" data-link="<%= employees_manager_path(manager) %>">
        <td><%= manager.name %></td>
        <td><%= manager.login_id %></td>
        <td><%= manager.phone %></td>
        <td><%= manager.joined_on %></td>
      </tr>
    <% end %>
  </table>
</div>

<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>