<div class="entire-wrapper">
  
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <%= image_tag "abb_d.png", size: "250x50", alt: "ロゴ" %>
    </div>
    
    <div class="user-panel">
      <div class="avator_container_for_sidebar">
        <%= sidebar_avator(current_admin) %><span>ADMIN_PAGE</span>
      </div>
    </div>

    <ul class="components">
      <%= render 'layouts/flamework/sidebar_item' %>
    </ul>

    <ul class="list-unstyled CTAs">
      <li><%= link_to "統計情報", statistics_path, class: "download" %></li>
      <li>
        <%= link_to "現況一覧", employees_current_situations_path, class: "current_situation", target: :_blank, rel: [:noopener, :noreferrer] %>
      </li>
    </ul>
  </nav>

  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">
    
      <!-- Header -->      
      <%= render partial: "layouts/flamework/header", locals: {home_path: :admins_top_path,
                                                               edit_path: :edit_admin_registration_path,
                                                               logout_path: :destroy_admin_session_path} %>
    </div>
    
    <!-- Main-content -->
    <%= render "shared/flash" %>
    <%= yield %>
    <div class="line"></div>
    <div class="debug"><%= debug(params) if Rails.env.development? %></div>
  </div>
</div>

<%= javascript_include_tag "layout.js" %>
