<div class="entire-wrapper">

  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <%= image_tag "abb_d.png", size: "250x50", alt:"ロゴ" %>
    </div>
    
    <div class="user-panel">
      <div class="avator_container_for_sidebar">
        <%= sidebar_avator(current_supplier_manager) %><span>Manager</span>
      </div>
    </div>

    <ul class="components">
      <%= render 'layouts/authority/sidebar_item/supplier_manager' %>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <%= link_to "現況一覧", employees_current_situations_path, class: "current_situation", target: :_blank, rel: [:noopener, :noreferrer] %>
      </li>
    </ul>
  </nav>

  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">
        
      <!-- Header -->
      <%= render partial: "layouts/flamework/header", locals: {home_path: :top_supplier_managers_path,
                                                               edit_path: :edit_supplier_manager_registration_path,
                                                               logout_path: :destroy_supplier_manager_session_path} %>
    </div>
          
    <!-- Main-content -->
    <%= render "shared/flash" %>
    <%= yield %>
    <div class="line"></div>
    <div class="debug"><%= debug(params) if Rails.env.development? %></div>
  </div>
</div>

<%= javascript_include_tag "layout.js" %>