<div class="mt-1e">
  <div class="accordion" id="accordion-sales">
    <div class="card">
      <div class="card-header bg-dark" id="headingOne">
        <h5 class="text-light">
          営業履歴
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-sales" aria-expanded="true" aria-controls="collapse-sales">
            詳細
          </button>
        </h5>
      </div>

      <div id="collapse-sales" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-sales">
        <div class="card-body">
          <div class="text-right mb-05e">
            <%= link_to "営業記録作成", new_employees_estimate_matter_sales_status_path(@estimate_matter), remote: true, class: "btn btn-success" %>
          </div>
          <div class="sales-statuses-index">
            <%= render "employees/estimate_matters/partial/sales_statuses" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-1e">
  <div class="accordion" id="accordion-tasks">
    <div class="card">
      <div class="card-header bg-dark" id="headingTwo">
        <h5 class="text-light">
          タスク管理
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-tasks" aria-expanded="true" aria-controls="collapse-tasks">
            詳細
          </button>
        </h5>
      </div>
      
      <div id="collapse-tasks" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-tasks">
        <div class="card-body">
          <div class="tasks-index overflow-auto">
            <%= render "employees/estimate_matters/partial/tasks" %>
          </div>
        </div>
      </div>
    </div>      
  </div>
</div>

<div class="accordion mt-1e" id="accordion-estimates">
  <div class="card">
    <div class="card-header bg-dark" id="headingOne">
      <h5 class="text-light">
        見積作成
        <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-estimates" aria-expanded="true" aria-controls="collapse-estimates">
          詳細
        </button>
      </h5>
    </div>

    <div id="collapse-estimates" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-estimates">
      <div class="card-body">
        <div class="estimates-index">
          <%= render "employees/estimate_matters/partial/estimates_index" %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--▼診断書関連-->
<div class="accordion mt-1e" id="accordion-certificates">
  <div class="card">
    <div class="card-header bg-dark" id="headingThree">
      <h5 class="text-light">
        診断書作成
        <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-certificates" aria-expanded="true" aria-controls="collapse-certificates">
          詳細
        </button>
      </h5>
    </div>

    <div id="collapse-certificates" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-certificates">
      <div class="card-body">
        <div id="certificate-create-flash"></div>
        
        <div class="text-right">
          <%= link_to "プレビュー", preview_employees_estimate_matter_certificates_path(@estimate_matter), target: :_blank, rel: "noopener noreferrer", class: "btn btn-primary" %>
        </div>
        
        <div class="double-line mt-1e"><h4>表紙</h4></div>
        <div id="cover_update_flash"></div>
        <div class="certificates-cover">
          <%= render "employees/covers/partial/show" %>  
        </div>
        
        <div class="double-line"><h4>画像一覧</h4></div>
        <div class="image_flex">
          <%= render 'employees/estimate_matters/partial/certificates_images' %>
        </div>
        
        <div class="double-line mt-1e"><h4>診断書項目</h4></div>
        <div id="certificate-update-flash"></div>
        <div class="certificates-index">
          <%= render "employees/estimate_matters/partial/certificates" %>
        </div>
      </div>
    </div>
  </div>
</div>