<div class="row">
  <div class="col-md-6">
    <%= render partial: 'layouts/page_title', locals: { title_1: "営業案件", title_2: "#{current_estimate_matter.title} 詳細", icon: "fa-clipboard"} %>
  </div>
  <div class="col-md-6 text-right">
    <% if @matter.present? %>
      <%= link_to "着工案件に移動", employees_matter_path(@estimate_matter.matter), data: {"turbolinks" => false}, class: "btn btn-dark" %>
    <% end %>
    <%= link_to "この営業案件を削除", employees_estimate_matter_path(@estimate_matter), method: :delete, data: { confirm: "この案件を削除してよろしいですか？" }, class: "btn btn-danger" %>
  </div>
</div>

<div id="sub-title-container">
  <%= render partial: 'shared/employees/sub_title', locals: {object: @estimate_matter, status: sales_status_disp(@sales_statuses.first.status_i18n) } %>
</div>

<div id="matter_show" class="double-line pa-1e">
  <div class="mt-1e">
    <h4>基本情報</h4>
    <%= link_to "編集", edit_employees_estimate_matter_path(@estimate_matter, edit_type: "basic"), remote: true, class: "btn btn-success float-r" %>

    <div class="table-responsive">
      <table class="table table-bordered text-nowrap mt-5">
        <tr>
          <th style="width: 8em;">現場住所</th>
          <td colspan="3">
            <%= postal_code_display(@estimate_matter.postal_code) %>
            <span class="ml-1e"><%= link_to @address, "https://www.google.com/maps/search/?api=1&query=#{ @address }", target: :blank %></span>
          </td>
        </tr>
        <tr>
          <th>引受屋号</th>
          <td><%= @publisher.name %></td>
          <th>集客方法</th>
          <td><%= @estimate_matter.attract_method.name if @estimate_matter.attract_method %></td>
        </tr>
      </table>
    </div>
  </div>

  <% if @supplier %>
    <div class="mt-2e">
      <div class="row">
        <div class="col-md-6">
          <h4 class="d-inline">紹介元情報</h4>
          <%= content_tag(:h5, @client.avaliable_disp, class: "d-inline ml-2e") %>
        </div>
        <div class="col-md-6 text-right">
          <%= link_to "編集", "#", remote: true, class: "btn btn-success" %>
        </div>
      </div>
      <%= render "employees/estimate_matters/suppliers/partial/supplier_table" %>
    </div>
  <% end %>

  <div class="mt-2e">
    <div class="row">
      <div class="col-md-6">
        <h4 class="d-inline">お客様情報</h4>
        <h5 class="d-inline ml-2e"><%= @client.avaliable_disp %></h5>
      </div>
      <div class="col-md-6 text-right">
        <%= link_to "編集", edit_employees_estimate_matter_client_path(@estimate_matter, @client), remote: true, class: "btn btn-success" %>
      </div>
    </div>
    <%= render 'employees/estimate_matters/clients/partial/client_table' %>
  </div>


  <div class="mt-2e">
    <h4>当社担当者</h4>
    <%= link_to "編集", edit_employees_estimate_matter_path(@estimate_matter, edit_type: "staff"), remote: true, class: "btn btn-success float-r" %>
    <%= render partial: 'common_layouts/person_in_charge/person_in_charge',
               locals: { object: @estimate_matter } %>
  </div>

  <div class="mt-2e">
    <h4>担当業者様</h4>
    <%= link_to "編集", edit_employees_estimate_matter_path(@estimate_matter, edit_type: "vendor"), remote: true, class: "btn btn-success float-r" %>
    <%= render partial: 'shared/person_in_charge/vendor', locals: { object: @estimate_matter, path: :edit_employees_estimate_matter_path} %>
  </div>

  <div class="mt-2e">
    <%= render partial: 'shared/employees/band_select/band_select', locals: { path: "employees/estimate_matters/partial/select_band_display" } %>
  </div>

  <div class="btn-area mb-1e">
    <span class="to-create-matter">
      <% if @contracted_estimate_matter.present? && @matter.nil? %>
        <%= link_to "案件作成", new_employees_matter_path(estimate_matter_id: @estimate_matter.id), remote: true, class: "btn btn-dark" %>
      <% end %>
    </span>
  </div>
</div>