<div class="modal-dialog">
  <!-- モーダルコンテンツ:モーダルに表示させる内容-->
  <div class="modal-content">
    <div class="modal-body pa-2e">
    <!-- &timesは「×ボタン」の表示-->
      <div class="row">
        <div class="col-sm-12 mb-1e">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="col-sm-12">
        <div class="card mb-3">
          <h5 class="card-header">Event/新規作成</h5>
            <div class="card-body">
              <%= form_with(model: [:current_manager, current_manager.events.build ], url: settings_events_path(current_manager), method: :post, remote: true) do |f| %>
    
              <div class="user_create_error"></div>

                <div class="form-check">
                  <input class="event_select_form" type="checkbox" id="select_event">
                  <label for="defaultCheck1">
                    既存のイベント一覧から選択する
                  </label>
                </div>
                <div class="form-check">
                  <input class="event_select_form" type="checkbox" id="select_new_event">
                  <label for="defaultCheck2">
                    新規登録する
                  </label>
                </div>

                <div id="select_event_title" style="display: none">
                  <%= f.label :event_name, "イベントタイトル" %>
                  <% if @manager_event_title.present?%>
                    <%= f.select :event_name, @manager_event_title ,{ prompt: "登録したイベント名から選択する"}, { class: "form-control" } %>
                  <% end %>
                </div>
                <div id="new_event_title" style="display: none">
                  <%= f.label :event_name, "イベントタイトル" %>
                  <%= f.text_field :event_name , required: true, class: "form-control" %>
                </div>

                <%= f.hidden_field :event_type, :value => "Z" %>
                
                <div class="form-group">
                  <%= f.label :date, "日付" %>
                  <%= f.date_field :date, required: true, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :note, "詳細" %>
                  <%= f.text_area :note, class: "form-control" %>
                </div>

                <%= f.hidden_field :manager_id, :value => current_manager.id %>
              
                <%= f.submit "作成", class: "btn btn-dark" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--チェックボックス 複数選択不可-->
<script>
$(".event_select_form").on("click", function(){
  $('.event_select_form').prop('checked', false);
  $(this).prop('checked', true);
});
</script>

<!--イベントフォーム切替-->
<script>
  $('#select_event').click(function(){
    if ( $(this).prop("checked") == true) {
      $('#select_event_title').show();
      $('[name="manager_event[note]"]').val(note);
      $('#new_event_title').hide();
    }
    else {
      $('#select_event_title').hide();
    }
  });
  
  $('#select_new_event').click(function(){
    if ( $(this).prop("checked") == true) {
      $('#new_event_title').show();
      $('[name="manager_event[note]"]').val("");
      $('#select_event_title').hide();
    }
    else {
      $('#new_event_title').hide();
    }
  });

  $('.btn').click(function(){
    if ( $('#select_event').prop("checked") == true) {
      $('#new_event_title').remove();
    }
  });

  $('[name="manager_event[event_name]"]').change(function() {
    var element = $('[name="manager_event[event_name]"]').val();
    let base = [];
    <% ManagerEventTitle.where("manager_id = ?", current_manager.id).each do |event|  %>
      base.push(["<%= event.event_name%>","<%= event.note%>"]) 
    <% end %>
    for (let i = 0; i < base.length; i++) {
      if( base[i][0] === element ){
        note = base[i][1]
      }
    }
    $('[name="manager_event[note]"]').val(note);
  });

</script>
