<div class="table-responsive">
  <table class="table table-bordered text-nowrap common-table">
    <thead>
      <tr>
        <th>屋号名</th>
        <th>郵便番号</th>
        <th>都道府県</th>
        <th>市町村</th>
        <th>番地</th>
        <th>ロゴ画像</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="sortable-publishers">
      <% @publishers.each do |publisher| %>
        <tr class="tr-sortable">
          <td><%= publisher.name %></td>
          <td><%= publisher.postal_code %></td>
          <td><%= publisher.prefecture_code %></td>
          <td><%= publisher.address_city %></td>
          <td><%= publisher.address_street %></td>
          <td><%= image_tag publisher.image.variant(resize:"100x250") if publisher.image.attached? %></td>
          <td>
            <%= link_to "編集", edit_employees_settings_companies_publisher_path(publisher), remote: true, class: "btn btn-sm btn-dark" %>
            <%= link_to "削除", employees_settings_companies_publisher_path(publisher), method: :delete, data: { confirm: "この発行元を削除してよろしいですか？", remote: true }, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= javascript_include_tag "sortable/Sortable.min.js" %>
<%= javascript_include_tag "sortable/publishers.js" %>
