<div class="row">
  <div class="col-md-6">
    <div class="news_container">
      <div class="top_page_contents">
        <span>スッタフ別営業件数</span>
        <%= bar_chart est_matter_date_for_graph, stacked: true, colors: ["#d26f8a", "#3a6ecd"] %>
      </div>
    </div>
  </div>
      
  <div class="col-md-6">
    <div class="table-responsive">
      <table class="table text-nowrap table-bordered table-column-type">
        <tr>
          <th>担当者</th>
          <th>担当数</th>
          <th>成約数</th>
          <th>成約率</th>
        </tr>
        <% @total_est_number = 0 %>
        <% @total_contract = 0 %>
        <% est_matter_date_for_table.each do |date| %>
          <tr>
            <td><%= date[:name] %></td>
            <td><%= date[:est_number] %><% @total_est_number += date[:est_number] %></td>
            <td><%= date[:contract] %><% @total_contract += date[:contract] %></td>
            <td><%= contract_rate(date[:contract], date[:est_number]) %>%</td>
          </tr>
        <% end %>
        <tr class="total">
          <td>合計</td>
          <td><%= @total_est_number %></td>
          <td><%= @total_contract %></td>
          <td><%= contract_rate(@total_contract, @total_est_number) %>%</td>
        </tr>
      </table>
    </div>
  </div>
</div>