<div class="container">
  <div class="row">
    <h4 class="col-sm-6">取引会社一覧</h4>
    <div class="col-sm-6">
      <button class="btn btn-dark mt-0 mb-1e float-r" id="supplier_new_btn"><i class="fas fa-user-plus"></i> 新規作成</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered text-nowrap supplier_index_table">
      <tr>
        <th>会社名</th>
        <th>所在地</th>
        <th>TEL</th>
        <th>FAX</th>
        <th></th>
      </tr>
      <tbody>
        <% @suppliers.each do |supplier| %>
          <tr>
            <td><%= supplier.company %></td>
            <td><%= supplier.location %></td>
            <td><%= supplier.phone %></td>
            <td><%= supplier.fax %></td>
            <td>
              <%= link_to "編集", manager_supplier_path(dependent_manager, supplier), class: "btn btn-primary btn-sm" %>
              <%= link_to "削除", manager_supplier_path(dependent_manager, supplier), method: :delete, data: { confirm: "取引関係者から#{supplier.company}を削除しますか？" }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="modal" id="supplier_new">
    <div class="modal__bg js-modal-close"></div>
      <div>
        <%= render 'manager/suppliers/new' %>
      </div>
  </div>
</div>

<script>
  $(function(){
    $('#supplier_new_btn').on('click',function(){
      $('#supplier_new').fadeIn();
      return false;
    });
    
    $('.js-modal-close').on('click',function(){
      $('#supplier_new').fadeOut();
      return false;
    });
  });
</script>