<div class="table-responsive">
  <table class="table table-bordered text-nowrap common-table">
    <thead>
      <tr>
        <th>名前</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="sortable-industries">
      <% @industries.each do |industry| %>
        <tr class="tr-sortable">
          <td style="width: 50%;"><%= industry.name %></td>
          <td>          
            <%= link_to "編集", edit_employees_settings_companies_industry_path(industry), remote: true, class: "btn btn-sm btn-dark" %>
            <%= link_to "削除", employees_settings_companies_industry_path(industry), method: :delete, data: { confirm: "この業種を削除してよろしいですか？", remote: true }, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= javascript_include_tag "sortable/Sortable.min.js" %>
<%= javascript_include_tag "sortable/industries.js" %>
