<div class="table-responsive">
  <table class="table table-bordered text-nowrap common-table">
    <thead>
      <tr>
        <th>名前</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="sortable-industries">
      <% @industries.each do |industry| %>
        <tr class="tr-sortable">
          <td class="pl-2e">
            <%= form_with(model: industry, url: employees_settings_companies_industry_path(industry), method: :patch, remote: true) do |f| %>
              <div class="input-group">
                <%= f.text_field :name, class: "form-control" %>
                <div class="input-group-append">        
                  <input type="submit" value="変更" class="btn btn-dark">
                </div>
              </div>
            <% end %>
          </td>
          <td>
            <%= link_to "削除", employees_settings_companies_industry_path(industry), method: :delete, data: { confirm: "この業種を削除してよろしいですか？", remote: true }, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= javascript_include_tag "sortable/Sortable.min.js" %>
<%= javascript_include_tag "sortable/industries.js" %>
