<%= f.label :client_id %>
<%= f.collection_select :client_id, clients, :id, :name, {}, class: "form-control" %>

<%= f.label :attract_method_id %>
<%= f.collection_select :attract_method_id, @attract_methods, :id, :name, { include_blank: "集客方法を選択" }, class: "form-control" %>

<%= f.label :title %>
<%= f.text_field :title, required: true, class: "form-control", maxlength: 30 %>

<%= f.label :postal_code %>
<%= f.text_field :postal_code, maxlength: 7, pattern: "^[0-9]{7}$", autocomplete: "postal_code", id: "postcode", placeholder: "半角数字(ハイフンなし)", class: "form-control" %>

<%= f.label :prefecture_code %>
<%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, { prompt: '選択してください' }, id: "prefecture_code", class: "form-control" %>

<%= f.label :address_city %>
<%= f.text_field :address_city, autocomplete: "address_city", id: "address_city", class: "form-control" %>
 
<%= f.label :address_street %>
<%= f.text_field :address_street, autocomplete: "address_street", id: "address_street", class: "form-control" %>

<%= f.label :content %>
<%= f.text_area :content, required: true, class: "form-control", maxlength: 300 %>

<div>
  <%= f.label :staff %>
  <div>
    <%= f.collection_check_boxes(:staff_ids, staffs, :id, :name) do |s| %>
      <%= s.check_box %><%= s.text %>
    <% end %> 
  </div>
</div>

<div>
  <%= f.label :external_staff %>
  <div>
    <%= f.collection_check_boxes(:external_staff_ids, external_staffs, :id, :name) do |e| %>
      <%= e.check_box %><%= e.text %>
    <% end %> 
  </div>
</div>

<script type="text/javascript">
$(function () {       
  $("#postcode").jpostal({
    //  郵便番号の入力欄が１つの場合
    //  111-1111と1111111のどちらの入力形式でも住所を自動入力してくれる
    postcode : [ "#postcode" ],
    //  入力項目フォーマット

    //   %3  都道府県
    //   %4  市区町村
    //   %5  町域
    //   %6  大口事業所の番地
    //   %7  大口事業所の名称
    address  : {
                  "#prefecture_code" : "%3", // 都道府県が入力される
                  "#address_city"    : "%4%5", // 市区町村と町域が入力される
                  "#address_street"  : "%6%7" // 大口事務所の番地と名称が入力される
               }
  });
});
</script>
