<div class="col-lg-12 col-md-12">
  <h2>
    <div style="display: inline-flex">
      見積案件一覧
      <form class="form-inline">
        <%= form_with(model: @clients, method: :get, local: true) do |f| %>
          <div style="display: inline-flex">
            <%= f.text_field :name, class: "form-control mx-2 mg-0", placeholder: "顧客名検索" %>
            <%= f.submit "検索", class: "btn btn-md btn-primary" %>
          </div>
        <% end %>
      </form>
    </div>
    <%= link_to new_employees_estimate_matter_path, remote: true, class: "btn btn-dark float-r" do %>
      <i class="fas fa-plus"></i> 新規見積案件
    <% end %>
  </h2>
  <div class="text-center">
    <div>
      <table class="table table-bordered common-table">
        <tr>
          <th>タイトル</th>
          <th>顧客</th>
          <th>最新ステータス／担当者</th>
        </tr>
        <% @estimate_matters.each do |estimate_matter| %>
          <tr class="tr-link" data-link="<%= employees_estimate_matter_path(estimate_matter) %>">
            <td><%= estimate_matter.title %></td>
            <td><%= estimate_matter.client.name %></td>
            <% sales_status = @sales_statuses.where(estimate_matter_id: estimate_matter.id).first %>
            <% if sales_status.status == "not_set" %>
              <td><%= sales_status.status_i18n %></td>
            <% elsif sales_status %>
              <td><%= sales_status.status_i18n %>／<%= sales_status.staff_name %><%= sales_status.external_staff_name %></td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
