<div class="col-12">
  <%= render partial: 'layouts/page_title', locals: { title_1: "営業管理案件", title_2: nil, icon: "fa-paste"} %>
  
  <%= form_with(model: @clients, method: :get, local: true) do |f| %>
    <div class="row mt-05e">
      <div class="col-lg-2 col-6 pr-0">
        <%= f.text_field :name, class: "form-control", placeholder: "顧客名検索", value: params[:name] %>
      </div>
      <div class="col-lg-2 col-6 pl-0">
        <%= f.select :status, SalesStatus.statuses.keys.map{ |k| [I18n.t("enums.sales_status.status.#{ k }"), k] }, { include_blank: "ステータス別検索", selected: params[:status] }, class: "form-control" %>
      </div>
      <div class="col-lg-2 col-6 pr-0">
        <%= f.select :year, (2000..Time.now.year).reverse_each, { include_blank: "作成月別検索(年)", selected: params[:year] }, class: "form-control" %>
      </div>
      <div class="col-lg-2 col-6 pl-0">
        <%= f.select :month, 1..12, { include_blank: "作成月別検索(月)", selected: params[:month] }, class: "form-control" %>
      </div>
      <div class="col-lg-4 col-12">
        <%= f.submit "検索", class: "btn btn-primary" %>
        <%= link_to new_employees_estimate_matter_path, remote: true, class: "btn btn-dark float-r" do %>
          <i class="fas fa-plus"></i> 新規営業案件
        <% end %>
      </div>
    </div>
  <% end %>
  
  <div class="table-responsive">
    <table class="table table-bordered text-nowrap common-table">
      <tr>
        <th>タイトル</th>
        <th>顧客</th>
        <th>最新ステータス／担当者</th>
      </tr>
      <% @estimate_matters.each do |estimate_matter| %>
        <% sales_status = @sales_statuses.where(estimate_matter_id: estimate_matter.id).first %>
        <% if !params[:status].present? || sales_status.status == params[:status] %>
          <% if params[:id] == estimate_matter.id %>
            <tr class="tr-link table-success" data-link="<%= employees_estimate_matter_path(estimate_matter) %>">
          <% else %>
            <tr class="tr-link" data-link="<%= employees_estimate_matter_path(estimate_matter) %>">
          <% end %>
            <td><%= estimate_matter.title %></td>
            <td><%= estimate_matter.client.name %></td>
            <% if sales_status.status == "not_set" %>
              <td><%= sales_status.status_i18n %></td>
            <% elsif sales_status %>
              <td><%= sales_status.status_i18n %>／<%= member_name(sales_status) %></td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<%= javascript_include_tag "tr_link.js" %>
