<div class="col-12">
  <div class="text-right mb-1e">
    <%= link_to "画像一覧", employees_estimate_matter_images_path(@estimate_matter), target: :_blank, rel: [:noopener, :noreferrer], class: "btn btn-dark" %>
    <%= link_to "チャットルーム", "#", target: :_blank, rel: [:noopener, :noreferrer], class: "btn btn-primary" %>
  </div>

  <h2><i class="fas fa-clipboard"></i> 見積案件詳細</h2>
  
  <table class="table table-bordered table-column-type">
    <tr>
      <th>状況</th>
      <td><%= @sales_statuses.first.status_i18n %></td>
    </tr>
    <tr>
      <th>タイトル</th>
      <td><%= @estimate_matter.title %></td>
    </tr>
    <tr>
      <th>顧客</th>
      <td>
        <%= @estimate_matter.client.name %>
        <span class="float-r mr-1e">
          <a href="tel:<%= @estimate_matter.client.phone_1 %>" class="btn btn-success">電話する</a>
        </span>
      </td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @estimate_matter.postal_code %></td>
    </tr>
    <tr>
      <th>現場住所</th>
      <td><%= @estimate_matter.prefecture_code %><%= @estimate_matter.address_city %><%= @estimate_matter.address_street %></td>
    </tr>
    <tr>
      <th>集客方法</th>
      <td><%= @estimate_matter.attract_method.name if @estimate_matter.attract_method %></td>
    </tr>
    <tr>
      <th>発行元</th>
      <td><%= @publisher.name %></td>
    </tr>
    <tr>
      <th>内容</th>
      <td><%= @estimate_matter.content %></td>
    </tr>
    <tr>
      <th>担当スタッフ</th>
      <td><%= member_name(@estimate_matter) %></td>
    </tr>
  </table>
  <div class="btn-area mb-1e">
    <% if @matter %>
      <%= link_to "案件詳細", employees_matter_path(@estimate_matter.matter), class: "btn btn-dark" %>
    <% end %>
    <% if @contracted_estimate_matter.present? && @matter == nil %>
      <span class="to-create-matter">
        <%= link_to "案件作成", new_employees_matter_path(estimate_matter_id: @estimate_matter.id), remote: true, class: "btn btn-dark" %>
      </span>
    <% end %>
    <%= link_to "編集", edit_employees_estimate_matter_path(@estimate_matter), remote: true, class: "btn btn-dark" %>
    <%= link_to "削除", employees_estimate_matter_path(@estimate_matter), method: :delete, data: { confirm: "この見積案件を削除してよろしいですか？" }, class: "btn btn-danger" %>
  </div>
  
  
  <div class="accordion" id="accordion-sales">
    <div class="card">
      <div class="card-header bg-dark" id="headingOne">
        <h5 class="text-light">
          営業履歴
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-sales" aria-expanded="true" aria-controls="collapse-sales">
            詳細
          </button>
        </h5>
      </div>
  
      <div id="collapse-sales" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-sales">
        <div class="card-body">
          <div class="text-right mb-05e">
            <%= link_to "営業記録作成", new_employees_estimate_matter_sales_status_path(@estimate_matter), remote: true, class: "btn btn-success" %>
          </div>
          <div class="sales-statuses-index">
            <%= render "employees/estimate_matters/tab_panes/sales_statuses" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="accordion mt-1e" id="accordion-estimates">
    <div class="card">
      <div class="card-header bg-dark" id="headingOne">
        <h5 class="text-light">
          見積作成
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-estimates" aria-expanded="true" aria-controls="collapse-estimates">
            詳細
          </button>
        </h5>
      </div>
  
      <div id="collapse-estimates" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-estimates">
        <div class="card-body">
          <div class="estimates-index">
            <%= render partial: "shared/estimate_matters/estimates_index", locals: { estimates: @estimates, estimate_matter: @estimate_matter } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="accordion mt-1e" id="accordion-certificates">
    <div class="card">
      <div class="card-header bg-dark" id="headingThree">
        <h5 class="text-light">
          診断書一覧
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-certificates" aria-expanded="true" aria-controls="collapse-certificates">
            詳細
          </button>
        </h5>
      </div>
  
      <div id="collapse-certificates" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-certificates">
        <div class="card-body">
          <h3>画像一覧</h3>
          <div class="row">
            <% @images.each do |image| %>
              <div class="col-sm-2 col-12">
                <%= link_to new_employees_estimate_matter_certificate_path(@estimate_matter, image_id: image.id), remote: true do %>
                  <div class="row image-item employees-image-item">
                    <%= image_tag url_for(image.images[0].variant(resize: "150x150"))%>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <h3 class="mt-1e">診断書一覧</h3>
          <div class="certificates-index"><%= render "/employees/estimate_matters/tab_panes/certificates" %></div>
        </div>
      </div>
    
    </div>
      
  </div>
</div>
