<div class="col-12">
  <%= render partial: 'layouts/page_title', locals: { title_1: "営業案件", title_2: "#{current_estimate_matter.title} 詳細", icon: "fa-clipboard"} %>
  
  <div class="text-right mb-1e">
    <button id="to_image_index" class="btn btn-dark">画像一覧</button>
    <!--<!%= link_to "チャットルーム", "", target: :_blank, rel: [:noopener, :noreferrer], class: "btn btn-primary" %>-->
  </div>
  
  <div class="table-responsive pc_type">
    <table class="table table-bordered table-column-type text-nowrap">
      <tr>
        <th>状況</th>
        <td colspan="2"><%= @sales_statuses.first.status_i18n %></td>
      </tr>
      <tr>
        <th>タイトル</th>
        <td colspan="2"><%= @estimate_matter.title %></td>
      </tr>
      <tr>
        <th>顧客</th>
        <td><%= @estimate_matter.client.name %></td>
        <td>
          <div class="mr-1e">
            <a href="tel:<%= @estimate_matter.client.phone_1 %>" class=""><%= mobile_phone_display(@estimate_matter.client.phone_1) %></a>
          </div>
          <div class="mr-1e">
            <a href="tel:<%= @estimate_matter.client.phone_2 %>" class=""><%= mobile_phone_display(@estimate_matter.client.phone_2) %></a>
          </div>
        </td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td colspan="2"><%= postal_code_display(@estimate_matter.postal_code) %></td>
      </tr>
      <tr>
        <th>現場住所</th>
        <td colspan="2">          
          <%= link_to @address, "https://www.google.com/maps/search/?api=1&query=#{ @address }", target: :blank %>
        </td>
      </tr>
      <tr>
        <th>集客方法</th>
        <td colspan="2"><%= @estimate_matter.attract_method.name if @estimate_matter.attract_method %></td>
      </tr>
      <tr>
        <th>発行元</th>
        <td colspan="2"><%= @publisher.name %></td>
      </tr>
      <tr>
        <th>内容</th>
        <td colspan="2"><%= @estimate_matter.content %></td>
      </tr>
      <tr>
        <th>担当スタッフ</th>
        <td colspan="2"><%= staff_member_name(@estimate_matter) %></td>
      </tr>
      <tr>
        <th>BAND選択</th>
        <td colspan="2" id="select_band">
          <%= render 'employees/estimate_matters/partial/select_band_display' %>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="mobile_type">
    <div>
      <button type="button" id="tableCollapse" class="navbar-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    
    <div class="responsive_table_wrapper">
      <nav class="responsive_table_sidebar">
        <ul class="components">
          <li>内容</li>
          <li>状況</li>
          <li>顧客</li>
          <li>電話</li>
          <li>郵便番号</li>
          <li>現場</li>
          <li>担当</li>
          <li class="band_area">BAND</li>
          <li>請求元</li>
          <li>集客方法</li>
        </ul>
      </nav>
      <div class="table_content text-nowrap overflow-auto">
        <div class="content"><%= @estimate_matter.content %></div>
        <div class="content"><%= @sales_statuses.first.status_i18n %></div>
        <div class="content"><%= @estimate_matter.client.name %></div>
        <div class="content">
          <a href="tel:<%= @estimate_matter.client.phone_1 %>" class=""><%= mobile_phone_display(@estimate_matter.client.phone_1) %></a>
          <span>/</span>
          <a href="tel:<%= @estimate_matter.client.phone_2 %>" class=""><%= mobile_phone_display(@estimate_matter.client.phone_2) %></a>
        </div>
        <div class="content"><%= postal_code_display(@estimate_matter.postal_code) %></div>
        <div class="content"><%= @estimate_matter.prefecture_code %><%= @estimate_matter.address_city %><%= @estimate_matter.address_street %></div>
        <div class="content"><%= staff_member_name(@estimate_matter) %></div>
        <div id="select_band" class="band_area content">
          <% if current_estimate_matter.band_connection.nil? %>
            <%= link_to "BAND連結", employees_band_connections_path(estimate_matter_id: @estimate_matter.id, type: "new"), remote: true, class: "btn btn-primary" %>
          <% else %>
            <div class="band_box">
              <%=image_tag current_estimate_matter.band_connection.band_icon, :size =>'50x50' %>
              <div class="band_name"><%= current_estimate_matter.band_connection.band_name %></div>
              <%= link_to "変更", employees_band_connections_path(estimate_matter_id: current_estimate_matter.id, type: "edit"), remote: true, class: "btn btn-primary band_edit_btn" %>
            </div>
          <% end %>
        </div>
        <div class="content"><%= @publisher.name %></div>
        <div class="content"><%= @estimate_matter.attract_method.name if @estimate_matter.attract_method %></div>
      </div>
    </div>
  </div>
  
  <div class="btn-area mb-1e">
    <% if @matter %>
      <%= link_to "案件詳細", employees_matter_path(@estimate_matter.matter), class: "btn btn-dark" %>
    <% end %>
    <span class="to-create-matter">
      <% if @contracted_estimate_matter.present? && @matter.nil? %>      
        <%= render "employees/estimate_matters/partial/new_matter_btn" %>      
      <% end %>
    </span>
    <%= link_to "編集", edit_employees_estimate_matter_path(@estimate_matter), remote: true, class: "btn btn-dark" %>
    <%= link_to "削除", employees_estimate_matter_path(@estimate_matter), method: :delete, data: { confirm: "この見積案件を削除してよろしいですか？" }, class: "btn btn-danger" %>
  </div>
  
  <div class="accordion" id="accordion-sales">
    <div class="card">
      <div class="card-header bg-dark" id="headingOne">
        <h5 class="text-light">
          営業履歴
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-sales" aria-expanded="true" aria-controls="collapse-sales">
            詳細
          </button>
        </h5>
      </div>
  
      <div id="collapse-sales" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-sales">
        <div class="card-body">
          <div class="text-right mb-05e">
            <%= link_to "営業記録作成", new_employees_estimate_matter_sales_status_path(@estimate_matter), remote: true, class: "btn btn-success" %>
          </div>
          <div class="sales-statuses-index">
            <%= render "employees/estimate_matters/partial/sales_statuses" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="accordion mt-1e" id="accordion-estimates">
    <div class="card">
      <div class="card-header bg-dark" id="headingOne">
        <h5 class="text-light">
          見積作成
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-estimates" aria-expanded="true" aria-controls="collapse-estimates">
            詳細
          </button>
        </h5>
      </div>
  
      <div id="collapse-estimates" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-estimates">
        <div class="card-body">
          <div class="estimates-index">
            <%= render "employees/estimate_matters/partial/estimates_index" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--▼診断書関連-->
  <div class="accordion mt-1e" id="accordion-certificates">
    <div class="card">
      <div class="card-header bg-dark" id="headingThree">
        <h5 class="text-light">
          診断書一覧
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-certificates" aria-expanded="true" aria-controls="collapse-certificates">
            詳細
          </button>
        </h5>
      </div>
  
      <div id="collapse-certificates" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-certificates">
        <div class="card-body">
          <div id="certificate_create_flash"></div>
          <div class="text-right">
            <%= link_to "プレビュー", preview_employees_estimate_matter_certificates_path(@estimate_matter), class: "btn btn-success" %>
          </div>
          <h5>画像一覧</h5>
          <div class="image_flex">
            <%= render 'employees/estimate_matters/partial/certificates_images' %>
          </div>
          <h5 class="mt-1e">表紙</h5>
          <div id="cover_update_flash"></div>
          <div class="certificates-cover">
            <%= render "employees/covers/partial/show" %>  
          </div>
          <h5 class="mt-1e">診断書一覧</h5>
          <div id="certificate_update_flash"></div>
          <div class="certificates-index">
            <%= render "employees/estimate_matters/partial/certificates" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "tableCollapse.js" %>

<script>
  $('#to_image_index').on('click', function(){
    window.open( '<%= employees_estimate_matter_images_path(@estimate_matter) %>', 'new', "width=820,height=600,scrollbars=yes,resizable=yes,menubar=no,toolbar=no,location=no,directories=no,status=no");
  });
</script>