<!--警告-->
<div class="text-danger mb-05e">
  <%= own_finished_at_nil_notification(target) %>
</div>

<!--出退勤ボタン-->
<% if attendance.started_at.nil? %>
  <% if target == current_manager || current_staff %>
    <%= link_to send(path, id: attendance.id, page: "top"), method: :patch, class: "btn btn-primary btn-attendance" do %>
      出勤
    <% end %>
  <% elsif target == current_external_staff %>
    <p>おはようございます。本日もよろしくお願いいたします。</p>
    <%= link_to send(path, id: attendance.id, page: "top"), method: :patch, class: "btn btn-primary btn-attendance" do %>
      本日の作業開始
    <% end %>
  <% end %>
  
<% elsif attendance.finished_at.nil? %>
  <% if target == current_manager || current_staff %>
    <p class="mb-0">本日の出勤時間：<span><%= attendance.started_at.strftime("%H時%M分") %></span></p>
    <%= link_to send(path, id: attendance.id, page: "top"), method: :patch, class: "btn btn-danger btn-attendance" do %>
      退勤
    <% end %>
  <% elsif target == current_external_staff %>
    <p class="mb-0">本日の作業開始時間：<span><%= attendance.started_at.strftime("%H時%M分") %></span></p>
    <%= link_to send(path, id: attendance.id, page: "top"), method: :patch, class: "btn btn-danger btn-attendance" do %>
      本日の作業終了
    <% end %>
  <% end %>

<% else %>
  <p class="text-dark">本日もお疲れ様でした。</p>
  <i class="fas fa-exclamation-triangle text-danger mr-05e"></i>個人情報漏洩防止のため、ログアウトを忘れずに!!
<% end %>  