<div class="col-12">
  <!--▼出退勤ボタンの表示-->
  <ul class="nav nav-tabs title_tab_bar">
    <li class="nav-item">
      <a class="nav-link attendance_tab">本日の出退勤</a>
    </li>
  </ul>
  <div class="mt-1e text-center">
    <%= render "common_layouts/attendances/top_attendance", target: current_staff, attendance: @attendance, path: :staffs_attendance_path %>
  </div>
  
  <!--▼--alert--▼-->
  <%= render 'shared/top_pages/alert_list/top' %>
  
  <!--▼--information--▼-->
  <%= render 'shared/top_pages/information/top' %>
  
  <!--▼--construction_schedule--▼-->
  <%= render 'shared/top_pages/construction_schedule/top' %>
  
  <!--▼--schedule--▼-->
  <%= render 'shared/top_pages/schedule/top' %>
  
  <!--▼--task--▼-->
  <%= render 'shared/top_pages/tasks/top' %>
  
</div>
