<div class="col-md-12">
  <%= render partial: 'layouts/page_title', locals: { title_1: "アカウント", title_2: "#{current_manager.name} の編集", icon: "fa-user-edit"} %>
  
  <div class="avator_container">
    <%= render partial: 'common_layouts/avators/avator', locals:{login_user: current_manager, 
                                                                 edit_path: :managers_avator_change_path,
                                                                 destroy_path: :managers_avator_destroy_path} %>
  </div>
  <div class="card">
  <div class="card-body">
    <%= form_with(model: @manager, url: manager_registration_path, local: true) do |f| %>
      <%= render "shared/error_messages", resource: @manager %>
      <%= render 'managers/registrations/partial/form', f: f %>
      <div class="btn-area">
        <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>

<% if @manager.errors.any? %>
  <script>
    $(document).ready(function() {
      history.pushState("", "", location.href + "/edit")
    });
  </script>
<% else %>
  <%= javascript_include_tag "postal_code_to_address.js" %>
<% end %>