<% messages_by_date.each do |date, messages| %>
  <div class="before_message_container">
    <div class="text-center">
      <div class="date_container">
        <span><%= chat_day_display(date) %></span>
      </div>
    </div>
          
    <% messages.each do |message| %> 
      <% if my_message?(message) %>
        
        <!--自分のメッセージ-->
        <div class="balloon_r">
          <span><%= message.created_at.strftime("%H:%M") %></span>
          <div class="my_says">
            <p id="<%= message.id %>"><%= message.message %></p>
          </div>
        </div>
            
      <% else %>
        
        <!--自分以外のメッセージ-->
        <div class="balloon_l">
          <div class="faceicon">
            <img src="https://stand-4u.com/stand-4u/wp-content/uploads/2019/09/s4man.png" alt="" >
          </div>
          <div>
            <span class="name_container"><%= sender_name(message) %></span>
            <p id="<%= message.id %>" class="says"><%= message.message %></p>
          </div>
          <span class="mt-2e"><%= message.created_at.strftime("%H:%M") %></span>
        </div>
              
      <% end %>
    <% end %>
    
    <!--非同期処理により追加されるDOM-->
    <!--<i%= if recieve_status == "true" %>-->
    <!--  <div class="add_chat" style="display: none">-->
    <!--    i%= render partial: "add_chat" %>-->
    <!--  </div>-->
    <!--<i% end %>-->
  </div>             
<% end %>

<!--<script>-->
<!--window.onload = function() {-->
<!--  var obj = document.getElementById("chat");-->
<!--  obj.scrollTop = obj.scrollHeight;-->
<!--}-->
<!--</script>-->


