<div class="container-fluid talk_room_framework">
  <div class="col-sm-10 offset-sm-1">
    <div class="talk_room_container">
      <!-- タイトル -->
      <div class="line__container">
        <div class="line__title">
          <span><%= @matter.title %>のROOM</span><span class="ml-2e">投稿ネーム：</span><span id="current_name"><%= current_name %></span>
        </div>
      </div>
      <!-- ▼会話エリア -->
      <div class="chat_container" id="chat">
        <% @messages_by_date.each do |date, messages| %>
          <!--日付-->
          <div class="text-center">
            <div class="date_container">
          　　<span><%= chat_day_display(date) %></span>
            </div>
          </div>
          
          <!--message-->
          <div class="message_container" id="message_container">
            <%= render partial: 'message', collection: messages %>
          </div>
        <% end %>
      </div>
    </div>
  
    <div>
      <form>
        <div class="label_container">
          <label style="color: white;" id="target">新しいメッセージを作成</label><br>
        </div>
        <div>
          <% if admin_signed_in? %>
            <input type="hidden" name="admin_id" value="<%= current_admin.id %>" id="admin_id">
          <% elsif manager_signed_in? %>
            <input type="hidden" name="manager_id" value="<%= current_manager.id %>" id="manager_id">
          <% elsif staff_signed_in? %>
            <input type="hidden" name="staff_id" value="<%= current_staff.id %>" id="staff_id">
          <% elsif external_staff_signed_in? %>
            <input type="hidden" name="external_staff_id" value="<%= current_external_staff.id %>" id="external_staff_id">   
          <% end %>
        </div>
        <div>
          <input type="hidden" name="matter_id" value="<%= @matter.id %>" id="matter_id">
        </div>
        <div class="row form_container">
          <div class="col-sm-10">
            <textarea id="chat-input" data-behavior="room_speaker" placeholder="メッセージを入力" class="form-control"></textarea>
          </div>
          <div class="col-sm-10">
            <input type="file" id="chat_file" name="image">
          </div>
          <div class="col-sm-2 text-right">
            <button type="button" class="btn btn-dark chat_submit">送信</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<!--▼talk_room.jsのspeakアクションに送信-->
<script>
$(function(){
  $(".chat_submit").on("click",function(){
    var message = $("#chat-input").val();
    var file = $("#chat-file").val();
    var matter_id = $('#matter_id').val();
    var admin_id = $("#admin_id").val();
    var manager_id = $("#manager_id").val();
    var staff_id = $("#staff_id").val();
    var external_staff_id = $("external_staff_id").val();
    
    App.talk_room.speak(message, file, matter_id, admin_id, manager_id, staff_id, external_staff_id);
    $("#chat-input").val("");
    $('#chat_file').val("");
  });
});
</script>

<!--▼スクロール関係-->
<script>
  window.onload = function() {
    var obj = document.getElementById("chat");
    obj.scrollTop = obj.scrollHeight;
  }
</script>

<script>
$( function(){
  var fix    = $(".date_container");             //メニューオブジェクトを格納
  var fixTop = fix.offset().top;             //メニューの縦座標を格納
  $("#chat").scroll(function () {       //スクロールが発生したら開始
    var tr = $("#chat").scrollTop();
    if($("#chat").scrollTop() <= 1) {
      var front_id = $("#chat p:first").attr("id");
      $.ajax({
        type: "GET",
        url: "<%= scroll_get_messages_employees_matter_talkrooms_path(@matter) %>",
        cache: false,
        data: { front_id: front_id, remote: true }
      })
    };
  });
});
</script>