<div class="col-12">
  <%= render "layouts/page_title", title_1: "アカウント", title_2: "#{ current_staff.name } の編集", icon: "fa-user-edit" %>
  
  <div class="avator_container">
    <%= render "common_layouts/avators/avator",login_user: current_staff, edit_path: :staffs_avator_change_path,
                                                                          destroy_path: :staffs_avator_destroy_path %>
  </div>
  
  <div class="card mt-1e">
    <div class="card-body">
      <%= form_with(model:@staff, url: staff_registration_path, local: true) do |f| %>
        <%= render "shared/error_messages", resource: @staff %>
        <%= render "staffs/registrations/partial/form", f: f %>
      
        <div class="btn-area">
          <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>

<% if @staff.errors.any? %>
  <script>
    $(document).ready(function() {
      history.pushState("", "", location.href + "/edit")
    });
  </script>
<% else %>
  <%= javascript_include_tag "postal_code_to_address.js" %>
<% end %>
