<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header">タスク編集</h5>

        <div class="card-body">
          <%= form_with(model: @task, url: "#", method: :patch, remote: true, id: "edit-task-form") do |f| %>
            <div class="task-update-errors"></div>

            <%= f.label :title %>
            <%= f.text_field :title, required: true, class: "form-control", maxlength: 30, id: "task-title" %>

            <%= f.label :content %>
            <%= f.text_area :content, class: "form-control", maxlength: 3000, id: "task-content" %>

            <h5 class="text-center mt-1e">担当者</h5>
            <div class="flex mt-1e">
              <div class="pl-05e pr-05e" style="width: calc(100% / 3);">
                <button class="btn btn-dark btn-block" type="button">Manager</button>
              </div>
              <div class="pl-05e pr-05e" style="width: calc(100% / 3);">
                <button class="btn btn-dark btn-block" type="button">Staff</button>
              </div>
              <div class="pl-05e pr-05e" style="width: calc(100% / 3);">
                <button class="btn btn-dark btn-block" type="button">外部Staff</button>
              </div>
            </div>

            <div>
              <div id="manager-select">
                <%= f.label :manager_id %>
                <%= f.collection_select :manager_id, Manager.all, :id, :name, { include_blank: "Managerを選択" }, class: "form-control", id: "manager" %>
              </div>
              <div id="staff-select">
                <%= f.label :staff_id %>
                <%= f.collection_select :staff_id, Staff.all, :id, :name, { include_blank: "Staffを選択" }, class: "form-control", id: "staff" %>
              </div>
              <div id="external-staff-select">
                <%= f.label :external_staff_id %>
                <%= f.collection_select :external_staff_id, ExternalStaff.all, :id, :name, { include_blank: "外部Staffを選択" }, class: "form-control", id: "external-staff" %>
              </div>
            </div>
            
            <div class="btn-area">
              <%= f.submit "更新", class: "btn btn-dark" %>
              <%= link_to "削除", "#", method: :delete, data: { confirm: "このタスクを削除してよろしいですか？" }, remote: true, class: "btn btn-danger", id: "destroy-task" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on("turbolinks:load", function() {
    const managerSelect = $("#manager-select");
    const staffSelect = $("#staff-select");
    const externalStaffSelect = $("#external-staff-select");
    const manager = $("#manager");
    const staff = $("#staff");
    const externalStaff = $("#external-staff");

    manager.change(function() {
  
    });
    staff.change(function() {
    
    });
    externalStaff.change(function() {
    
    });
  });
</script>
