<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body pa-2e">
      <div class="card mb-3">
          <% @matter.tasks.each do |task| %>
            <%= @task_status = task.status %>
          <% end %>

          <% if  %>
            <h5 class="card-header relevant_color">タスク編集</h5>
          <% end %>
          <% if @task_status.in?(status: 2) %>
            <h5 class="card-header ongoing_color">タスク編集</h5>
          <% end %>
          <% if @task_status.in?(status: 3)  %>
            <h5 class="card-header finished_color">タスク編集</h5>
          <% end %>


        <div class="card-body">
          <%= form_with(model: @task, url: "#", method: :patch, remote: true, id: "edit-task-form") do |f| %>
            <div class="task-update-errors"></div>

            <%= f.label :title %>
            <%= f.text_field :title, required: true, class: "form-control", maxlength: 30, id: "task-title" %>

            <%= f.label :content %>
            <%= f.text_area :content, class: "form-control", maxlength: 3000, id: "task-content" %>
            
            <div class="btn-area">
              <%= f.submit "更新", class: "btn btn-dark" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
