<div style="text-align: center;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
      <div class="modal-body pa-2e">
        <%= form_with(model: @image, url: employees_estimate_matter_images_path(current_estimate_matter), local: true) do |f| %>
          <% if @image.errors.any? %>
            <div id="error_explanation">
              <% @image.errors.full_messages.each do |message| %>
                <li class="image-error-color"><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        
          <%= f.label :content %>
          <div>
            <%= f.text_area :content, maxlength: 300 %>
          </div>
          
          <%= f.label :shooted_on %>
          <div>
            <%= f.date_field :shooted_on, class: "btn btn-secondary" %>
          </div>
          
          <%= f.label :images %>
          <div class="margin-bottom-posision">
            <%= f.file_field :images, class: "file-input" %>
          </div>
        
          <%= f.submit class: "btn btn-dark" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  
<% if @image.errors.any? %>
  <script>
    $(document).ready(function() {
      history.pushState("", "", location.href + "/new")
    });
  </script>
<% end %>
      