<div class="text-center">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
      <div class="modal-body pa-2e">
      <div class="image-create-errors"></div>
        <%= form_with(model: @image, url: employees_estimate_matter_images_path(current_estimate_matter), remote: true) do |f| %>
          <%= f.label :content %>
          <div>
            <%= f.text_area :content, maxlength: 300 %>
          </div>
          
          <%= f.label :shooted_on %>
          <div>
            <%= f.date_field :shooted_on, class: "btn btn-secondary" %>
          </div>
          
          <%= f.label :images %>
          <div class="margin-bottom-posision">
            <%= f.file_field :images, accept: 'image/jpeg, image/png, image/gif, image/bmp, image/psd, image/tiff', class: "file-input" %>
          </div>
        
          <%= f.submit class: "btn btn-dark" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  
<% if @image.errors.any? %>
  <script>
    $(document).ready(function() {
      history.pushState("", "", location.href + "/new")
    });
  </script>
<% end %>
      