<div class="col-12" id="top-page">
  
  <!--▼出退勤ボタンの表示-->
  <section>
    <ul class="nav nav-tabs title_tab_bar">
      <li class="nav-item">
        <a class="nav-link attendance_tab">本日の出退勤</a>
      </li>
    </ul>
    <div class="mt-1e text-center">
      <%= render "common_layouts/attendances/top_attendance", target: current_manager, attendance: @attendance, path: :managers_attendance_path %>
    </div>
  </section>
  
  <!--▼--alert--▼-->
  <section>
    <% if @alert_result == true %> 
      <%= render 'shared/top_pages/alert_list/top' %>
    <% end %>
  </section>
  
  <!--▼--information--▼-->
  <section>
    <% if information_present? %>
      <%= render 'shared/top_pages/information/top' %>
    <% end %>
  </section>
  
  <section>
    <!--▼--construction_schedule--▼-->
    <%= render 'shared/top_pages/construction_schedule/top' %>
  
    <!--▼--schedule--▼-->
    <%= render 'shared/top_pages/schedule/top' %>
      
    <!--▼--task--▼-->
    <%= render 'shared/top_pages/tasks/top' %>
  </section>

</div>

<script>
  $(document).ready(function(){
    $('#default_password_user_index').modal('hide');
    $('#default_password_user_index').empty();
  });
</script>
