<div class="card">
  <div class="card-body">
    <%= form_with(model: @manager, url: employees_manager_path(@manager), local: true) do |f| %>
      <%= render "shared/error_messages", resource: @manager %>
      <%= render 'managers/registrations/partial/form', f: f %>

      <% if current_admin || self_manager %>
        <div class="btn-area">
          <%= f.submit "更新", class: "btn btn-dark" %>
          <% if current_admin %>
            <%= link_to "退職処理", retirement_process_employees_manager_path(@manager), class: "btn btn-destroy" %>
          <% end %>
          <% if @manager.avaliable == false && @manager.resigned_on %>
            <%= link_to "アカウント復活", restoration_employees_manager_path(@manager), method: :patch, class: "btn btn-success" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>