<% objects.each do |manager| %>
  <tr>
    <td><%= manager.department_name %></td>
    <td><%= link_to manager.name, employees_manager_path(manager) %></td>
    <td><%= manager.login_id %></td>
    <td><%= manager.phone %></td>
    <td><%= manager.joined_on %></td>
  </tr>
<% end %>
