<div class="row">
  <div class="col-12">
    <%= f.select :select_title, options_for_select(@instructions.map{|instruction|[instruction.title, instruction.id]}), {include_blank: "登録されたタイトルから選択する"}, {class: "form-control", id: "select_title"} %>
  </div>
  
  <div class="col-12">
    <%= f.label :title %>
    <%= f.text_field :title, required: true, class: "form-control", id: "title_field", maxlength: 30 %>
  </div>
  
  <div class="col-12">
    <%= f.label :content %>
    <div class="FlexTextarea">
      <div class="FlexTextarea__dummy" aria-hidden="true"></div>
      <%= f.text_area :content, class: "FlexTextarea__textarea", id: "construction-schedule-content" %>
    </div>
  </div>
</div>

<script>
  function flexTextarea(el) {
    const dummy = el.querySelector('.FlexTextarea__dummy')
    el.querySelector('.FlexTextarea__textarea').addEventListener('input', e => {
      dummy.textContent = e.target.value + '\u200b'
    })
  }

  document.querySelectorAll('.FlexTextarea').forEach(flexTextarea)
</script>

<script>
  $('#select_title').on('change', function(){
    var val = $(this).val();
    $.ajax({
      type: 'GET',
      url: "<%= new_employees_estimate_matter_instruction_path(@estimate_matter) %>",
      data: {id: val}
    });
  });
</script>