<!DOCTYPE html>
<html>
  <head>
    <title>DeviseLoginSystem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.1.0/jquery.sidebar.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "layouts/shim" %>
  </head>
  
  <!--ログイン画面のレイアウト-->
  <% if @type == "log_in" %>
    <body class="login_container">
      <header class="header_login">
        <%= render 'layouts/login_header' %>
      </header>
        <div class="login_content">
          <%= render 'layouts/flash' %>
          <%= yield %>
        </div>
    </body>
  
  <!--通常ページのレイアウト-->
  <% else %>
    <% if manager_signed_in? %>
      <%= render 'layouts/modal/modal_manager' %>
    <% elsif submanager_signed_in? %>
      <%= render 'layouts/modal/modal_submanager' %>
    <% end %>
    <body>
    <% if admin_signed_in? %>
      <%= render 'layouts/layout_type/admin_layout' %>
    <% elsif manager_signed_in? %>
      <%= render 'layouts/layout_type/manager_layout' %>
    <% elsif submanager_signed_in? %>
      <%= render 'layouts/layout_type/submanager_layout' %>
    <% elsif staff_signed_in? %>
      <%= render 'layouts/layout_type/staff_layout' %>
    <% elsif user_signed_in? %>
      <%= render 'layouts/layout_type/user_layout' %>
    <% end %>
    </body>
  <% end %>
</html>
