<!DOCTYPE html>
<html>
  <head>
    <title>AZABU</title>
     <%= include_gon %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="ツバケン">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.1.0/jquery.sidebar.min.js"></script>
    <%= javascript_include_tag "jquery.sliderPro.min.js" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= render "layouts/head/shim" %>
    <%= render "layouts/head/apple_touch_icon" %>
    <%= favicon_link_tag '/appicon/favicon.ico' %>


  </head>

  <!--ログイン画面のレイアウト-->
  <% if @type == "log_in" %>
    <%= render "layouts/modal" %>
    <body class="login-wrapper">
      <%= render "layouts/layout_type/login_layout" %>
    </body>

  <% elsif @type == "other_tab" %>
    <%= render "layouts/modal" %>

    <body>
      <div class="container-fluid mt-1e">
        <%= yield %>
      </div>
    </body>

  <% elsif @type == "current_situations" %>
    <body>
      <div class="progress_container">
        <%= yield %>
      </div>
    </body>

  <% elsif @type == "preview" %>
    <body class="print-layout">
      <%= yield %>
    </body>

  <!--通常ページのレイアウト-->
  <% else %>
    <%= render "layouts/modal" %>
    <%= javascript_include_tag 'setLocalStorage' %>
    <body>
      <!--localStorage-->
      <script>
        $(function(){
          var memberCode = <%= login_user.member_code.id %>;
          var myCount = <%= login_user.member_code.recieve_notifications.count %>
          var totalCount = <%= Notification.all.count %>
          setLocalStorage(memberCode, myCount, totalCount);
        });
      </script>

      <% if admin_signed_in? %>
        <%= render "layouts/authority/admin_layout" %>
      <% elsif manager_signed_in? %>
        <%= render "layouts/authority/manager_layout" %>
      <% elsif staff_signed_in? %>
        <%= render "layouts/authority/staff_layout" %>
      <% elsif client_signed_in? %>
        <%= render "layouts/authority/client_layout" %>
      <% elsif vendor_manager_signed_in? %>
        <%= render "layouts/authority/vendor_manager_layout" %>
      <% elsif external_staff_signed_in? %>
        <%= render "layouts/authority/external_staff_layout" %>
      <% end %>
    </body>
  <% end %>
</html>
